@model Pnbp.Entities.Pengumuman

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse(this);
    });
</script>

<div class="">
    <div class="page-title">
        <div class="title_left" style="width:100%"><h2><span id="LabelTitle">Entri Data Pengumuman - <b>@Model.JudulBerita</b></span></h2></div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="x_panel" style="padding-top:30px">

        @Html.HiddenFor(m => m.BeritaAppId, new { @id = "BeritaAppId" })
        @Html.HiddenFor(m => m.JudulBerita, new { @id = "JudulBerita" })
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <form class="form-horizontal form-label-left" id="frmBuatBaruPengumuman" method="post">
                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Judul Berita</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @Html.TextBoxFor(model => model.JudulBerita, new { @class = "form-control", @style = "text-transform:uppercase", @id = "judulberita", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.JudulBerita, "Judul Berita wajib diisi.")
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Isi Berita</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @Html.TextAreaFor(m => m.IsiBerita, new { @class = "form-control", @id = "isiberita", @rows = 8 })
                                            @Html.ValidationMessageFor(model => model.IsiBerita, "Isi Berita wajib diisi.")
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Mulai Tanggal</label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class='input-group date' id='tglMulai' style="margin-bottom: 0px;">
                                                @Html.TextBoxFor(model => model.TanggalMulai, new { @class = "form-control", @id = "tanggalmulai", @required = "required" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.TanggalMulai, "Mulai Tanggal wajib diisi")
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Sampai Tanggal</label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class='input-group date' id='tglBerakhir' style="margin-bottom: 0px;">
                                                @Html.TextBoxFor(model => model.TanggalBerakhir, new { @class = "form-control", @id = "tanggalberakhir", @required = "required" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.TanggalBerakhir, "Sampai Tanggal wajib diisi")
                                        </div>
                                    </div>
                                    @*<div class="ln_solid"></div>*@
                                    <div class="form-group">
                                        <div class="col-md-7 col-sm-7 col-xs-12 col-md-offset-2">
                                            <button id="save-btn" type="submit" class="btn btn-primary">Simpan</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>


<script type="text/javascript">
    $(function () {
        $("div#loading").hide();
    });
    
    $("#frmBuatBaruPengumuman").submit(function (e) {
        if ($("#frmBuatBaruPengumuman").valid()) {
            $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });

            //var isiberita = CKEDITOR.instances['isiberita'].getData();
            //console.log(isiberita);

            var frm = this, frmdata = new FormData(this);
            frmdata.append("beritaappid", $('#BeritaAppId').val());
            frmdata.append("isiberita", $('#isiberita').val());
            $.ajax({
                type: "POST",
                url: '@Url.Action("SimpanPengumuman", "Administrasi")',
                data: frmdata,
                contentType: false,
                processData: false,
                success: function (data, textStatus, XMLHttpRequest) {
                    if (data.Status) {
                        $('#LabelTitle').html('Entri Data Pengumuman - <b>' + $('#judulberita').val().toUpperCase() + '</b>');
                        $('#BeritaAppId').val(data.ReturnValue);
                        showmsg('Informasi', data.Pesan);
                    }
                    else {
                        showmsg('Perhatian', data.Pesan);
                    }
                    $.unblockUI();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) { $.unblockUI(); }
            });
        }
        else { console.log('Data input wajib belum Anda masukkan'); }
        e.preventDefault();
        return false;
    });

    $(document).ready(function () {
        $.unblockUI();

        //CKEDITOR.replace('isiberita');

        $('#tglMulai, #tanggalmulai, #tglBerakhir, #tanggalberakhir').datetimepicker({
            format: 'DD/MM/YYYY',
            locale: 'id'
        });

        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#back-to-top').tooltip('show');
    });
</script>
