@model List<Pnbp.Entities.PrioritasAlokasi>

@{
    ViewBag.Judul = "Daftar Prioritas Non Operasional";
}

<style>
    td.numeric, th.numeric {
        text-align: right;
    }

    .editors {
        display: none;
    }

    /*tr:hover,*/ 
    tr.selected, tr.selected {
        background-color: #B0BED9 !important;
    }
</style>

<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 class="sub-header">@(ViewBag.Judul)</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive" style="border:none">
                        <section id="flip-scroll">
                            <table class="table table-bordered dt-responsive nowrap" style="clear: both; border-collapse: collapse; width: 100%;">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;">Prioritas</th>
                                        <th class="numeric">Anggaran (Rp)</th>
                                        <th class="numeric">Alokasi (Rp)</th>
                                        <th class="numeric">Persentase (%)</th>
                                        <th class="numeric">Rencana<br/>Alokasi (Rp)</th>
                                    </tr>
                                </thead>

                                <tbody id="listprioritasholder">
                                    @foreach (var item in Model)
                                    {
                                        <tr style="cursor: pointer" onclick="showmanfaat(@item.Prioritaskegiatan)">
                                            <td class="numeric">@(item.Prioritaskegiatan)</td>
                                            <td class="numeric">@item.Nilaianggaran.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.Teralokasi.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@Math.Round((item.Teralokasi / item.Nilaianggaran * 100), 2)</td>
                                            <td class="numeric">@item.Alokasi.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                        </tr>
                                    }

                                    <tr>
                                        <td class="numeric">Total</td>
                                        <td class="numeric">@Model.Sum(a => a.Nilaianggaran).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                        <td class="numeric">@Model.Sum(a => a.Teralokasi).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                        <td class="numeric">@Math.Round((Model.Sum(a => a.Teralokasi) / Model.Sum(a => a.Nilaianggaran) * 100), 2)</td>
                                        <td class="numeric">@Model.Sum(a => a.Alokasi).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id='myModal' class='modal'>
    <div id='myModalContent'>
    </div>
</div>

<script type="text/javascript">
    $("tr").click(function () {
        $(this).addClass("selected").siblings().removeClass("selected");
    });

    var showmanfaat = function (v) {
        $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
        $.pjax({
            container: "#right_col",
            type: 'POST',
            url: '@Url.Action("PrioritasManfaat", "Administrasi")',
            data: ({ Id: v }),
            success: function (data, textStatus, XMLHttpRequest) {
                $('#right_col').html(data);
                $.unblockUI();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.unblockUI();
            }
        });
    }
</script>
