@{
	string jenisKantorUser = OtorisasiUser.GetJenisKantorUser();
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PNBP</title>

	<!-- CSS -->
	<link href='@Url.Content("~/resources/css/bootstrap.min.css")' rel="stylesheet" />
	<link href='@Url.Content("~/resources/css/icheck-bootstrap.css")' rel="stylesheet" />
	<link href='@Url.Content("~/resources/css/font-awesome.min.css")' rel="stylesheet" />
	<link href='@Url.Content("~/resources/css/jquery.mCustomScrollbar.min.css")' rel="stylesheet" />
	<link href='@Url.Content("~/resources/css/custom.min.css")' rel="stylesheet" />
	<link href='@Url.Content("~/resources/css/dataTables.bootstrap.min.css")' rel="stylesheet" />
	<link href='@Url.Content("~/resources/css/select2.min.css")' rel="stylesheet" />
	<link href='@Url.Content("~/resources/css/bootstrap-datetimepicker.css")' rel="stylesheet" />
	<link href='@Url.Content("~/resources/css/mycss.css")' rel="stylesheet" />
	<link href='@Url.Content("~/resources/sweetalert/sweetalert.css")' rel="stylesheet" />

	<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">


	<style type="text/css">

		td.numeric, th.numeric {
			text-align: right;
		}

		.fontBold {
			font-weight: bold;
		}

		.fontYellow {
			color: orange;
		}

		.fontRed {
			color: #ff0000;
		}

		.button-success {
			cursor: pointer;
			background-color: #26b99a;
			color: white;
		}

		.button-primary {
			cursor: pointer;
			background-color: #337ab7;
			color: white;
		}

		.editors {
			display: none;
		}

		.back-to-top {
			cursor: pointer;
			position: fixed;
			bottom: 20px;
			right: 20px;
			display: none;
		}

		.glyphicon {
			font-size: 14px;
		}

		textarea {
			resize: none;
			border: none;
		}

		.x_panel {
			border: none;
			padding: 3px;
		}

		.centertaligncolumn {
			text-align: center;
		}

		.centertaligndisabled {
			text-align: center;
			color: #de9898;
			font-weight: normal;
			font-family: 'Varela Round', sans-serif;
		}

		.fieldinfo {
			background-color: white;
			color: #000000;
			border-color: #ffffff;
			box-shadow: none !important;
			font-family: 'Varela Round', sans-serif;
			font-size: small;
		}

		.rightaligncolumn {
			text-align: right;
		}

		tr.even.selected, tr.odd.selected {
			background-color: #B0BED9 !important;
		}
		/* For Firefox */
		input[type='number'] {
			-moz-appearance: textfield;
		}
		/* Webkit browsers like Safari and Chrome */
		input[type=number]::-webkit-inner-spin-button,
		input[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		.btn-file {
			position: relative;
			overflow: hidden;
		}

			.btn-file input[type=file] {
				position: absolute;
				top: 0;
				right: 0;
				font-size: 100px;
				text-align: right;
				filter: alpha(opacity=0);
				opacity: 0;
				background: red;
				cursor: inherit;
				display: block;
			}

		.mytitleform {
			font-family: 'Muli', sans-serif;
			font-weight: normal;
			letter-spacing: 2px;
			word-spacing: 3px;
		}

		.mytitleform2 {
			font-family: 'Varela Round', sans-serif;
			font-weight: normal;
			letter-spacing: 2px;
			word-spacing: 3px;
			color: #169f85;
		}

		.control-label {
			text-align: right;
		}

		.navbar {
			position: unset;
		}

		.editor-active {
			cursor: pointer;
		}

		td.highlight {
			background-color: whitesmoke !important;
		}

		.glyphicon.glyphicon-search {
			font-size: 24px;
		}

		.displaytotal {
			margin: 0px;
			padding: 0px;
			text-align: right;
			font-weight: bold !important;
			border: none;
			color: #7a98b8;
		}

		.field-validation-error {
			color: #ad1010;
			font-family: 'Varela Round', sans-serif;
		}

		.input-validation-error {
			border: 1px solid #cccccc !important;
			background-color: #fff8f8 !important;
		}

		.field-validation-valid {
			display: none;
		}

		.validation-summary-errors {
			font-weight: bold !important;
			color: #ad1010 !important;
		}

		.validation-summary-valid {
			display: none;
		}

		.title_left {
			font-family: 'Proxima Nova Cn Rg', sans-serif;
		}

		.tddisabled {
			color: #de9898;
			font-weight: normal;
			font-family: 'Varela Round', sans-serif;
		}

		.tdnormal {
			font-weight: normal;
		}

		.tdhighlight {
			font-weight: bold;
		}
	</style>


	<!-- JS -->
	<script src='@Url.Content("~/resources/js/jquery.min.js")'></script>
	<script src='@Url.Content("~/resources/js/moment.min.js")'></script>
	<script src='@Url.Content("~/resources/js/bootstrap-datetimepicker.min.js")'></script>
	<script src='@Url.Content("~/resources/js/id.js")'></script>
	<script src='@Url.Content("~/resources/js/bootstrap.min.js")'></script>
	<script src='@Url.Content("~/resources/js/jquery.pjax.js")'></script>
	<script src='@Url.Content("~/resources/js/jquery.dataTables.min.js")'></script>
	<script src='@Url.Content("~/resources/js/dataTables.bootstrap.min.js")'></script>
	<script src='@Url.Content("~/resources/js/jquery.blockUI.js")'></script>
	<script src='@Url.Content("~/resources/js/select2.full.min.js")'></script>
	<script src='@Url.Content("~/resources/js/jquery.confirm.js")'></script>
	<script src='@Url.Content("~/resources/js/select2.multi-checkboxes.min.js")'></script>
	<script src='@Url.Content("~/resources/sweetalert/sweetalert.min.js")'></script>
	<script src='@Url.Content("~/resources/js/myjs.js")' type="text/javascript"></script>
	<script src='@Url.Content("~/resources/js/jquery.validate.min.js")'></script>
	<script src='@Url.Content("~/resources/js/jquery.validate.unobtrusive.min.js")'></script>
</head>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col menu_fixed">
				<div class="left_col scroll-view" style="width:100%;">
					<div class="text-center nav_title navbar profile" style="border: 0;">
						<h2>PNBP</h2>
						@*Kantor Pertanahan<br />*@
						@((User as Pnbp.Entities.InternalUserIdentity).NamaKantor.Replace("Kantor Pertanahan", ""))
					</div>
					<div class="clearfix"></div>
					<!-- menu profile quick info -->
					<a href="https://app.atrbpn.go.id">
						<div class="profile clearfix text-center">
							<img src='@Url.Content("~/resources/images/logobpn.png")' style="width:60px;height:60px;" />
							<hr style="margin:5px 10px 5px 20px" />
						</div>
					</a>
					<!-- /menu profile quick info -->
					@*<br />*@
					<!-- sidebar menu -->
					<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
						<div class="menu_section">
							<ul class="nav side-menu">
								<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Beranda</a></li>
								<li>
									<a><i class="fa fa-edit"></i>Alokasi<span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										@if (jenisKantorUser == "Pusat")
										{
											@*<li><a href="@Url.Action("ImportAlokasi", "Alokasi")">Import Alokasi</a></li>
												<li><a href="@Url.Action("ListDataManfaatV2", "Pemanfaatan")">Monitoring Alokasi</a></li>
												<li><a href="@Url.Action("Alokasi", "MonitoringEvaluasi")">Monitoring Evaluasi</a></li>*@

											<li><a href="@Url.Action("ImportAlokasi", "Alokasi")">Alokasi Pusat</a></li>
											@*<li><a href="@Url.Action("ListDataManfaatV2", "Pemanfaatan")">Monitoring Alokasi</a></li>*@
											<li><a href="@Url.Action("Alokasi", "MonitoringEvaluasi")">Monitoring Alokasi</a></li>
										}
										else
										{
											@*<li><a href="@Url.Action("ListDataManfaatKROV2", "Pemanfaatan")">Alokasi KRO</a></li>*@
											@*<li><a href="@Url.Action("ListDataManfaatV2", "Pemanfaatan")">Monitoring Alokasi</a></li>*@
											<li><a href="@Url.Action("Alokasi", "MonitoringEvaluasi")">Monitoring Alokasi</a></li>
										}
									</ul>
								</li>
								<li>
									<a><i class="fa fa-file-text-o"></i>Penerimaan<span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a href="@Url.Action("pn_provinsi", "Penerimaan")">Provinsi</a></li>
										<li><a href="@Url.Action("pn_satker", "Penerimaan")">Satuan Kerja</a></li>
										<li><a href="@Url.Action("pn_layanan", "Penerimaan")">Layanan</a></li>
										@*<li><a href="@Url.Action("BerandaPenerimaan", "Penerimaan")">Beranda Penerimaan</a></li>
											<li>
												<a>Realisasi Penerimaan<span class="fa fa-chevron-down"></span></a>
												<ul class="nav child_menu">
													<li><a href="@Url.Action("RealisasiPenerimaan", "Penerimaan")">Penerimaan Per Satker</a></li>
													<li><a href="@Url.Action("RealisasiLayanan", "Penerimaan")">Penerimaan Per Layanan</a></li>
												</ul>
											</li>
											<li><a href="@Url.Action("StatistikNTPN", "Penerimaan")">Statistik NTPN</a></li>
											<li><a href="@Url.Action("Rekonsiliasi", "Penerimaan")">Rekonsiliasi Simfoni</a></li>
											<li><a href="@Url.Action("InformasiBerkas", "Administrasi")">Informasi Berkas</a></li>
											<li><a href="@Url.Action("PengajuanPengembalianIndex", "Pengembalian")">Pengembalian PNBP</a></li>*@
									</ul>
								</li>
								<li>
									<a><i class="fa fa-file-text-o"></i>Belanja<span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a href="@Url.Action("rl_provinsi", "Pemanfaatan")">Provinsi</a></li>
										<li><a href="@Url.Action("rl_satker", "Pemanfaatan")">Satuan Kerja</a></li>
										<li><a href="@Url.Action("rl_kro", "Pemanfaatan")">KRO</a></li>
									</ul>
								</li>
								<!--<li>
								<a><i class="fa fa-file-text-o"></i>Pemanfaatan<span class="fa fa-chevron-down"></span></a>
								<ul class="nav child_menu">
									<li><a href="@Url.Action("RincianAlokasi", "Pemanfaatan")">Rincian Alokasi</a></li>-->
								@*<li><a href="@Url.Action("ListDataManfaat", "Pemanfaatan")">Data Pemanfaatan</a></li>*@
								@*<li><a href="@Url.Action("ListDataManfaatV2", "Pemanfaatan")">Data Pemanfaatan</a></li>*@
								<!--<li><a href="@Url.Action("PersetujuanRevisiManfaat", "Pemanfaatan")">Persetujuan Revisi</a></li>
									</ul>
								</li>-->
								<li>
									<a><i class="fa fa-file-text-o"></i>Pengembalian<span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										@if (jenisKantorUser == "Kanwil" || jenisKantorUser == "Kantah")
										{
											<li><a href="@Url.Action("pusat", "Pengembalian")">Pusat</a></li>
											<li><a href="@Url.Action("daerah", "Pengembalian")">Daerah</a></li>
										}
										<li><a href="@Url.Action("mon_pengembalian", "Pengembalian")">Monitoring</a></li>
										@*<li><a href="@Url.Action("PengajuanPengembalianIndex", "Pengembalian")">Pengembalian PNBP</a></li>*@
									</ul>
								</li>
								<!--<li>
								<a><i class="fa fa-files-o"></i>Monitoring Evaluasi<span class="fa fa-chevron-down"></span></a>
								<ul class="nav child_menu">
									<li><a href="@Url.Action("Penerimaan", "MonitoringEvaluasi")">Penerimaan</a></li>
									<li><a href="@Url.Action("Belanja", "MonitoringEvaluasi")">Belanja</a></li>-->
								@*<li><a href="@Url.Action("Alokasi", "MonitoringEvaluasi")">Alokasi</a></li>*@
								<!--</ul>
								</li>-->
								@*@if (@OtorisasiUser.GetJenisKantorUser() == "Pusat")
									{
										<li>
											<a><i class="fa fa-gears"></i>Administrasi<span class="fa fa-chevron-down"></span></a>
											<ul class="nav child_menu">
												<li><a href="@Url.Action("Pengumuman", "Administrasi")">Pengumuman</a></li>
												<li><a href="@Url.Action("AksesEditPagu", "Administrasi")">Akses Edit Pagu</a></li>
												<li><a href="@Url.Action("ManajemenData", "Administrasi")">Manajemen Data</a></li>
												<li><a href="@Url.Action("RincianBiaya", "Administrasi")">Rincian Biaya</a></li>
												<li><a href="@Url.Action("Index", "Satkernomenklatur")">Data Nomenklatur</a></li>
												<li><a href="@Url.Action("Index", "Program")">Data Program</a></li>
												<li><a href="@Url.Action("Index", "KodeSpan")">Data Kode Span</a></li>
											</ul>
										</li>
									}
									<li><a href="@Url.Action("TargetIndex", "Target")"><i class="fa fa-money"></i> Target</a></li>
									@if (@OtorisasiUser.GetJenisKantorUser() == "Pusat")
									{
										<li>
											<a><i class="fa fa-gears"></i>Audit Trail<span class="fa fa-chevron-down"></span></a>
											<ul class="nav child_menu">
												<li><a href="@Url.Action("AuditTrailPengembalian", "AuditTrail")"><i class="fa fa-money"></i> Pengembalian PNBP</a></li>
												<li><a href="@Url.Action("AuditTrailEntri", "AuditTrail")"><i class="fa fa-money"></i> Entri Renaksi</a></li>
												<li><a href="@Url.Action("AuditTrailAlokasi", "AuditTrail")"><i class="fa fa-money"></i> Alokasi Non Ops</a></li>
											</ul>
										</li>
									}*@
								@*@if (OtorisasiUser.GetJenisKantorUser() == "Pusat")
									{
										<li>
											<a><i class="fa fa-gears"></i>Administrasi<span class="fa fa-chevron-down"></span></a>
											<ul class="nav child_menu">
												<li><a href="@Url.Action("manajemendata", "administrasi")">Manajemen Data</a></li>
											</ul>
										</li>
									}*@

								@if (jenisKantorUser == "Pusat")
								{
									<li>
										<a><i class="fa fa-gears"></i>Administrasi<span class="fa fa-chevron-down"></span></a>
										<ul class="nav child_menu">
											<li><a href="@Url.Action("manajemendata", "administrasi")">Manajemen Data</a></li>
											<li><a href="@Url.Action("InformasiBerkas", "Administrasi")">Informasi Berkas</a></li>
											<li><a href="@Url.Action("Kantor", "Administrasi")">Kantor</a></li>
											<li><a href="@Url.Action("Prioritas", "Administrasi")">Prioritas</a></li>
										</ul>
									</li>
								}

							</ul>
						</div>
					</div>
					<!-- /sidebar menu -->
				</div>
			</div>
			<!-- top navigation -->
			<div class="top_nav">
				<div class="nav_menu dontprint" id="topbar">
					<nav>
						<div class="nav toggle">
							<a id="menu_toggle"><i class="fa fa-bars"></i></a>
						</div>
						<ul class="nav navbar-nav navbar-right">
							<li class="">
								<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									@((User as Pnbp.Entities.InternalUserIdentity).NamaPegawai)
									<span class="fa fa-angle-down"></span>
								</a>
								<ul class="dropdown-menu dropdown-usermenu pull-right">
									@*<li><a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-user"></i> Akun</a></li>*@
									<li><a href="@Url.Action("LogOff", "Account")"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- /top navigation -->
			<!-- page content -->
			<div class="right_col" role="main" id="right_col">
				@RenderBody()
			</div>
			<!-- /page content -->
		</div>
	</div>
	@*<script src="../build/js/custom.js"></script>*@
	<script src="https://cdn.jsdelivr.net/npm/jquery-popover@0.0.4/src/jquery-popover.min.js"></script>
	<script src='@Url.Content("~/resources/js/custom.js")'></script>
	<script src='@Url.Content("~/resources/js/jquery.mCustomScrollbar.concat.min.js")'></script>
	<script src='@Url.Content("~/resources/ckeditor/ckeditor.js")'></script>
</body>
</html>
