@model List<Pnbp.Entities.PaguAlokasiSatker>
@{
    var kantorid = ViewData["kantorid"].ToString();
    var namasatker = ViewData["namasatker"].ToString();
}

<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="">
                    <h2 class="sub-header">Daftar Alokasi Pemanfaatan @namasatker</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive" style="border:none">
                        <section id="flip-scroll">
                            <table class="table table-bordered nowrap" style="clear: both; border-collapse: collapse; width: 100%;">
                                @*<caption><b style="letter-spacing:3px; word-spacing:5px; color:#1abb9c">SATKER</b></caption>*@
                                <tr>
                                    <th rowspan="2" style="text-align:center; vertical-align:middle;">No.</th>
                                    <th rowspan="2" style="text-align:center; vertical-align:middle;">Nama Satker</th>
                                    <th colspan="2" style="text-align:center;">Operasional</th>
                                    <th colspan="2" style="text-align:center;">Non Operasional</th>
                                    <th rowspan="2" style="text-align:center; vertical-align:middle;">Persentase</th>
                                    <th rowspan="2" style="text-align:center; vertical-align:middle;">Belum Alokasi</th>
                                    <th colspan="2" style="text-align:center;">Januari</th>
                                    <th colspan="2" style="text-align:center;">Februari</th>
                                    <th colspan="2" style="text-align:center;">Maret</th>
                                    <th colspan="2" style="text-align:center;">April</th>
                                    <th colspan="2" style="text-align:center;">Mei</th>
                                    <th colspan="2" style="text-align:center;">Juni</th>
                                    <th colspan="2" style="text-align:center;">Juli</th>
                                    <th colspan="2" style="text-align:center;">Agustus</th>
                                    <th colspan="2" style="text-align:center;">September</th>
                                    <th colspan="2" style="text-align:center;">Oktober</th>
                                    <th colspan="2" style="text-align:center;">November</th>
                                    <th colspan="2" style="text-align:center;">Desember</th>
                                </tr>
                                <tr>
                                    <th style="text-align:center;">Pagu</th>
                                    <th style="text-align:center;">Alokasi</th>
                                    <th style="text-align:center;">Pagu</th>
                                    <th style="text-align:center;">Alokasi</th>
                                    <th style="text-align:center;">Anggaran</th>
                                    <th style="text-align:center;">Alokasi</th>
                                    <th style="text-align:center;">Anggaran</th>
                                    <th style="text-align:center;">Alokasi</th>
                                    <th style="text-align:center;">Anggaran</th>
                                    <th style="text-align:center;">Alokasi</th>
                                    <th style="text-align:center;">Anggaran</th>
                                    <th style="text-align:center;">Alokasi</th>
                                    <th style="text-align:center;">Anggaran</th>
                                    <th style="text-align:center;">Alokasi</th>
                                    <th style="text-align:center;">Anggaran</th>
                                    <th style="text-align:center;">Alokasi</th>
                                    <th style="text-align:center;">Anggaran</th>
                                    <th style="text-align:center;">Alokasi</th>
                                    <th style="text-align:center;">Anggaran</th>
                                    <th style="text-align:center;">Alokasi</th>
                                    <th style="text-align:center;">Anggaran</th>
                                    <th style="text-align:center;">Alokasi</th>
                                    <th style="text-align:center;">Anggaran</th>
                                    <th style="text-align:center;">Alokasi</th>
                                    <th style="text-align:center;">Anggaran</th>
                                    <th style="text-align:center;">Alokasi</th>
                                    <th style="text-align:center;">Anggaran</th>
                                    <th style="text-align:center;">Alokasi</th>
                                </tr>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="numeric">@item.Rownums.ToString("N0", new System.Globalization.CultureInfo("id-ID")).</td>
                                            <td class="normal">@(item.NamaSatker)</td>
                                            <td class="numeric">@item.PaguOps.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AlokasiOps.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.PaguNonOps.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AlokasiNonOps.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.PersentaseString</td>
                                            <td class="numeric">@item.BelumAlokasi.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AnggJan.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AlokJan.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AnggFeb.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AlokFeb.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AnggMar.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AlokMar.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AnggApr.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AlokApr.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AnggMei.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AlokMei.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AnggJun.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AlokJun.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AnggJul.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AlokJul.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AnggAgt.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AlokAgt.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AnggSep.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AlokSep.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AnggOkt.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AlokOkt.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AnggNov.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AlokNov.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AnggDes.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="numeric">@item.AlokDes.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                        </tr>
                                    }

                                        <tr>
                                            <td class="numeric"></td>
                                            <td class="myLabelContentRight">Total</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.PaguOps).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AlokasiOps).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.PaguNonOps).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AlokasiNonOps).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Math.Round((Model.Sum(a => a.TotalAlokasi) / Model.Sum(a => a.TotalPagu) * 100), 2) %</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.BelumAlokasi).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AnggJan).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AlokJan).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AnggFeb).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AlokFeb).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AnggMar).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AlokMar).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AnggApr).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AlokApr).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AnggMei).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AlokMei).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AnggJun).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AlokJun).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AnggJul).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AlokJul).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AnggAgt).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AlokAgt).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AnggSep).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AlokSep).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AnggOkt).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AlokOkt).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AnggNov).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AlokNov).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AnggDes).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="myLabelContentRight">@Model.Sum(a => a.AlokDes).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                        </tr>
                                </tbody>
                            </table>

                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        $.unblockUI();
    });

    var showalokasi = function (i, n) {
        @*$.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
        $.pjax({
            container: "#right_col",
            type: 'POST',
            url: '@Url.Action("AlokasiPemanfaatanDetail", "Pemanfaatan")',
            data: ({ Id: i, Nama: n }),
            success: function (data, textStatus, XMLHttpRequest) {
                $('#right_col').html(data);
                $.unblockUI();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.unblockUI();
            }
        });*@
    }
</script>