@model Dictionary<int, Pnbp.Entities.PrioritasAlokasi>
@{
    var userKaBiroPerencanaan = ViewBag.UserKaBiroPerencanaan;
    var userKaBiroKeuangan = ViewBag.UserKaBiroKeuangan;
}

<% if (Model.Count > 0) { %>
@foreach (var lst in Model)
{

<tr class="">
    <td class="centertaligncolumn" style="min-width:5vmin">@lst.Value.RNumber</td>
    <td class="centertaligncolumn" style="width:15%">@lst.Value.Kodesatker</td>
    <td>@lst.Value.Namasatker</td>
    <td>@lst.Value.Namaprogram</td>
    <td class="rightaligncolumn">@lst.Value.Nilaianggaran.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
    <td class="rightaligncolumn">@lst.Value.Alokasi.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
    <td style="text-align:center;">
        @if (@lst.Value.StatusRevisi == 1)
        {
            if (@lst.Value.Persetujuan1 == 1)
            {
                if (@userKaBiroPerencanaan)
                {
                    <input type="checkbox" checked="checked" name="table1_records">
                }
                else
                {
                    @*<input type="checkbox" checked="checked" disabled="disabled" name="table1_records">*@
                    <span class="fa fa-check" style="text-align: center; color:lightgreen;"></span>
                }
            }
            else
            {
                if (@userKaBiroPerencanaan)
                {
                    <input type="checkbox" name="table1_records">
                }
                else
                {
                    @*<input type="checkbox" disabled="disabled" name="table1_records">*@
                    <span class="fa fa-close" style="text-align: center; color:red;"></span>
                }
            }
        }
        else
        {
            @*<input type="checkbox" disabled="disabled" name="table1_records">*@
            <span class="fa fa-close" style="text-align: center; color:red;"></span>
        }
    </td>
    <td style="text-align:center;">
        @if (@lst.Value.StatusRevisi == 1)
        {
            if (@lst.Value.Persetujuan2 == 1)
            {
                if (@userKaBiroKeuangan)
                {
                    <input type="checkbox" checked="checked" name="table2_records">
                }
                else
                {
                    @*<input type="checkbox" checked="checked" disabled="disabled" name="table2_records">*@
                    <span class="fa fa-check" style="text-align: center; color:lightgreen;"></span>
                }
            }
            else
            {
                if (@userKaBiroKeuangan)
                {
                    <input type="checkbox" name="table2_records">
                }
                else
                {
                    @*<input type="checkbox" disabled="disabled" name="table2_records">*@
                    <span class="fa fa-close" style="text-align: center; color:red;"></span>
                }
            }
        }
        else
        {
            @*<input type="checkbox" disabled="disabled" name="table2_records">*@
            <span class="fa fa-close" style="text-align: center; color:red;"></span>
        }
    </td>
    <td style="text-align:center;cursor: pointer;" onclick="showFile('@lst.Value.Manfaatid','@lst.Value.StatusRevisi');"><i class="fa fa-eye"></i></td>
</tr>
}
<% } %>


<script type="text/javascript">
    var objpdf = null;
    function showFile(id, statusrevisi) {
        if (statusrevisi == '1') {
            if (id !== null && id !== '') {
                var objurl = '@Url.Action("GetFileManfaat", "Administrasi")?id=' + id;
                objpdf = objurl;
                var options = { "backdrop": "static", keyboard: true };
                $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DocViewer", "Konten")',
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#myModalDocViewer').modal(options);
                        $('#myModalDocViewer').modal('show');
                        $.unblockUI();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $.unblockUI();
                    }
                });
            }
        }
    };

    $('td').click(function (event) {
        if ($(event.target).is('input')) {
            $('input:checkbox', this).prop('checked', function (i, value) {
                $(this).addClass("selected");
                var a = $(this).closest("tr").find("td:eq(1)").text();
                var b = $(this).closest("tr").find("td:eq(3)").text();

                $.confirm({
                    title: "Konfirmasi Persetujuan Revisi",
                    text: "Apakah data akan di ubah ?",
                    modalOptionsBackdrop: 'static',
                    modalOptionsKeyboard: true,
                    confirmButton: "Ya",
                    cancelButton: "Batal",
                    confirm: function () {
                        var pdata = { kodesatker: a, namaprogram: b, userbiroperencanaan: '@userKaBiroPerencanaan', userbirokeuangan: '@userKaBiroKeuangan', bolCheck: value };
                        //console.log(pdata);
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("UpdatePersetujuanRevisi", "Pemanfaatan")',
                            data: pdata,
                            success: function (data, textStatus, jqXHR) {
                                if (data && data.Status) {
                                    showmsg("Informasi", data.Pesan);
                                }
                                else {
                                    showmsg("Error", data.Pesan);
                                }
                                $.unblockUI();
                            },
                            error: function (jqXHR, textStatus, errorThrown) { showmsg("Error", errorThrown); $.unblockUI(); }
                        });
                    },
                    cancel: function () {
                        $(event.target).prop('checked', !value);
                    }
                });
            });
        }
    });
</script>