@model Pnbp.Entities.DataPrioritas
@{
    ViewBag.Judul = "Daftar Prioritas Non Operasional";
}

<style>
    td.numeric, th.numeric {
        text-align: right;
    }
    .editors {
        display: none;
    }
    #listmanfaatholder td.disabled {
		opacity: 0.6;
	}
</style>

<div class="" id="dynamic_content">
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_title">
            <h2> @Model.NamaSatKer</h2>
            <div class="title_right">
				<div class="pull-right">
					@if (ViewBag.IsAksesEdit == "Y" && ViewBag.IsAksesSimpan == "Y")
					{
						<button id="save-btn" type="button" class="btn btn-success">Simpan</button>
					}
					else
					{
						<button type="button" class="btn btn-success" disabled>Simpan</button>
					}
				</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="col-md-12 text-center">
                    <label class="col-md-12" style="margin-bottom:-5px;">Sisa Alokasi</label>
                    @{
                        if (Model.dataPrioritas.Count > 0)
                        {
                            @*<label style="color:darkred"><h2><b>Rp @((Model.dataPrioritas.Sum(a => a.Nilaianggaran) - Model.dataPrioritas.Sum(a => a.JUMLAHALOKASI)).ToString("N0", new System.Globalization.CultureInfo("id-ID")))</b></h2></label>*@
                            <label style="color:darkred"><h2><b>Rp @((Model.TotalAlokasi - Model.TotalTerAlokasi).ToString("N0", new System.Globalization.CultureInfo("id-ID")))</b></h2></label>
                        }
                        else
                        {
                            <label>Rp 0</label>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="table-responsive" style="border:none">
                    <section id="flip-scroll">
                        <table class="table table-striped hover dt-responsive nowrap" style="clear: both; border-collapse: collapse; width: 100%;">
                            <thead>
                                <tr>
                                    <th>Kode Output</th>
                                    <th>Satuan Kerja / Kode / Program </th>
                                    <th>Tipe</th>
                                    <th class="numeric">Anggaran (Rp)</th>
                                    <th class="numeric">Alokasi (Rp)</th>
                                    @*<th style="text-align:center; width:5%;">Entri</th>*@
                                </tr>
                            </thead>

                            <tbody id="listmanfaatholder">
                                @foreach (var item in Model.dataPrioritas)
                                {
                                    <tr id="@item.Manfaatid">
                                        <td>@item.Kode</td>
                                        <td>@item.Namaprogram</td>
                                        <td>@item.Tipe</td>
                                        <td class="numeric">@item.Nilaianggaran.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                        <td class="numeric">@item.JUMLAHALOKASI.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                        @*@if (ViewBag.IsAksesEdit == "Y")
                                        {
									        <td style="text-align:center;cursor: pointer;" onclick="editDataManfaat('@item.Manfaatid');">
										        <i class="fa fa-pencil"></i>
									        </td>
										}
										else
										{ 
                                            <td style="text-align:center;cursor: not-allowed;" class="disabled">
                                                <i class="fa fa-pencil"></i>
                                            </td>
                                        }*@
                                    </tr>
                                }

                                <tr>
                                    <td colspan="3" class="numeric">Total</td>
                                    <td class="myLabelContentRight">@Model.dataPrioritas.Sum(a => a.Nilaianggaran).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                    <td class="myLabelContentRight">@Model.dataPrioritas.Sum(a => a.JUMLAHALOKASI + a.TOTALALOKASI).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                    <td colspan="4"></td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<div id='myModalDocViewer' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>


<div id='myModalMessViewer' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalMessContent'>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel" style="padding-top:20px">
                        <div class="x_title">
                            <h2 id="popuptitlemess">Informasi</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeModalMessButton"><i class="fa fa-times"></i></button>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="" id="messpanel"></div>
                        </div>
                        <div class="pull-right" style="text-align:right;">
                            <button type="button" class="btn btn-dark" id="btnCloseMessModal">Tutup</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    var objpdf = null;

    $(document).ready(function () {
        $.unblockUI();

        $('#myModalDocViewer').on('shown.bs.modal', function () {
            $(this).find('.modal-dialog').css({
                width: '98%',
                height: '98 %',
                'max-height': '98%'
            });
        });
    });

    $("#btnCloseMessModal").click(function (e) {
        $('#popuptitlemess').text('Informasi');
        $('#messpanel').html("");
        $('#myModalMessViewer').modal('hide');
        $.unblockUI();
        e.preventDefault();
        return false;
    });

    $("#closeModalButton").click(function (e) {
        $('#popuptitle').text('Edit Data Manfaat');
        $('#dataholder').html("");
        $('#myModalDocViewer').modal('hide');
        $.unblockUI();
        e.preventDefault();
        return false;
    });

    $("#save-btn").click(function (e) {

    });

    function editDataManfaat(id) {
        @*if ('@Model.UserAdmin' == 'True') {*@
            $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
            $.pjax({
                container: '#dynamic_content',
                type: "POST",
                url: '@Url.Action("EntriDataManfaatV2", "Pemanfaatan")?tahun=' + @Model.tahun + '&kantorId=@Model.KantorId',
                data: JSON.stringify({ 'manfaatid': id, 'm': 'Edit Data Manfaat' }),
                dataType: 'html',
                contentType: "application/json; charset=utf-8"
            });
        //}
        //else {
        //    showmsg('Informasi', "Anda tidak mempunyai akses untuk merubah data!");
        //}
    };


    function showFile(id, statusrevisi) {
        if (statusrevisi == '1') {
            if (id !== null && id !== '') {
                var objurl = '@Url.Action("GetFileManfaat", "Administrasi")?id=' + id;
                objpdf = objurl;
                var options = { "backdrop": "static", keyboard: true };
                $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DocViewer", "Konten")',
                    success: function (data) {
                        console.log(data);
                        $('#myModalContent').html(data);
                        $('#myModalDocViewer').modal(options);
                        $('#myModalDocViewer').modal('show');
                        $.unblockUI();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $.unblockUI();
                    }
                });
            }
        }
    };

    var dfPengumuman = null;
    $("#txtUploadFile").on("change", function (e) {
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1;
        if (numFiles > 0) {
            var file = dfPengumuman = input.get(0).files[0],
                blob = new Blob([file], { type: "application/pdf;base64" }),
                objurl = window.URL.createObjectURL(blob);

            objpdf = objurl;
            var options = { "backdrop": "static", keyboard: true };
            $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
            $.ajax({
                type: "POST",
                url: '@Url.Action("DocViewer", "Konten")',
                success: function (data) {

                    // Insert RenaksiSatker
                    var tahun = new Date().getFullYear();
                    var judul = 'File Renaksi ' + '@Model.NamaSatKer' + ' tahun ' + tahun;
                    var frm = new FormData();
                    frm.append("kantorid", '@Model.KantorId');
                    frm.append("judul", judul);
                    frm.append("filepdf", dfPengumuman);

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("SimpanRenaksiSatker", "Pemanfaatan")',
                        data: frm,
                        contentType: false,
                        processData: false
                    });

                    $('#myModalContent').html(data);
                    $('#myModalDocViewer').modal(options);
                    $('#myModalDocViewer').modal('show');
                    $.unblockUI();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.unblockUI();
                }
            });
        }
    });

</script>
