
@{
    ViewBag.Title = "EntriRenaksi";
    var renaksi = ViewBag.renaksi;
    var aksesEdit = ViewBag.aksesEdit;
}

<div class="" id="dynamic_content">

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="padding-top:10px; border:1px solid #E6E9ED;">
                <div class="x_title">
                    <h2>ENTRI RENAKSI</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form action="" method="post" id="entrirenaksi_form" enctype="multipart/form-data">
                        <div class="table-responsive">

                            <table id="myTablePengembalianPnbp" class="table table-striped table-bordered" style="background-color:white;margin-top:50px;margin-bottom:50px;">
                                <thead>
                                    <tr class="bg-primary">
                                        <th style="text-align:center; vertical-align: middle;" rowspan="2">Status</th>
                                        <th class="text-center" style="vertical-align: middle;" rowspan="2">Output</th>
                                        <th class="text-center" style="vertical-align: middle;" rowspan="2">Nama Output</th>
                                        <th class="text-center" style="vertical-align: middle;" rowspan="2">Tipe</th>
                                        <th class="text-center" style="vertical-align: middle;" rowspan="2">Pagu</th>
                                        <th class="text-center" style="vertical-align: middle;" rowspan="2">Rank</th>
                                        <th class="text-center" colspan="12">Rencana Penarikan Anggaran</th>
                                        <th class="text-center" style="vertical-align: middle;" rowspan="2">Eviden <br><small>(*file yang dapat diupload berekstensi .pdf)</small></th>
                                        <th class="text-center" style="vertical-align: middle;" rowspan="2">Persetujuan Karoren</th>
                                        <th class="text-center" style="vertical-align: middle;" rowspan="2">Persetujuan Karokeu</th>
                                        <th class="text-center" style="vertical-align: middle;" rowspan="2">Alasan Penolakan</th>
                                    </tr>
                                    <tr class="bg-primary">
                                        <th class="text-center">Januari</th>
                                        <th class="text-center">Februari</th>
                                        <th class="text-center" width="80px">&nbsp;&nbsp;Maret&nbsp;&nbsp;</th>
                                        <th class="text-center">&nbsp;&nbsp;April&nbsp;&nbsp;</th>
                                        <th class="text-center">&nbsp;&nbsp;Mei&nbsp;&nbsp;</th>
                                        <th class="text-center">&nbsp;&nbsp;Juni&nbsp;&nbsp;</th>
                                        <th class="text-center">&nbsp;&nbsp;Juli&nbsp;&nbsp;</th>
                                        <th class="text-center">&nbsp;&nbsp;Agustus&nbsp;&nbsp;</th>
                                        <th class="text-center">September</th>
                                        <th class="text-center">Oktober</th>
                                        <th class="text-center">November</th>
                                        <th class="text-center">Desember</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*<tr>
                                            <td></td>
                                            <td>5527.970</td>
                                            <td>Layanan Dukungan Manajeman Satker</td>
                                            <td>NON OPS</td>
                                            <td>335,500,000</td>
                                            <td>79</td>
                                            <td>35,000,000</td>
                                            <td><input type="text" class="form-control" /></td>
                                            <td>25,000,000</td>
                                            <td><input type="file" class="form-control" /></td>
                                            <td></td>
                                            <td></td>
                                        </tr>*@
                                    @{var i = 0; }
                                    @foreach (var row in renaksi)
                                    {

                                        <tr>
                                            <td></td>
                                            <td style="vertical-align: middle;">@row.KODE</td>
                                            <td style="vertical-align: middle;">@row.NAMA</td>
                                            <td style="vertical-align: middle;">@row.TIPE</td>
                                            <td class="text-right" style="vertical-align: middle;">@string.Format("{0:#,###.##}", row.PAGU)</td>
                                            <td>
                                                <input type="hidden" name="MANFAATID[]" value="@row.MANFAATID" />
                                                <input type="hidden" name="PROGRAMID[]" value="@row.PROGRAMID" />
                                            </td>
                                            <td>
                                                <input type="text" name="ANGGJAN[]" value="@row.ANGGJAN.ToString("N0", new System.Globalization.CultureInfo("id-ID"))" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") @((row.STATUSREVISI == 1) ? "readonly" : "") style="width:100px" />
                                                <input type="hidden" name="HIST_ANGGJAN[]" value="@row.ANGGJAN" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") style="width:100px" />
                                            </td>
                                            <td>
                                                <input type="text" name="ANGGFEB[]" value="@row.ANGGFEB.ToString("N0", new System.Globalization.CultureInfo("id-ID"))" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") @((row.STATUSREVISI == 1) ? "readonly" : "") style="width:100px" />
                                                <input type="hidden" name="HIST_ANGGFEB[]" value="@row.ANGGFEB" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") style="width:100px" />
                                            </td>
                                            <td width="80px">
                                                <input type="text" name="ANGGMAR[]" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" value="@row.ANGGMAR.ToString("N0", new System.Globalization.CultureInfo("id-ID"))" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") @((row.STATUSREVISI == 1) ? "readonly" : "") style="width:100px" />
                                                <input type="hidden" name="HIST_ANGGMAR[]" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" value="@row.ANGGMAR" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") style="width:100px" />
                                            </td>
                                            <td>
                                                <input type="text" name="ANGGAPR[]" value="@row.ANGGAPR.ToString("N0", new System.Globalization.CultureInfo("id-ID"))" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") @((row.STATUSREVISI == 1) ? "readonly" : "") style="width:100px" />
                                                <input type="hidden" name="HIST_ANGGAPR[]" value="@row.ANGGAPR" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") style="width:100px" />
                                            </td>
                                            <td>
                                                <input type="text" name="ANGGMEI[]" value="@row.ANGGMEI.ToString("N0", new System.Globalization.CultureInfo("id-ID"))" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") @((row.STATUSREVISI == 1) ? "readonly" : "") style="width:100px" />
                                                <input type="hidden" name="HIST_ANGGMEI[]" value="@row.ANGGMEI" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") style="width:100px" />
                                            </td>
                                            <td>
                                                <input type="text" name="ANGGJUN[]" value="@row.ANGGJUN.ToString("N0", new System.Globalization.CultureInfo("id-ID"))" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") @((row.STATUSREVISI == 1) ? "readonly" : "") style="width:100px" />
                                                <input type="hidden" name="HIST_ANGGJUN[]" value="@row.ANGGJUN" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") style="width:100px" />
                                            </td>
                                            <td>
                                                <input type="text" name="ANGGJUL[]" value="@row.ANGGJUL.ToString("N0", new System.Globalization.CultureInfo("id-ID"))" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") @((row.STATUSREVISI == 1) ? "readonly" : "") style="width:100px" />
                                                <input type="hidden" name="HIST_ANGGJUL[]" value="@row.ANGGJUL" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") style="width:100px" />
                                            </td>
                                            <td>
                                                <input type="text" name="ANGGAGT[]" value="@row.ANGGAGT.ToString("N0", new System.Globalization.CultureInfo("id-ID"))" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") @((row.STATUSREVISI == 1) ? "readonly" : "") style="width:100px" />
                                                <input type="hidden" name="HIST_ANGGAGT[]" value="@row.ANGGAGT" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") style="width:100px" />
                                            </td>
                                            <td>
                                                <input type="text" name="ANGGSEP[]" value="@row.ANGGSEP.ToString("N0", new System.Globalization.CultureInfo("id-ID"))" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") @((row.STATUSREVISI == 1) ? "readonly" : "") style="width:100px" />
                                                <input type="hidden" name="HIST_ANGGSEP[]" value="@row.ANGGSEP" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") style="width:100px" />
                                            </td>
                                            <td>
                                                <input type="text" name="ANGGOKT[]" value="@row.ANGGOKT.ToString("N0", new System.Globalization.CultureInfo("id-ID"))" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") @((row.STATUSREVISI == 1) ? "readonly" : "") style="width:100px" />
                                                <input type="hidden" name="HIST_ANGGOKT[]" value="@row.ANGGOKT" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") style="width:100px" />
                                            </td>
                                            <td>
                                                <input type="text" name="ANGGNOV[]" value="@row.ANGGNOV.ToString("N0", new System.Globalization.CultureInfo("id-ID"))" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") @((row.STATUSREVISI == 1) ? "readonly" : "") style="width:100px" />
                                                <input type="hidden" name="HIST_ANGGNOV[]" value="@row.ANGGNOV" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") style="width:100px" />
                                            </td>
                                            <td>
                                                <input type="text" name="ANGGDES[]" value="@row.ANGGDES.ToString("N0", new System.Globalization.CultureInfo("id-ID"))" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") @((row.STATUSREVISI == 1) ? "readonly" : "") style="width:100px" />
                                                <input type="hidden" name="HIST_ANGGDES[]" value="@row.ANGGDES" onkeypress="return hanyaAngka(event)" onkeyup="revision(this)" data-row="@i" class="form-control input-sm asd text-right" @((aksesEdit == "N") ? "disabled" : "") style="width:100px" />
                                            </td>
                                            <td>
                                                <input type="hidden" name="status" id="status_@i" />
                                                <input type="hidden" name="revisi" id="revisi_@i" />
                                                <div class="col-md-6 text-right">
                                                    <input type="file" name="eviden_@i" accept="application/pdf" class="btn btn-default btn-sm" @((aksesEdit == "N") ? "disabled" : "") @((row.STATUSREVISI == 1) ? "disabled" : "") />
                                                </div>
                                                @if (row.EVIDENTID != null)
                                                {
                                                    <div class="col-md-6 text-right">
                                                        <a href="@row.EVIDENPATH" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="Download File Eviden" download>
                                                            <i class="fa fa-download"></i>
                                                        </a>
                                                    </div>
                                                }
                                            </td>
                                            <td style="vertical-align: middle;" align="center">@Html.Raw((row.PERSETUJUAN1 == 1) ? "<i class='fa fa-check' style='color:green;'></i>" : "<i class='fa fa-close' style='color:red;'></i>")</td>
                                            <td style="vertical-align: middle;" align="center">@Html.Raw((row.PERSETUJUAN2 == 1) ? "<i class='fa fa-check' style='color:green;'></i>" : "<i class='fa fa-close' style='color:red;'></i>")</td>
                                            
                                                @if (row.KETERANGANPENOLAKAN == null)
                                                {
                                                    <td style="vertical-align: middle;" align="center">-</td>
                                                }
                                                else
                                                {
                                                    <td style="vertical-align: middle;" align="center">@row.KETERANGANPENOLAKAN</td>
                                                }
                                        </tr>
                                        i = i + 1;
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-0">
                                <button type="submit" form="entrirenaksi_form" class="btn btn-lg btn-primary" @((aksesEdit == "N") ? "disabled" : "")>&nbsp;Simpan&nbsp;</button>

                                @*<button id="btncreate" type="reset" class="btn btn-warning">reset</button>*@

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" title="" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
<script>
    //Sweet Alert Confirmation
    @if (TempData["Entri"] != null)
    { <text>
    $(window).load(function () {
        $(document).ready(function () {
            swal({
                title: "Berhasil",
                text: "@TempData["Entri"]",
                type: "success"
            });
        });
    }); </text>
    }
    //Sweet Alert Confirmation

    var aksesEdit = '@aksesEdit';
    $(function () {
        console.log(aksesEdit);
        $('[data-toggle="tooltip"]').tooltip();

    });

    function revision(ini) {
        var row = $(ini).data('row');
        $("#status_" + row).val(0);
        $("#revisi_" + row).val(1);
    }

    function cekAksesEdit() {
        $(".form-control").prop("readonly", true);
        if (aksesEdit == 'N') {
            //$("#entrirenaksi_form input").prop("disabled", true);
            $(".form-control").prop("readonly", true);
        } else {
            //$("#entrirenaksi_form input").prop("disabled", false);
            $(".form-control").prop("readonly", false);
        }
    }

    function hanyaAngka(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))

            return false;
        return true;
    }

    $('.asd').keyup(function (event) {

        // skip for arrow keys
        if (event.which >= 37 && event.which <= 40) return;

        // format number
        $(this).val(function (index, value) {
            return value
            .replace(/\D/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            ;
        });
    });
    //$('#entrirenaksi_form').submit(function () {
    //    setTimeout(function () {
    //        swal({
    //            type: "success",
    //            html: true,
    //            title: "Data Berhasil Disimpan",
    //            confirmButtonColor: "#4CAF50"
    //        });
    //    }, 3000);
    //});
</script>
