
@model Pnbp.Entities.CariRincianAlokasiSatker
@{
    ViewBag.Title = "PengajuanPengembalianIndex";
    var tipekantorid = ViewData["tipekantorid"].ToString();
    var datasatker = ViewBag.datasatker;

}

<div class="" id="dynamic_content">

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="padding-top:10px; border:1px solid #E6E9ED;">
                <div class="x_title">
                    <h2>Pencarian Data</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" id="frmCariPengajuan" method="post">

                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">Tahun : </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select name="TAHUN" id="tahun">
                                            <option value="">-Pilih Tahun-</option>
                                            @for (var i = DateTime.Now.Year; i >= (DateTime.Now.Year - 5); i--)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 text-right">

                                <div class="form-group">
                                    <a href="@Url.Action("RincianAlokasi", "Pemanfaatan")" class="btn btn-lg btn-danger">Per Satker</a>
                                </div>
                                <div class="form-group">
                                    <a href="@Url.Action("RincianAlokasiOutput", "Pemanfaatan")" class="btn btn-lg btn-primary">Per Output</a>
                                </div>

                            </div>
                        </div>
                        @*<div class="ln_solid"></div>*@
                        @*<div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-0">
                                    <button id="btnCari" type="submit" class="btn btn-success">Cari</button>
                                    <button id="btnReset" type="reset" class="btn btn-warning">Reset</button>
                                    <button id="btnCreate" type="button" class="btn btn-primary">Buat Baru</button>
                                </div>
                            </div>*@
                    </form>
                    <div class="">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-0">
                            <button id="btnCari" type="submit" form="frmCariPengajuan" class="btn btn-primary">&nbsp;Cari&nbsp;</button>
                            <button id="btnReset" type="reset" form="frmCariPengajuan" class="btn btn-warning">Reset</button>
                            @*<button id="btnCreate" type="button" class="btn btn-primary">Buat Baru</button>*@
                            @*@using (Html.BeginForm("ExportDataPengajuanPengembalian", "Pengembalian",
                                //    new
                                //{
                                //    CariNamaProvinsi = "JAWA BARAT",
                                //    CariTahun = "2017"
                                //}
                                FormMethod.Post, new { @class = "" }))
                                                {
                                                    <button id="btnExportExcel" type="submit" class="btn btn-primary"><span class="fa fa-floppy-o"></span> Export ke Excel</button>
                                                }*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-title">
        <div class="title_left"><h2 style="width:100%">Daftar Rincian Alokasi Per Output</h2></div>
        <div class="clearfix"></div>
    </div>

    <table id="rincianAlokasi" class="table table-striped table-bordered" style="width:100%; background-color:white;">
        <thead>
            <tr>
                <th style="text-align:center;">No.</th>
                <th>Kode Output</th>
                <th>Nama Output</th>
                <th>Tipe</th>
                <th>Pagu</th>
                <th>Alokasi</th>
                <th>%(Pagu)</th>
                <th>%(Alokasi)</th>
                <th>Realisasi Belanja</th>
                @*<th>%(Realisasi)</th>*@
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" title="" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

<script type="text/javascript">
    $('#tahun').select2({
        placeholder: "Pilih Tahun"
    });
    $(document).ready(function () {
        $('#CariKodeSatker').select2({
            placeholder: "Pilih Satker"
        });
        @*if (@tipekantorid != "1") {
            $('#DivSearch_Wilayah').addClass('hidden');
            $('#Th_Wilayah').addClass('hidden');
            //Th_Hapus
        }
        if (@tipekantorid == "1") {
            $('#Th_Hapus').addClass('hidden');
            $('#Th_Entri').addClass('hidden');
            $('#btnCreate').addClass('hidden');
        }*@

        createPagingPengajuan();

        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#back-to-top').tooltip('show');
    });

    $("#btnCreate").click(function (e) {
        window.location.href = '@Url.Action("EntriPengajuan", "Pengembalian")';

        e.preventDefault();
        return false;
    });

    $("#frmCariPengajuan").submit(function (e) {
        dtablePengajuan.ajax.reload(null, true);
        e.preventDefault();
        return false;
    });

    var dtablePengajuan;
    var createPagingPengajuan = function () {
        dtablePengajuan = $('#rincianAlokasi').DataTable({
            "bLengthChange": true,
            "paging": true,
            "pageLength": 10,
            "bFilter": true,
            "ordering": false,
            "info": false,
            "processing": true,
            "serverSide": false,
            "scrollX": false,
            "ajax": {
                url: '@Url.Action("DaftarRincianAlokasiOutput", "Pemanfaatan")',
                type: "POST",
                data: function (data, obj) { var ftp = $('#frmCariPengajuan').serializeArray(); data.form = ftp; ftp.push({ name: "start", value: data.start }, { name: "length", value: data.length }); return ftp; }
            },
            "columns": [
                { "data": "RNumber", "className": "centertaligncolumn", "width": "5%" },
                { "data": 'KODEOUTPUT' },
                {
                    "data": "NAMAOUTPUT",
                    "className": "lefttaligncolumn",
                    //"width": "20%",
                    render: function (data) {
                        return '<a href="#" >' + data + '</a>'
                    }
                },
                { "data": 'TIPE' },
                { "data": "PAGU", "className": "rightaligncolumn", render: formatangka },
                { "data": "0", "className": "rightaligncolumn", render: formatangka },//ini untuk alokasi sementara
                { "data": "PERSENPAGU", "className": "rightaligncolumn", "width": "7%", render: formatangka },
                //{ "data": "ALOKASI", "className": "rightaligncolumn", render: formatangka },
                //{ "data": "PERSENALOKASI" },
                { "data": "0", "className": "rightaligncolumn", render: formatangka },
                { "data": "REALISASIBELANJA", "className": "rightaligncolumn", render: formatangka },
                //{ "data": "" },

                //{ "data": 'KodeBilling' },
                //{
                //    "data": "StatusSetuju",
                //    "className": "centertaligncolumn",
                //    "width": "10%",
                //    render: function (data) {
                //        if (data == '0') {
                //            //return '<b class="fa fa-close" style="color:#ce3535;"></b>';
                //            return '<a href="#" >Belum Kirim</a>'
                //        }
                //        if (data == '1') {
                //            //return '<b class="fa fa-close" style="color:#ce3535;"></b>';
                //            return '<a href="'+data.KodeSatker+'" >TerKirim</a>'
                //        }
                //        if (data == '2') {
                //            //return '<b class="fa fa-close" style="color:#ce3535;"></b>';
                //            return '<a href="#" >Proses</a>'
                //        }
                //        if (data == '3') {
                //            //return '<b class="fa fa-close" style="color:#ce3535;"></b>';
                //            return '<a href="#" >Berkas Tidak Lengkap</a>'
                //        }
                //        if (data == '0') {
                //            //return '<b class="fa fa-close" style="color:#ce3535;"></b>';
                //            return '<a href="#" >Selesai</a>'
                //        }
                //        //else {
                //        //    return '<b class="fa fa-check" style="color:#249c2f;"></b>';
                //        //}
                //    }
                //},
                //{
                //    "data": "PengembalianPnbpId",
                //    "className": "centertaligncolumn",
                //    "width": "5%",
                //    render: function (data, type, row) {
                //        return '<a href="Pengembalian/PengajuanPengembalianDetail?pengembalianpnbpid='+data+'"><i class="fa fa-search" style="cursor: pointer;"></i></a>';
                //    }
                //},
                //{
                //    "data": "Hapus",
                //    "className": "centertaligncolumn",
                //    "width": "5%",
                //    render: function (data, type, row) {
                //        return '<u class="fa fa-trash" style="cursor: pointer;"></i>';
                //    }
                //}
            ],
            @*rowCallback: function (row, data) {
                if (@tipekantorid != "1") {
                    // base in zero
                    $('td', row).eq(2).hide();
                }
                if (@tipekantorid == "1") {
                    // base in zero
                    $('td', row).eq(8).hide();
                    $('td', row).eq(9).hide();
                }
            }*@
        });
    };

    $('#rincianAlokasi tbody').delegate('tr td', 'click', function (e) {
        var data = dtablePengajuan.row($(this).closest('tr')).data();

        window.location.href = '@Url.Action("RincianAlokasiDetailOutput", "Pemanfaatan")?programid=' + data.PROGRAMID;

        e.preventDefault();
        return false;
    });

    $('#rincianAlokasi tbody').delegate('tr u', 'click', function (e) {
        var data = dtablePengajuan.row($(this).closest('tr')).data();

        //showinfo(data.PengembalianPnbpId);

        var pengembalianpnbpid = data.PengembalianPnbpId;
        if (pengembalianpnbpid !== null && pengembalianpnbpid !== '') {
            swal({
                title: "Konfirmasi Hapus Data",
                text: "Yakin Anda mau menghapus data pengajuan berkas no. " + data.NomorBerkas + " (" + data.NamaPemohon + ") ?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ya",
                cancelButtonText: "Batal"
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
                    var frm = new FormData();
                    frm.append("pengembalianpnbpid", pengembalianpnbpid);
                    $.ajax({
                        url: '@Url.Action("HapusPengembalianPnbp", "Pengembalian")',
                        type: "POST",
                        data: frm,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (data, textStatus, jqXHR) {
                            if (data && data.Status) {
                                dtablePengajuan.ajax.reload(null, true);
                                showinfo('Data berhasil dihapus');
                            }
                            else {
                                showalert("Error", data.Pesan);
                            }
                            $.unblockUI();
                        },
                        error: function (jqXHR, textStatus, errorThrown) { showmsg("Error", errorThrown); $.unblockUI(); }
                    });
                }
            });
        }

        e.preventDefault();
        return false;
    });
    $('#btnReset').click(function (e) {
        location.reload();
    });
</script>
