@model Pnbp.Entities.FormAlokasi
@{
    var get_data = ViewBag.get_data;
    var get_approve = ViewBag.get_approve;
}
<style type="text/css">
    .back-to-top {
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
    }

    th {
        text-align: center;
    }
</style>
<script src="../resources/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="../resources/js/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>

<script src="../resources/js/moment.js"></script>
<script src="../resources/js/id.js"></script>
<script src="../resources/js/bootstrap-datetimepicker.min.js"></script>

<script src="../resources/js/polyfiller.js"></script>

<link href="../resources/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="../resources/js/jquery.dataTables.min.js"></script>
<script src="../resources/js/dataTables.bootstrap.min.js"></script>

<div id="dynamic_content">
    <div class="page-title">
        <div class="title_left">
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Alokasi Non Operasional</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" id="frmalok" method="post">
                        @Html.HiddenFor(Model => Model.JenisAlokasi, new { id = "JenisAlokasi" })
                        <input type="hidden" name="pegawaiid" id="pegawaiid" value=" @((User as Pnbp.Entities.InternalUserIdentity).PegawaiId) " />

                        @*@if ((User as Pnbp.Entities.InternalUserIdentity).PegawaiId == "198511142011011005")
                            {*@
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12 col-md-offset-2 col-sm-offset-2">Nilai Alokasi : </label>
                            <div class="col-md-6 col-sm-6 col-xs-12 hide-inputbtns">
                                @Html.TextBoxFor(model => model.InputAlokasi, new { @class = "form-control nilai", @type = "number" })
                                @Html.ValidationMessageFor(model => model.InputAlokasi, "", new { @class = "error" })

                                <input type="hidden" id="index" />
                            </div>
                        </div>
                        @if ((User as Pnbp.Entities.InternalUserIdentity).PegawaiId == "197804302003122002")
                        {
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12 col-md-offset-2 col-sm-offset-2">Persentase Realisasi Belanja : </label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" name="persentase" id="persentase" class="form-control">
                                        <span class="input-group-btn">
                                            <a class="btn btn-default" id="btnpersentase" onclick="get_satker(); get_data_eselon()">Min</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12 col-md-offset-2 col-sm-offset-2">Persentase Realisasi Belanja : </label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" name="persentase" id="persentase" class="form-control">
                                        <span class="input-group-btn">
                                            <a class="btn btn-default" id="btnpersentase" onclick="get_satker(); get_data()">Min</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12 col-md-offset-2 col-sm-offset-2">Tambah Satker : </label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <select name="cmbsatker" id="cmbsatker" class="select2_single form-control" data-placeholder="Pilih Satker"></select>
                                    <span class="input-group-btn">
                                        <!-- Append button addon using class input-group-lg -->
                                        <a class="btn btn-default" id="pilih_satker">Pilih</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        @*}*@
                    </form>
                </div>
                <div style="text-align:center;">
                    <div style="text-align:center;">

                        @*@if ((User as Pnbp.Entities.InternalUserIdentity).PegawaiId == "198511142011011005")
                            {*@
                        <button id="btncek" type="button" class="btn btn-info"><span class="fa fa-search"></span> Cek Proses </button>
                        @*<button id="btnprioritas" type="button" class="btn btn-info"><span class="fa fa-search"></span> Cek Prioritas </button>*@
                        <button id="btngettest" type="button" class="btn btn-info" style="display:none;"><span class="fa fa-search"></span> Cek Alokasi </button>
                        <span>|</span>
                        <button id="btnalok" type="submit" class="btn btn-primary" style="margin-left:5px;" onclick="get_alokasi()"><span class="fa fa-magic"></span> Alokasi </button>
                        @*<button id="btnalok" type="submit" form="frmalok" class="btn btn-primary" style="margin-left:5px;"><span class="fa fa-magic"></span> Alokasi </button>*@
                        <button id="btnreset" type="button" class="btn btn-danger"><span class="fa fa-refresh"></span> Hapus </button>
                        @*}*@

                        @if ((User as Pnbp.Entities.InternalUserIdentity).PegawaiId == "197804302003122002")
                        {
                            <button id="btnupdate" type="button" class="btn btn-success" onclick="update_datasatker()"><span class="fa fa-floppy-o"></span> Simpan </button>
                        }
                        else
                        {
                            <button id="btnsimpan" type="button" class="btn btn-success" onclick="insert_datasatker()"><span class="fa fa-floppy-o"></span> Simpan </button>
                        }

                        @using (Html.BeginForm("ExportNON", "Alokasi", FormMethod.Post))
                        {
                            <button type="submit" class="btn btn-success"><span class="fa fa-floppy-o"></span> Excel </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tableholder">
    </div>

    <div class="x_panel">

        <form class="form-horizontal form-label-left" id="frmdatasatker" method="post">
            <div class="form-group" id="group_alokasi">
                <table id="alokasisatker" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Kode Satker</th>
                            <th>Nama Satker</th>
                            <th>Nilai Anggaran</th>
                            <th>Total Alokasi</th>
                            <th>Sisa Alokasi</th>
                            <th>% MP</th>
                            <th>Alokasi</th>
                            <th class="text-center">
                                Y/N
                                <span>
                                    <input type="checkbox" class="checkbox-inline checkall" onchange="checkAll(this)" />
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (var row in get_data)
                            {
                                <tr>
                                    <td>@row.urutan</td>
                                    <td>@row.kodesatker</td>
                                    <td>@row.namakantor</td>
                                    <td class="text-right">@row.nilaianggaran.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                    <td class="text-right">@row.totalalokasi.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                    <td class="text-right">@row.nilaialokasi.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                    <td></td>
                                    <td class="text-right">@row.sisaalokasi.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                    <td class="text-center">
                                        <input type="checkbox" class="form-control blocked checkall" id="check" />
                                    </td>
                                </tr>
                            }*@
                        @if ((User as Pnbp.Entities.InternalUserIdentity).PegawaiId == "197804302003122002")
                        {
                            if (get_approve.Count > 0)
                            {
                                int no = 1;
                                foreach (var row in get_approve)
                                {
                                    <tr>
                                        <td>@no</td>
                                        <td>@row.kodesatker</td>
                                        <td>@row.namakantor</td>
                                        <td class="text-right">@row.pagu.ToString("N0", new System.Globalization.CultureInfo("id-ID")) </td>
                                        <td class="text-right">@row.totalalokasi.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                        <td class="text-right">@row.realisasi.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                        <td class="text-center">@row.mp</td>
                                        <td class="text-right">@row.alokasi.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                        <td class="text-center"><input type='checkbox' class='checkbox-inline' id='check' name='check' /></td>
                                    </tr>
                                    no++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="9" class="text-center">Data Tidak Tersedia</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>

<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" title="" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

<script type="text/javascript">
    //$('#alokasisatker').DataTable();
    $('.select2_single').select2();

    var pegawaiid = $('#pegawaiid').val();
    //console.log(pegawaiid);

    $('#pilih_satker').click(function () {
        var kantorid = $('#cmbsatker').val();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("getDataSatkerCustome", "Alokasi")',
            data: { kantorid: kantorid },
            success: function (data) {
                var html = "";
                if (data.length > 0) {
                    var index = $("#index").val();
                    $.each(data, function (x) {
                        index = (parseInt(index) + 1);
                        html += ""
                            + "<tr>"
                            + "<td class='text-center'>" + index + "</td>"
                            + "<td class='text-left'>" + data[x].kodesatker + "</a> <input type='hidden' id='kodesatker' name='kodesatker' value='" + data[x].kantorid + "'> </td>"
                            + "<td class='text-left'>" + data[x].namakantor + "<input type='hidden' id='namasatker' name='namasatker' value='" + data[x].namakantor + "'></td>"
                            + "<td class='text-right'>" + addCommas(data[x].nilaianggaran) + "<input type='hidden' id='nilaianggaran' name='nilaianggaran' value='" + data[x].nilaianggaran + "'></td>"
                            + "<td class='text-right'>" + addCommas(data[x].totalalokasi) + "<input type='hidden' id='totalalokasi' name='totalalokasi' value='" + data[x].totalalokasi + "'></td>"
                            + "<td class='text-center'>" + data[x].mp + "<input type='hidden' id='mp' name='mp' value='" + data[x].mp + "'></td>"
                            + "<td class='text-right'><input type='hidden' id='sisaalokasi' class='form-control' name='sisaalokasi' placeholder='0'></td>"
                            + "<td class='text-center'>"
                            + "<input type='checkbox' class='checkbox-inline' id='check' name='check' />"
                            + "</td>"
                            + "</tr>";

                    });
                    $("#index").val(index);
                } else {
                    html = "<tr><td colspan='9' class='text-center'>Data Tidak Tersedia</td></tr>";
                }
                $("#alokasisatker>tbody").append(html);
            }
        });
    });

    function checkAll(ele) {
        var checkboxes = document.getElementsByTagName('input');
        if (ele.checked) {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                    $('.check').val('2');
                }
            }
        } else {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                    $('.check').val('on');
                }
            }
        }
    }

    function get_detailanggaran(kantorid)
    {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("getDetailAnggaran", "Alokasi")',
            data: { data: kantorid },
            success: function (data) {
                console.log(data);
            }
        });
    }

    function get_dataalokasi()
    {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("getDataAlokasi", "Alokasi")',
            data: { persentase: persentase },
            success: function (data) {
                //console.log(data);
                var html = "";
                if (data.length > 0) {
                    $.each(data, function (x) {
                        html += ""
                        + "<option value='" + data[x].kantorid + "'>" + data[x].namakantor + "</option>"
                    })
                } else {
                    + "<option>Data Kosong</option>"
                }
                $("#cmbsatker").html(html);
            }
        });
    }

    function get_detailanggaran(kodesatkr)
    {

    }


    function get_satker() {
        var persentase = $('#persentase').val();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("getSatker", "Alokasi")',
            data: { persentase: persentase },
            success: function (data) {
                //console.log(data);
                var html = "";
                if (data.length > 0) {
                    $.each(data, function (x) {
                        html += ""
                        + "<option value='" + data[x].kantorid + "'>" + data[x].namakantor + "</option>"
                    })
                } else {
                    + "<option>Data Kosong</option>"
                }
                $("#cmbsatker").html(html);
            }
        });
    }

    function notif() {
        $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
    }

    function get_alokasi()
    {
        $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
        var InputAlokasi = $('#InputAlokasi').val();
        var persentase = $('#persentase').val();
        //alert(InputAlokasi);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("get_alokasi", "Alokasi")',
            data: { InputAlokasi: InputAlokasi, persentase : persentase },
            success: function (data) {
                $.unblockUI();
            }
        });
    }

    //$('#btnalok').on('click', function (e) {
    //    e.preventDefault();
    //    var form = $(this).parents('form');
    //    swal({
    //        title: "Confirmation",
    //        text: "Are you sure you want to save this data",
    //        icon: 'warning',
    //        buttons: true,
    //        buttons: ["No", "Yes"]
    //    }).then((confirm) => {
    //        if (confirm) form.submit();
    //    });
    //});

    function get_data()
    {
        var persentase = $('#persentase').val();
        var pegawaiid =  "@((User as Pnbp.Entities.InternalUserIdentity).PegawaiId)";
            //console.log(pegawaiid);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("getDataSatker", "Alokasi")',
            data: { persentase: persentase},
            success: function (data) {
                //console.log(data);
                    var html="";
                    if (data.length>0){
                        var i = 0;
                        var label;
                        $.each(data, function (x) {
                            i = x + 1;
                            if ( pegawaiid == '197804302003122002' ) {
                                 //label = "<td class='text-right'>" + data[x].alokasi + "</td>";
                            } else {
                                label = "<td class='text-right'><input type='hidden' id='sisaalokasi_" + data[x].kantorid + "' name='sisaalokasi' class='form-control' placeholder='0'><input type='hidden' id='month_" + data[x].kantorid + "' name='sisaalokasimonth' class='form-control' placeholder='0'></td>"
                            }
                            html+=""
                                + "<tr>"
                                + "<td class='text-center'>"+ i +"</td>"
                                + "<td class='text-left'><a href='#' onclick ='get_detailanggaran("+data[x].kantorid+")'>" + data[x].kodesatker + "</a> <input type='hidden' id='kodesatkertest' class='kodesatkertest' name='kodesatker' value='" + data[x].kantorid + "'> </td>"
                                + "<td class='text-left'>" + data[x].namakantor + "<input type='hidden' id='namasatkertest' name='namasatker' value='" + data[x].namakantor + "'></td>"
                                + "<td class='text-right'>" + addCommas(data[x].nilaianggaran) + "<input type='hidden' id='nilaianggaran' name='nilaianggaran' value='" + data[x].nilaianggaran + "'></td>"
                                + "<td class='text-right'>" + addCommas(data[x].totalalokasi) + "<input type='hidden' id='totalalokasi' name='totalalokasi' value='" + data[x].totalalokasi + "'></td>"
                                + "<td class='text-right'>" + addCommas(data[x].sisaalokasi) + "<input type='hidden' id='nilaialokasi' name='nilaialokasi' value='" + data[x].nilaialokasi + "'></td>"
                                + "<td class='text-center'>" + data[x].mp + "<input type='hidden' id='mp' name='mp' value='" + data[x].mp + "'></td>"
                                + "<td class='text-center'><input type='text' id='alokasi_"+ x +"' name='alokasi' class='nilaialokasi form-control text-right' readonly></td>"
                                //+ label
                                + "<td class='text-center'>"
                                + "<input type='checkbox' class='checkbox-inline' id='check' name='check' />"
                                + "</td>"
                                + "</tr>";
                        });
                        $("#index").val(i);
                    }else{
                        html ="<tr><td colspan='9' class='text-center'>Data Tidak Tersedia</td></tr>";
                    }
                    $("#alokasisatker>tbody").html(html);

                    //alert(JSON.stringify(data));
            }
        });
    }

    function get_datanilaialokasi ()
    {
        $('.kodesatkertest').each(function (i, val) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getNilaiAlokasi", "Alokasi")',
                data: { kantorid: val.value},
                success: function (data) {
                    $('#alokasi_'+i).val(addCommas(data[0].nilaialokasi));
                }
            });
        });
        
    }

    //ESELON Approval
    function get_data_eselon() {
        var persentase = $('#persentase').val();
        var pegawaiid = "@((User as Pnbp.Entities.InternalUserIdentity).PegawaiId)";
        //console.log(pegawaiid);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("getDataSatkerEselon", "Alokasi")',
            data: { persentase: persentase },
            success: function (data) {
                //console.log(data);
                var html = "";
                if (data.length > 0) {
                    var i = 0;
                    var label;
                    $.each(data, function (x) {
                        i = x + 1;
                        if (pegawaiid == '197804302003122002') {
                            label = "<td class='text-right'>" + addCommas(data[x].alokasi) + "</td>";
                        } else {
                            label = "<td class='text-right'><input type='text' id='sisaalokasi' name='sisaalokasi' class='form-control' placeholder='0'></td>"
                        }
                        html += ""
                            + "<tr>"
                            + "<td class='text-center'>" + i + "</td>"
                            + "<td class='text-left'>" + data[x].kodesatker + " <input type='hidden' id='kodesatker' name='kodesatker' value='" + data[x].kantorid + "'> </td>"
                            + "<td class='text-left'>" + data[x].namakantor + "<input type='hidden' id='namasatker' name='namasatker' value='" + data[x].namakantor + "'></td>"
                            + "<td class='text-right'>" + addCommas(data[x].pagu) + "<input type='hidden' id='nilaianggaran' name='nilaianggaran' value='" + data[x].nilaianggaran + "'></td>"
                            + "<td class='text-right'>" + addCommas(data[x].totalalokasi) + "<input type='hidden' id='totalalokasi' name='totalalokasi' value='" + data[x].totalalokasi + "'></td>"
                            + "<td class='text-right'>" + addCommas(data[x].realisasi) + "<input type='hidden' id='nilaialokasi' name='nilaialokasi' value='" + data[x].nilaialokasi + "'></td>"
                            + "<td class='text-center'>" + data[x].mp + "<input type='hidden' id='mp' name='mp' value='" + data[x].mp + "'></td>"
                            + label
                            + "<td class='text-center'>"
                            + "<input type='checkbox' class='checkbox-inline' id='checklist_"+[x]+"' name='checklist[]' onclick='set_val_check("+[x]+")'/>"
                            + "<input type='hidden' id='check_" + [x] + "' name='check[]' class='check' value='" + data[x].approve + "' "+((data[x].approve=='2')?'checked':'')+"/>"
                            + "<input type='hidden' id='id_" + [x] + "' name='id[]' value='" + data[x].id + "'/>"
                            + "</td>"
                            + "</tr>";
                    });
                    $("#index").val(i);
                } else {
                    html = "<tr><td colspan='9' class='text-center'>Data Tidak Tersedia</td></tr>";
                }
                $("#alokasisatker>tbody").html(html);

                //alert(JSON.stringify(data));
            }
        });
    }
    //ESELON Approval

    function set_val_check(idx) {
        if ($('#checklist_' + idx).is(':checked')) {
            //alert('check-'+idx+'checked');
            $('#check_' + idx).val(2);
        } else {
            $('#check_' + idx).val('on');
        }
    }

    function addCommas(nStr) {
        nStr += '';
        x = nStr.split(',');
        x1 = x[0];
        x2 = x.length > 1 ? ',' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + '.' + '$2');
        }
        return x1 + x2;
    }

    (function (a) { a.createModal = function (b) { defaults = { title: "", message: "Your Message Goes Here!", closeButton: true, scrollable: false }; var b = a.extend({}, defaults, b); var c = (b.scrollable === true) ? 'style="max-height: 420px;overflow-y: auto;"' : ""; html = '<div class="modal fade" id="myModal">'; html += '<div class="modal-dialog">'; html += '<div class="modal-content">'; html += '<div class="modal-header">'; html += '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>'; if (b.title.length > 0) { html += '<h4 class="modal-title">' + b.title + "</h4>" } html += "</div>"; html += '<div class="modal-body" ' + c + ">"; html += b.message; html += "</div>"; html += '<div class="modal-footer">'; if (b.closeButton === true) { html += '<button type="button" class="btn btn-primary" data-dismiss="modal" id="btn-ok">OK</button>' } html += "</div>"; html += "</div>"; html += "</div>"; html += "</div>"; a("body").prepend(html); a("#myModal").modal().on("hidden.bs.modal", function () { a(this).remove() }) } })(jQuery);

    function showmsg(judul, isi) {
        $.createModal({
            title: judul,
            message: isi,
            closeButton: true,
            scrollable: false
        });
        return false;
    };

    function cekalokasi() {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("CekJobs", "Alokasi")',
            data: { pTipe: "NONOPS" },
            success: function (data, textStatus, XMLHttpRequest) {
                if (data == 'noresults') {
                    showmsg('Status', 'Tidak ada data yang ditemukan');
                }
                else {
                    //$('#actTabs a[href="#tab2"]').tab("show");
                    //$('#tab2').html(data);
                    $('#tableholder').html(data);
                }
                $.unblockUI();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                //console.log(XMLHttpRequest, textStatus, errorThrown);
                $.unblockUI();
            }
        });
    };

    function cekprioritas() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("CekPrioritas", "Alokasi")',
            data: { pTipe: "NONOPS" },
            success: function (data, textStatus, XMLHttpRequest) {
                if (data == 'noresults') {
                    showmsg('Status', 'Tidak ada data yang ditemukan');
                }
                else {
                    //$('#actTabs a[href="#tab3"]').tab("show");
                    //$('#tab3').html(data);
                    $('#tableholder').html(data);
                }
                $.unblockUI();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                //console.log(XMLHttpRequest, textStatus, errorThrown);
                $.unblockUI();
            }
        });
    };

    $(document).ready(function () {
        $('#JenisAlokasi').val("NONOPS");

        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#back-to-top').tooltip('show');

    });

    $("#frmalok").submit(function (e) {
        if ($("#frmalok").valid()) {
            var checkvar = $("#InputAlokasi").val();
            if (checkvar != "") {
                //console.log('valid');
                formToPost = $('#frmalok');
                $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AllocationAsync", "Alokasi")',
                    data: $('#frmalok').serialize(),
                    success: function (data, textStatus, XMLHttpRequest) {

                        if (data == 'noresults') {
                            showmsg('Status', 'Tidak ada data yang ditemukan');
                        }
                        else {
                            showmsg('Informasi', '<h4 style="text-align:center;">Alokasi sedang berjalan. Silahkan cek proses.</h4>');
                            //console.log('Calculate is Running.');
                        }
                        $.unblockUI();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { $.unblockUI(); }
                });
            }
            else {
                showmsg('Perhatian!', '<h4 style="text-align:center;">Nilai input alokasi kosong.</h4>');
            }
        }
        e.preventDefault();
        return false;
    });

    $("#btncek").click(function (e) {
        //console.log('btncek');
        cekalokasi();
    });

    $("#btnprioritas").click(function (e) {
        //console.log('btnprioritas');
        cekprioritas();
    });

    $("#btngettest").click(function (e) {
        formToPost = $('#frmalok');
            $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDaftarAlokasi", "Alokasi")',
                data: $('#frmalok').serialize(),
                success: function (data, textStatus, XMLHttpRequest) {
                    //console.log(data);
                    if (data == 'noresults') {
                        showmsg('Status', 'Tidak ada data yang ditemukan');
                        $.unblockUI();
                    }
                    else {
                        $('#alokasirows').html(data);
                        $.unblockUI();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log(XMLHttpRequest, textStatus, errorThrown);
                    $.unblockUI();
                }
            });
    });

    $("#btnreset").click(function (e) {
        //console.log('btnreset');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ResetAllocationAsync", "Alokasi")',
            data: $('#frmalok').serialize(),
            success: function (data, textStatus, XMLHttpRequest) {
                if (data == 'noresults') {
                    showmsg('Status', 'Tidak ada data yang ditemukan');
                }
                else {
                    showmsg('Informasi', '<h4 style="text-align:center;">Hapus data sedang diproses. Silahkan cek proses.</h4>');
                    $('#InputAlokasi').val(data.Dapatalokasi);
                    //console.log('Reset Allocation is Running.');
                }
                $.unblockUI();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) { $.unblockUI(); }
        });
    });

    @*$("#btnsimpan").click(function (e) {
        console.log('btnsimpan');
         $.ajax({
            type: 'POST',
            url: '@Url.Action("SaveAllocationAsync", "Alokasi")',
            data: $('#frmalok').serialize(),
            success: function (data, textStatus, XMLHttpRequest) {

                if (data == 'noresults') {
                    showmsg('Status', 'Tidak ada data yang ditemukan');
                }
                else {
                    showmsg('Informasi', '<h4 style="text-align:center;">Simpan alokasi sedang berjalan. Silahkan cek proses.</h4>');
                    console.log('Save Allocation is Running.');
                }
                $.unblockUI();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) { $.unblockUI(); }
        });
    });*@

    function insert_datasatker()
    {
        //var kodesatker = $('#kodesatker').val();
        //var namasatker = $('#namasatker').val();
        //var nilaianggaran = $('#nilaianggaran').val();
        //var totalalokasi = $('#totalalokasi').val();
        //var nilaialokasi = $('#nilaialokasi').val();
        //var mp = $('#mp').val();
        //var sisaalokasi = $('#sisaalokasi').val();
        //var form = $('#frmalok').serialize();
        //var inputalokasi = $('#InputAlokasi').val();


        $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
        var InputAlokasi = $('#InputAlokasi').val();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("InsertDataSatker", "Alokasi")',
            data: { InputAlokasi: InputAlokasi },
            success: function (data) {
                $.unblockUI();
            }
        });

    }

    //$('#btnsimpan').on('click', function (e) {
    //    e.preventDefault();
    //    var form = $(this).parents('form');
    //    swal({
    //        title: "Confirmation",
    //        text: "Are you sure you want to save this data",
    //        icon: 'warning',
    //        buttons: true,
    //        buttons: ["No", "Yes"]
    //    }).then((confirm) => {
    //        if (confirm) form.submit();
    //    });
    //});

    function update_datasatker() {
        //var kodesatker = $('#kodesatker').val();
        //var namasatker = $('#namasatker').val();
        //var nilaianggaran = $('#nilaianggaran').val();
        //var totalalokasi = $('#totalalokasi').val();
        //var nilaialokasi = $('#nilaialokasi').val();
        //var mp = $('#mp').val();
        //var sisaalokasi = $('#sisaalokasi').val();
        var form = $('#frmdatasatker').serialize();
        var checkboxes = document.getElementsByTagName('input');
        //console.log(checkboxes);


        $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateDataSatker", "Alokasi")',
            data: form,
            success: function (data) {
                swal({
                    title: "Berhasil",
                    text: "Data Berhasil Disimpan",
                    type: "success"
                });
                //location.reload();
            }
        });

    }

    //format masking input a
    webshims.setOptions('forms-ext', {
        replaceUI: 'auto',
        types: 'number'
    });
    webshims.polyfill('forms forms-ext');

</script>


