
@{
    var baseurl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
    //return Json(baseurl, JsonRequestBehavior.AllowGet);
    ViewBag.Judul = "Rekonsiliasi";
    ViewBag.Judul2 = "Selisih Nilai Rekonsiliasi Penerimaan";

    //var datasimfoni = ViewBag.get_data;
    var data = ViewBag.get_data;
    var totalpenerimaan = ViewBag.get_totalpenerimaan;
    var totalsimfoni = ViewBag.get_totalsimfoni;
}

<style>
    td.numeric, th.numeric {
        text-align: right;
    }

    .tdcenter {
        text-align: center;
    }
</style>


<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="padding-top:20px">
                <div class="x_title">
                    <h2 class="sub-header">@(ViewBag.Judul)</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up" title="Hide Form"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" id="frmQueryRekonsiliasi" action="import" method="post" role="form" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="control-label col-sm-2 col-md-2 col-xs-12">Tanggal Mulai</label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class='input-group date' id='TanggalMulai' style="margin-bottom: 0px;">
                                    <input type="text" name="start" id="start" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>

                            <label class="control-label col-sm-2 col-md-2 col-xs-12">Sampai</label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class='input-group date' id='TanggalSelesai' style="margin-bottom: 0px;">
                                    <input type="text" name="end" id="end" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input type="file" class="form-control" id="file_txt" name="file_txt" accept=".txt, .xls, .xlsx, .csv" />
                            </div>
                            <div class="form-group">
                                <div class="pull-right">
                                    <button id="upload" class="btn btn-primary" onclick="notif()">Upload</button>
                                </div>
                            </div><br />
                        </div><br />
                    </form>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-12 col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Nilai Penerimaan</th>
                                            <th class="text-center">Nilai SIMFONI</th>
                                            <th class="text-center">Selisih</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-right"><input type="hidden" id="totalpenerimaan" value="@totalpenerimaan.totalpenerimaan" /> @totalpenerimaan.totalpenerimaan.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="text-right"><input type="hidden" id="totalsimfoni" value="@totalsimfoni.totalsimfoni" />@totalsimfoni.totalsimfoni.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="text-right"><span id="jumlah_total"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (data.Count > 0)
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 class="sub-header">@(ViewBag.Judul2)</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up" title="Hide Form"></i></a></li>
                        </ul>
                        <div class="clearfix">
                            <div class="form-group">
                                <div class="col-xs-12 col-md-12 col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered" id="table_detail">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">No</th>
                                                    <th class="text-center">Tanggal Penerimaan</th>
                                                    @*<th class="text-center">Tanggal Simfoni</th>*@
                                                    <th class="text-center">NTPN Penerimaan</th>
                                                    <th class="text-center">NTPN Simfoni</th>
                                                    <th class="text-center">Nilai Penerimaan</th>
                                                    <th class="text-center">Nilai Simfoni</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (data.Count > 0)
                                                {
                                                    var no = 1;
                                                    foreach (var row in data)
                                                    {
                                                        if (row.jumlahpenerimaan != row.jumlahsimfoni)
                                                        {
                                                        @*<tr style="background-color:aqua;color:black">*@
                                                        <tr>
                                                            <td>@no</td>
                                                            <td>@row.tanggalpenerimaan</td>
                                                            @*<td></td>*@
                                                            <td>@row.ntpn</td>
                                                            <td>@row.kodentpn</td>
                                                            <td class="text-right">@row.jumlahpenerimaan.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                                            <td class="text-right">@row.jumlahsimfoni.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                                        </tr>
                                                            no++;
                                                        }
                                                    @*else
                                                        {
                                                            <tr>
                                                                <td>@row.tanggalpenerimaan</td>
                                                                <td></td>
                                                                <td>@row.ntpn</td>
                                                                <td>@row.kodentpn</td>
                                                                <td class="text-right"><input type="hidden" name="jumlahpenerimaan" class="form-control jumlahpenerimaan" value="@row.jumlahpenerimaan"/>@row.jumlahpenerimaan.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                                                <td class="text-right"><input type="hidden" name="jumlahsimfoni" class="form-control jumlahsimfoni" value="@row.jumlahsimfoni"/>@row.jumlahsimfoni.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                                            </tr>
                                                        }*@
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="7" class="text-center">Data Kosong</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<script>
    //$('#table_detail').DataTable();
    $('#start').datetimepicker({
        format: 'YYYY/MM/DD',
        locale: 'id'
    });

    $('#end').datetimepicker({
        format: 'YYYY/MM/DD',
        locale: 'id'
    });

    function getdatakkp() {
        //var periode = $('#periode').val();

        var data = new FormData();
        data.append('start', $('#start').val());
        data.append('end', $('#end').val());

        var files = $('#file_txt').get(0).files;
        if (files.length > 0) {
            data.append('FILE_TXT', files[0]);
        }

        //console.log(data);
        var ajaxRequest = $.ajax({
            //url: '/Penerimaan/ShowDetailModalNTPN/' + kodebilling,
            url: '@Url.Action("Showkkprekonsiliasi", "Penerimaan")',
            type: "POST",
            dataType: "JSON",
            contentType: 'multipart/form-data',
            processData: false,
            data: data,
            success: function (data) {
                //console.log(data);
                var html = "";
                if (data.length > 0) {
                    var val = 0;
                    $.each(data, function (x) {
                        val += parseFloat(data[x].jumlah);
                        html += ""
                            + "<tr>"
                            + "<td class='text-center'>" + (x + 1) + "</td>"
                            + "<td class='text-left'>" + data[x].tanggal + "</td>"
                            + "<td class='text-center'>0</td>"
                            + "<td class='text-right'>" + data[x].ntpn + "</td>"
                            + "<td class='text-center'>0</td>"
                            + "<td class='text-right'>" + addCommas(data[x].jumlah) + "</td>"
                            + "<td class='text-center'>0</td>"
                            + "</tr>";

                    });
                    //$('#jumlah_kkp').html(addCommas(val));
                    //$('#jumlah_simfoni').html('0');
                    //$('#jumlah_total').html('-');
                } else {
                    html = "<tr><td colspan='6' class='text-center'>Data Kosong</td></tr>";
                }
                $("#table_detail>tbody").html(html);
            }
        });
    }

    function notif() {
        $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
    }

    function addCommas(nStr) {
        nStr += '';
        x = nStr.split(',');
        x1 = x[0];
        x2 = x.length > 1 ? ',' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + '.' + '$2');
        }
        return x1 + x2;
    }

    $(".input-file").before(
            function () {
                if (!$(this).prev().hasClass('input-ghost')) {
                    var element = $("<input type='file' class='input-ghost' style='visibility:hidden; height:0'>");
                    element.attr("name", $(this).attr("name"));
                    element.change(function () {
                        element.next(element).find('input').val((element.val()).split('\\').pop());
                    });
                    $(this).find("button.btn-choose").click(function () {
                        element.click();
                    });
                    $(this).find("button.btn-reset").click(function () {
                        element.val(null);
                        $(this).parents(".input-file").find('input').val('');
                    });
                    $(this).find('input').css("cursor", "pointer");
                    $(this).find('input').mousedown(function () {
                        $(this).parents('.input-file').prev().click();
                        return false;
                    });
                    return element;
                }
            }
        );

    $(document).ready(function () {
        var totalpenerimaan = $('#totalpenerimaan').val();
        var totalsimfoni = $('#totalsimfoni').val();

        var total = totalpenerimaan - totalsimfoni;
        //console.log(total);
        $('#jumlah_total').html(addCommas(total));
    });
</script>

