@model Pnbp.Entities.DataPengembalianPnbp

<link href='@Url.Content("~/resources/switchery/switchery.min.css")' rel="stylesheet" />

<script src='@Url.Content("~/resources/js/jqueryautocomplete/jquery.autocomplete.js")' type="text/javascript"></script>
<script src='@Url.Content("~/resources/js/jquery.inputmask.bundle.min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/resources/switchery/switchery.min.js")'></script>

<div class="" id="dynamic_content">
    <div class="page-title">
        <div class="title_left"><h2 style="width:100%">Entri Data Pengajuan Pengembalian PNBP</h2></div>
        <div class="title_right" style="text-align:right;">
            <div class="pull-right">
                <span class="input-group-btn" style="padding-right:2px;">
                    <button type="button" class="btn btn-warning" id="btnkembali">Kembali</button>
                </span>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="padding-top:7px; border:1px solid #E6E9ED;">
                <div class="x_title">
                    <h2>Data Pengajuan</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" id="frmEntriPengajuan" role="form">
                        @Html.HiddenFor(m => m.PengembalianPnbpId, new { @id = "PengembalianPnbpId" })
                        @Html.HiddenFor(m => m.EditMode, new { @id = "EditMode" })
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Tanggal Pengajuan <span style="color:red">*</span></label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                @Html.TextBoxFor(model => model.TanggalPengaju, new { @class = "form-control", @id = "tanggalpengajuan", @required = "required" })
                                @Html.ValidationMessageFor(model => model.TanggalPengaju, "Tanggal Pengajuan wajib diisi")
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Keterangan <span style="color:red">*</span></label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                @Html.TextBoxFor(m => m.Judul, new { @class = "form-control", @id = "judul", @required = "required", @style = "text-transform: uppercase;" })
                                @Html.ValidationMessageFor(model => model.Judul, "Keterangan wajib diisi.")
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                                <button type="submit" class="btn btn-success" id="btnsimpandatapengajuan">Simpan</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="padding-top:7px; border:1px solid #E6E9ED;">
                <div class="x_title">
                    <h2>Data Lampiran</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_panel">
                    <form class="form-horizontal form-label-left" id="frmEntriLampiranKembalian" role="form">
                        @Html.HiddenFor(m => m.LampiranKembalianId, new { @id = "LampiranKembalianId" })
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Tanggal Dokumen <span style="color:red">*</span></label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                @Html.TextBoxFor(model => model.TanggalFile, new { @class = "form-control", @id = "tanggalfile", @required = "required" })
                                @Html.ValidationMessageFor(model => model.TanggalFile, "Tanggal Dokumen wajib diisi")
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Nama Dokumen <span style="color:red">*</span></label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                @Html.TextBoxFor(model => model.TipeFile, new { @class = "form-control", @id = "tipefile", @required = "required", @style = "text-transform: uppercase;" })
                                @Html.ValidationMessageFor(model => model.TipeFile, "Jenis Dokumen wajib diisi")
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">File <span style="color:red">*</span></label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <div class="input-group" style="margin-bottom: 0px;">
                                    @Html.TextBoxFor(model => model.FileDokumen, new { type = "file", accept = ".pdf,.doc,.docx,.xls,.xlsx", @class = "form-control", @id = "txtUploadFile", @style = "background-color:white; color:#000000; font-family: 'Varela Round', sans-serif; font-size: small;" })
                                    <span class="input-group-addon button-success" id="btnlihatfile" style="cursor:pointer;">
                                        <span class="fa fa-eye"></span>&nbsp;Lihat File
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                                <button type="submit" class="btn btn-success" id="btnsimpandatalampiran">Simpan</button>
                                <button type="button" class="btn btn-primary" id="btnresetdatalampiran">Baru</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive" style="padding-left:10px; padding-right:10px;">
                    @*<form id="frmLampiranKembalian"></form>*@
                    <table id="myTableLampiranKembalian" class="table table-striped table-bordered dt-responsive" style="width:100%;">
                        <thead>
                            <tr>
                                <th style="width:5%">#</th>
                                <th>Tanggal</th>
                                <th>Nama Dokumen</th>
                                <th>Diupload Oleh</th>
                                <th style="width:5%">File</th>
                                <th style="width:5%">Edit</th>
                                <th style="width:5%">Hapus</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="myModalDocViewer" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $('.select2_single').select2({ width: 'resolve' });

        $('#myModalDocViewer').on('shown.bs.modal', function () {
            $(this).find('.modal-dialog').css({
                width: '98%',
                height: '98 %',
                'max-height': '98%'
            });
        });

        $("#tanggalpengajuan").attr('data-inputmask', "'mask': '99-99-9999'");
        $("#tanggalfile").attr('data-inputmask', "'mask': '99-99-9999'");

        createPagingLampiranKembalian();
    });

    $("#btnkembali").on("click", function (e) {

        window.location.href = '@Url.Action("PengajuanPengembalian", "Pengembalian")';

        e.preventDefault();
        return false;
    });

    $("#frmEntriPengajuan").submit(function (e) {
        if ($("#frmEntriPengajuan").valid()) {

            $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });

            var frmdata = new FormData(this);
            frmdata.append("PengembalianPnbpId", $('#PengembalianPnbpId').val());

            $.ajax({
                type: "POST",
                url: '@Url.Action("SimpanPengembalianPnbp", "Pengembalian")',
                data: frmdata,
                contentType: false,
                processData: false,
                success: function (data, textStatus, XMLHttpRequest) {
                    if (data.Status) {

                        $('#PengembalianPnbpId').val(data.ReturnValue);

                        $('#EditMode').val("edit");

                        showinfo(data.Pesan);
                    }
                    else {
                        showalert(data.Pesan);
                    }
                    $.unblockUI();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) { $.unblockUI(); }
            });
        }

        e.preventDefault();
        return false;
    });


    // Lampiran -----------------------------------------------------

    function ResetEntriLampiranKembalian() {
        $('#frmEntriLampiranKembalian')[0].reset();
        $('#tanggalfile').val('');
    };

    //var objpdf = null;
    var dfFileDokumen = null;
    $("#txtUploadFile").on("change", function (e) {
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1;
        if (numFiles > 0) {
            var file = dfFileDokumen = input.get(0).files[0];

            if (file.size > 20000 * 1024) { dfFileDokumen = null; showmsg('Peringatan', 'File maksimum 20Mb'); return false; }

            // Display File -----------------------------------------
            @*var tipefile = input.get(0).files[0].type;
            if (tipefile == 'application/pdf') {

                // Display PDF --------------------------------------
                var blob = new Blob([file], { type: "application/pdf;base64" }),
                    objurl = window.URL.createObjectURL(blob);

                objpdf = objurl;
                var options = { "backdrop": "static", keyboard: true };
                $.blockUI({ baseZ: 2000000, message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DocViewer", "Konten")',
                    success: function (data) {

                        $('#myModalContent').html(data);
                        $('#myModalDocViewer').modal(options);
                        $('#myModalDocViewer').modal('show');
                        //$.unblockUI();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $.unblockUI();
                    }
                });
            }*@
            // Eof Display File -----------------------------------------
        }
    });

    $("#btnlihatfile").on("click", function (e) {

        if (dfFileDokumen == null) {
            return false;
        }

        var filedokumen = dfFileDokumen;
        var tipefile = filedokumen.type;

        if (tipefile == 'application/pdf') {
            var blob = new Blob([dfFileDokumen], { type: "application/pdf;base64" }),
                objurl = window.URL.createObjectURL(blob);
            objpdf = objurl;
        }

        if (tipefile == 'application/pdf') {

            // Display PDF --------------------------------------

            var options = { "backdrop": "static", keyboard: true };
            $.blockUI({ baseZ: 2000000, message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
            $.ajax({
                type: "POST",
                url: '@Url.Action("DocViewer", "Konten")',
                success: function (data) {

                    $('#myModalContent').html(data);
                    $('#myModalDocViewer').modal(options);
                    $('#myModalDocViewer').modal('show');
                    //$.unblockUI();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.unblockUI();
                }
            });

        }

        e.preventDefault();
        return false;
    });

    $("#btnresetdatalampiran").on("click", function (e) {

        ResetEntriLampiranKembalian();
        $('#LampiranKembalianId').val('');
        dfFileDokumen = null;

        $("#tanggalfile").focus();
    });

    $("#frmEntriLampiranKembalian").submit(function (e) {
        if ($("#frmEntriLampiranKembalian").valid()) {
            var pengembalianpnbpid = $('#PengembalianPnbpId').val();

            //alert(pengembalianpnbpid);

            if (pengembalianpnbpid !== null && pengembalianpnbpid !== '') {

                $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });

                var frmdata = new FormData(this);
                frmdata.append("PengembalianPnbpId", pengembalianpnbpid);
                frmdata.append("LampiranKembalianId", $('#LampiranKembalianId').val());

                //if (dfFileDokumen !== null) {
                //    var namafile = dfFileDokumen.name;
                //    var fileExt = '.' + namafile.toLowerCase().split('.').pop();
                //    if (fileExt !== null && fileExt !== '') {
                //        frmdata.append("NamaFile", namafile);
                //        frmdata.append("Ekstensi", fileExt);
                //        frm.append("file", dfFileDokumen);
                //    }
                //}
                //else {
                //    $.unblockUI();
                //    showalert("File wajib diupload");
                //    return false;
                //}

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SimpanLampiranKembalian", "Pengembalian")',
                    data: frmdata,
                    contentType: false,
                    processData: false,
                    success: function (data, textStatus, XMLHttpRequest) {
                        if (data.Status) {

                            dtableLampiranKembalian.ajax.reload(null, true);

                            ResetEntriLampiranKembalian();

                            $('#LampiranKembalianId').val('');

                            showinfo(data.Pesan);
                        }
                        else {
                            showalert(data.Pesan);
                        }
                        $.unblockUI();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { $.unblockUI(); }
                });

            }
            else {
                showalert("Data Kasus belum diinput");
            }
        }

        e.preventDefault();
        return false;
    });

    var dtableLampiranKembalian;
    var createPagingLampiranKembalian = function () {
        dtableLampiranKembalian = $('#myTableLampiranKembalian').DataTable({
            "bLengthChange": false,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "info": false,
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: '@Url.Action("DaftarLampiranKembalian", "Pengembalian")',
                type: "POST",
                data: function (data, obj) { var ftp = $('#frmEntriLampiranKembalian').serializeArray(); data.form = ftp; ftp.push({ name: "pengembalianpnbpid", value: $('#PengembalianPnbpId').val() }); return ftp; }
            },
            "columns": [
                { "data": "RNumber", "className": "centertaligncolumn", "width": "5%" },
                { "data": "TanggalFile", "className": "centertaligncolumn", "width": "100px" },
                { "data": "TipeFile" },
                { "data": "NamaPengupload" },
                {
                    "data": "View",
                    "className": "centertaligncolumn",
                    "width": "5%",
                    render: function (data, type, row) {
                        return '<b class="fa fa-eye" style="cursor: pointer;"></b>';
                    }
                },
                {
                    "data": "Edit",
                    "className": "centertaligncolumn",
                    "width": "5%",
                    render: function (data, type, row) {
                        return '<i class="fa fa-edit" style="cursor: pointer;"></i>';
                    }
                },
                {
                    "data": "Hapus",
                    "className": "centertaligncolumn",
                    "width": "5%",
                    render: function (data, type, row) {
                        return '<u class="fa fa-trash" style="cursor: pointer;"></i>';
                    }
                }
            ]
        });
    };

    $('#myTableLampiranKembalian tbody').delegate('tr i', 'click', function (e) {
        e.preventDefault();
        var data = dtableLampiranKembalian.row($(this).closest('tr')).data();

        $('#frmEntriLampiranKembalian')[0].reset();

        $('#LampiranKembalianId').val(data.LampiranKembalianId);
        $('#tanggalfile').val(data.TanggalFile);
        $('#tipefile').val(data.TipeFile);

        $("#tanggalfile").focus();
    });

    $('#myTableLampiranKembalian tbody').delegate('tr u', 'click', function (e) {
        e.preventDefault();

        var data = dtableLampiranKembalian.row($(this).closest('tr')).data();

        swal({
            title: "Konfirmasi Hapus Data",
            text: "Yakin Anda mau menghapus data Lampiran : " + data.TipeFile + " ?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Ya",
            cancelButtonText: "Batal"
        },
        function (isConfirm) {
            if (isConfirm) {
                $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
                var frm = new FormData();
                frm.append("lampirankembalianid", data.LampiranKembalianId);
                $.ajax({
                    url: '@Url.Action("HapusLampiranKembalian", "Pengembalian")',
                    type: "POST",
                    data: frm,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data, textStatus, jqXHR) {
                        if (data && data.Status) {

                            dtableLampiranKembalian.ajax.reload(null, true);
                            ResetEntriLampiranKembalian();
                            $('#LampiranKembalianId').val('');

                            showinfo('Data berhasil dihapus');
                        }
                        else {
                            showalert("Error", data.Pesan);
                        }
                        $.unblockUI();
                    },
                    error: function (jqXHR, textStatus, errorThrown) { showmsg("Error", errorThrown); $.unblockUI(); }
                });
            }
        });
    });

</script>



