@model List<Pnbp.Entities.AlokasiJob>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="table-responsive">
                <div class="x_title">
                    <h2>Cek Proses</h2>
                    <div class="clearfix"></div>
                </div>
                <button id="btncekulang" type="button" class="btn btn-info"><span class="fa fa-refresh"></span> Muat Ulang </button>
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Nama Prosedur</th>
                            <th>Waktu Mulai</th>
                            <th>Waktu Selesai</th>
                            <th>Status</th>
                            <th>Hasil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Rnumber</td>
                                    <td>@item.Namaprosedur</td>
                                    <td>@item.Mulai</td>
                                    <td>@item.Selesai</td>
                                    @if (item.Inputalokasi > item.Result)
                                    {
                                        decimal sisaalokasi = Convert.ToDecimal(item.Inputalokasi - item.Result);
                                        <td>@item.Status, alokasi tersisa @sisaalokasi.ToString("N0", new System.Globalization.CultureInfo("id-ID")) </td>
                                    }
                                    else
                                    {
                                        <td>@item.Status</td>
                                    }
                                    @if (item.Result > 0)
                                    {
                                        <td style="text-align:right;">@item.Result.Value.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                    }
                                    else
                                    {
                                        <td style="text-align:right;">@item.Result</td>
                                    }
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td colspan="6" style="text-align:center;">Tidak Ada Data</td></tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#btncekulang").click(function (e) {
        cekalokasi();
    });
</script>
