@model List<Pnbp.Entities.AlokasiRows>

@foreach (var berkas in Model)
{
<tr>
    <td>@berkas.Rnumber.Value.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
    <td>@berkas.Tahun</td>
    <td>@berkas.NamaKantor</td>
    <td>@berkas.NamaProgram</td>
    <td>@berkas.PrioritasKegiatan</td>
    <td style="text-align:right;">@berkas.NilaiAnggaran.Value.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
    <td style="text-align:right;">@berkas.SudahAlokasi.Value.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
    <td style="text-align:right;">@berkas.NilaiAlokasi.Value.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
</tr>
}