@model Pnbp.Entities.QueryInformasiBerkas

<script src='@Url.Content("~/resources/js/jquery.validate.min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/resources/js/jquery.validate.unobtrusive.min.js")' type="text/javascript"></script>

<script src='@Url.Content("~/resources/js/moment.js")'></script>
<script src='@Url.Content("~/resources/js/id.js")'></script>
<script src='@Url.Content("~/resources/js/bootstrap-datetimepicker.min.js")'></script>

<script src='@Url.Content("~/resources/js/infiniteScroll.js")'></script>

<link '@Url.Content("~/resources/css/bootstrap-datetimepicker.css")' rel="stylesheet">
<link '@Url.Content("~/resources/css/dataTables.bootstrap.min.css")' rel="stylesheet" />
<script src='@Url.Content("~/resources/js/jquery.dataTables.min.js")'></script>
<script src='@Url.Content("~/resources/js/dataTables.bootstrap.min.js")'></script>

<style type="text/css">
   .input-group{
       display: block;
   }
</style>

<div id="dynamic_content">
    <div class="page-title">
        <div class="title_left">
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Masukkan Kodebilling dan/atau NTPN</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" id="frmQueryInformasiBerkas" role="form">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Kode Billing : </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div id='qKobil'>
                                    @Html.TextBoxFor(model => model.kodebilling, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(m => m.kodebilling, "", new { @class = "error" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">NTPN : </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div id='qNTPN'>
                                    @Html.TextBoxFor(model => model.ntpn, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(m => m.ntpn, "", new { @class = "error" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                                <button type="submit" class="btn btn-success">Cari</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Hasil Pencarian Berkas</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="resultInformasi"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#frmQueryInformasiBerkas").submit(function (e) {
        if (!(document.forms["frmQueryInformasiBerkas"]["kodebilling"].value == "" && document.forms["frmQueryInformasiBerkas"]["ntpn"].value == "")) {
            if ($("#frmQueryInformasiBerkas").valid()) {
                resetInfiniteScroll();
                formToPost = $('#frmQueryInformasiBerkas');
                $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ShowInformasiBerkas", "Administrasi")',
                    data: $('#frmQueryInformasiBerkas').serialize(),
                    success: function (data, textStatus, XMLHttpRequest) {
                        if (data == 'noresults') {
                            showmsg('Status', 'Tidak ada data yang ditemukan');
                        }
                        else {
                            $('#resultInformasi').html(data);
                        }
                        $.unblockUI();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { $.unblockUI(); }
                });
            }
        }
        else
        {
            alert("Isi salah satu inputan.");
            return false;
        }
        e.preventDefault();
        return false;
    });
</script>
