@model List<Pnbp.Entities.SatkerAlokasi>

@foreach (var item in Model)
{
    <tr style="cursor: pointer" id="@item.Kantorid">
        <td class="numeric">@(item.Rnumber)</td>
        <td>@item.Kodesatker</td> 
        <td>@item.Namasatker</td>
        <td class="numeric">@item.Nilaianggaran.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
        <td class="numeric">@item.Nilaialokasi.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
        <td>@item.Statusaktif</td>
    </tr>
}