@model Pnbp.Entities.File
@{
    ViewBag.Judul = "Manajemen Data";
    var baseurl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));

}

@using (Html.BeginForm("ManajemenData", "administrasi", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <script type="text/javascript" nonce="MjI3NzUzMQ">
        $(function () {
            $.validator.unobtrusive.parse(this);
        });
    </script>

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel" style="padding-top:15px">
                        <div class="x_title" style="padding-left:25px">
                            <h2 class="sub-header" style="margin-left: 3px">@(ViewBag.Judul)</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up" title="Hide Form"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form class="form-horizontal form-label-left" id="manajemendata" method="post" enctype="multipart/form-data">
                                @Html.AntiForgeryToken()
                                <div class="row">

                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <h4 style="margin-left:20px"><b>Unduh Berkas</b></h4>
                                            </div>

                                            <div class="col-sm-4">
                                                <select name="year" id="year" class="select2_single form-control input-md text-center">
                                                    <option value="" class="text-center">-- Pilih Tahun --</option>
                                                    @for (var i = DateTime.Now.Year; i >= (DateTime.Now.Year - 5); i--)
                                                    {
                                                        <option value="@i" class="text-center">@i</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top: 25px">
                                            <label class="col-sm-4" style="margin-left:20px">Penerimaan</label>
                                            <a href="#" class="btn btn-success MjI3MTg4MQ" style="margin-left:7px" data-cb="MjI3MTgzNg"><span class="fa fa-floppy-o"></span> Unduh</a>
                                            @*<button type="submit" class="btn btn-success"><span class="fa fa-floppy-o"></span> Unduh </button>*@
                                        </div>

                                        <div class="row" style="margin-top: 8px">
                                            <label class="col-sm-4" style="margin-left:20px">Belanja</label>
                                            <a href="#" class="btn btn-success MjI3MTg4MQ" style="margin-left:7px" data-cb="MjI3MjE4Ng"><span class="fa fa-floppy-o"></span> Unduh</a>
                                            @*<button type="submit" class="btn btn-success"><span class="fa fa-floppy-o"></span> Unduh </button>*@
                                        </div>

                                        <div class="row" style="margin-top: 8px">
                                            <label class="col-sm-4" style="margin-left:20px">Rencana Aksi</label>
                                            <a href="#" class="btn btn-success MjI3MTg4MQ" style="margin-left:7px" data-cb="MjI3MjIzNQ"><span class="fa fa-floppy-o"></span> Unduh</a>
                                            @*<button type="submit" class="btn btn-success"><span class="fa fa-floppy-o"></span> Unduh </button>*@
                                        </div>

                                        <div class="row" style="margin-top: 8px">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <label class="col-sm-4" style="margin-left:20px">NTPN</label>
                                                </div>
                                                <div class="col-sm-2">
                                                    <select class="form-control select2" name="month" id="month" data-placeholder="Pilih Jenis" style="width:100px">
                                                        <option value="1">Januari</option>
                                                        <option value="2">Februari</option>
                                                        <option value="3">Maret</option>
                                                        <option value="4">April</option>
                                                        <option value="5">Mei</option>
                                                        <option value="6">Juni</option>
                                                        <option value="7">Juli</option>
                                                        <option value="8">Agustus</option>
                                                        <option value="9">September</option>
                                                        <option value="10">Oktober</option>
                                                        <option value="11">November</option>
                                                        <option value="12">Desember</option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-2" style="margin-left:20px">
                                                    <a href="#" class="btn btn-success MjI3MTg4MQ" data-cb="MjI3MjIzOA"><span class="fa fa-floppy-o"></span> Unduh</a>
                                                </div>
                                            </div>
                                            @*<button type="submit" class="btn btn-success"><span class="fa fa-floppy-o"></span> Unduh </button>*@
                                        </div>
                                    </div>
                                </div>



                                @*<div class="form-group">
                                        <label class="control-label col-md-1 col-sm-1 col-xs-12">MAX : </label>
                                        <button id="find-btn" type="button" class="btn btn-success col-md-1 col-sm-1 col-xs-12">Max</button>
                                        <div class="col-md-1">
                                            <p>:</p>
                                        </div>
                                        <div class="col-md- col-sm-2 col-xs-12">
                                            <input type="text" name="max" id="max" class="form-control" placeholder="Max"/>
                                        </div>
                                     </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-1 col-sm-1 col-xs-12">MIN : </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input type="text" name="min" id="min" class="form-control" placeholder="Min"/>
                                        </div>
                                    </div>*@
                            </form>

                            @* Modal Show *@
                            <div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="aModalLabel">Message</h4>
                                        </div>
                                        <div class="modal-body">
                                            @*@ViewBag.Result*@
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary">OK</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* Modal Show *@

                            <div class="row" style="margin-top:10px;padding-top:10px;border-radius:3px;border:none;" id="docviewpanel">
                                <div class="col-md-12 col-sm-12 col-xs-12" id="docViewer" style="min-height:1px;display:none">...</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
}

<script src='@Url.Content("~/resources/js/pdfobject.min.js")'></script>
<script type="text/javascript" nonce="MjI3NzUzMQ">
    @if(TempData["Upload"] != null) { <text>
            $(window).load(function()
            {
                $(document).ready(function()
                {
                    swal({
                        title: "Berhasil",
                        text: "@TempData["Upload"]",
                        type: "success"
                });
            });
    }); </text>
    }

    $(document).ready(function () {
        $('#CariKodeSatker').select2({
            placeholder: "Pilih Satker"
        });

        createPagingPengajuan();

        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#back-to-top').tooltip('show');
    });

    $("#btnCreate").click(function (e) {
        window.location.href = '@Url.Action("EntriPengajuan", "Pengembalian")';

        e.preventDefault();
        return false;
    });

    $("#frmCariPengajuan").submit(function (e) {
        dtablePengajuan.ajax.reload(null, true);
        e.preventDefault();
        return false;
    });

    var dtablePengajuan;
    var createPagingPengajuan = function () {
        dtablePengajuan = $('#historyTarget').DataTable({
            //"fnDrawCallback": function (oSettings) {
            //    if ($('#historyTarget tr').length < 10) {
            //        $('.dataTables_paginate').hide();
            //    }
            //},
            "bLengthChange": false,
            "paging": true,
            "pageLength": 10,
            "bFilter": false,
            "ordering": true,
            "info": false,
            "processing": true,
            "serverSide": true,
            "scrollX": false,
            "ajax": {
                url: '@Url.Action("ListTargetHistory", "Administrasi")',
                type: "POST",
                data: function (data, obj) { var ftp = $('#frmCariPengajuan').serializeArray(); data.form = ftp; ftp.push({ name: "start", value: data.start }, { name: "length", value: data.length }); return ftp; }

            },
            "columns": [
                { "data": "RNumber", "className": "centertaligncolumn", "width": "5%" },
                {
                    "data": 'File_Name_Target'

                },
                { "data": 'FILE_CREATE_DATE' },
                {
                    "data": 'File_Path_Target',
                    "className": "centertaligncolumn",
                    "width": "8%",
                    render: function (data) {
                        return '<a href="' + data + '" target="_blank" class="btn btn-xs btn-default" height="5px"><span><i class="fa fa-download"></i></span></a>'
                    }
                },

                //{ "data": "NilaiTarget", "className": "rightaligncolumn", render: formatangka },
                //{ "data": "Penerimaan", "className": "rightaligncolumn", render: formatangka },
                //{ "data": "REALISASIBELANJA", "className": "rightaligncolumn", render: formatangka },
                //{ "data": "Persen" },
                //{ "data": "Evaluasi" },
                //kolom renaksi
                 //{
                 //    "data": "Renaksi",
                 //    "className": "centertaligncolumn",
                 //    "width": "5%",
                 //    render: function (datum, type, row) {
                 //        if (row.Renaksi != null) {
                 //            //return '<p>OK</p>';
                 //            //return '<span><i class="fa fa-check" style="color:#1ABC9C"></i></span>';
                 //            return '<a data-toggle="tooltip" data-placement="top" title="Detail Renaksi" data-id="' + row.KantorId + '" data-renaksi="' + row.Renaksi + '"  data-kode-satker="' + row.KodeSatker + '" data-nama-kantor="' + row.NamaKantor + '" onclick="detailRenaksi(this)"><span><i class="fa fa-info-circle" style="cursor: pointer;font-size:18px"></i></span></a>';
                 //        } else {
                 //            return '<p>-</p>';
                 //        }

                 //    }
                 //},

                //{
                //    "data": "data",
                //    "className": "centertaligncolumn",
                //    "width": "5%",
                //    render: function (datum, type, row) {
                //        if (row.Evaluasi != null) {
                //            //return '<p>OK</p>';
                //            //return '<span><i class="fa fa-check" style="color:#1ABC9C"></i></span>';
                //            return '<a data-toggle="tooltip" data-placement="top" title="Detail Evaluasi" data-id="' + row.KantorId + '" data-kode-satker="' + row.KodeSatker + '" data-nama-kantor="' + row.NamaKantor + '" data-evaluasi="' + row.Evaluasi + '" onclick="detail(this)"><span><i class="fa fa-info-circle" style="cursor: pointer; font-size:18px"></i></span></a>';
                //        } else {
                //            return '<a class="btn btn-sm btn-primary" data-id="' + row.KantorId + '" data-kode-satker="' + row.KodeSatker + '" data-nama-kantor="' + row.NamaKantor + '" onclick="addEvaluasi(this)" data-toggle="tooltip" data-placement="top" title="Tambah Evaluasi"><span class="glyphicon glyphicon-plus" style="height:12px"></span></a>';

                //        }

                //    }
                //},
            ],
        });
    };

    $('#historyTarget tbody').delegate('tr u', 'click', function (e) {
        var data = dtablePengajuan.row($(this).closest('tr')).data();

        //showinfo(data.PengembalianPnbpId);

        var pengembalianpnbpid = data.PengembalianPnbpId;
        if (pengembalianpnbpid !== null && pengembalianpnbpid !== '') {
            swal({
                title: "Konfirmasi Hapus Data",
                text: "Yakin Anda mau menghapus data pengajuan berkas no. " + data.NomorBerkas + " (" + data.NamaPemohon + ") ?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ya",
                cancelButtonText: "Batal"
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
                    var frm = new FormData();
                    frm.append("pengembalianpnbpid", pengembalianpnbpid);
                    $.ajax({
                        url: '@Url.Action("HapusPengembalianPnbp", "Pengembalian")',
                        type: "POST",
                        data: frm,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (data, textStatus, jqXHR) {
                            if (data && data.Status) {
                                dtablePengajuan.ajax.reload(null, true);
                                showinfo('Data berhasil dihapus');
                            }
                            else {
                                showalert("Error", data.Pesan);
                            }
                            $.unblockUI();
                        },
                        error: function (jqXHR, textStatus, errorThrown) { showmsg("Error", errorThrown); $.unblockUI(); }
                    });
                }
            });
        }

        e.preventDefault();
        return false;
    });

    //Preview PDF
    var dfPengumuman = null;
    $("#file_name1").on("change", function (e) {
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1;
        if (numFiles > 0) {
            var file = dfPengumuman = input.get(0).files[0],
                blob = new Blob([file], { type: "application/pdf;base64" }),
                objurl = window.URL.createObjectURL(blob);
            if ($("#docViewer").height() < 500)
                $("#docViewer").height(500);
            PDFObject.embed(objurl, $("#docViewer"), { forcePDFJS: true, PDFJS_URL: '@Url.Content("~/Contents/pdfviewer.html")' });
            $('#docViewer').css('display', 'inline-block');
        }
    });

    function exportFile() {
        var year = $('#year').val();
        if(year == ''){
            year = new Date().getFullYear();
        }
        window.location.replace('@Url.Action("ExportPenerimaan", "Administrasi")?pTahun=' + year);
        //window.location.href = + "Administrasi/ExportPenerimaan/";
    }

    function exportBelanja() {
        var year = $('#year').val();
        if(year == ''){
            year = new Date().getFullYear();
        }
        window.location.replace('@Url.Action("ExportBelanja", "Administrasi")?pTahun=' + year);
    }

    function exportRenaksi() {
        var year = $('#year').val();
        if (year == '') {
            year = new Date().getFullYear();
        }
        window.location.replace('@Url.Action("ExportRenaksi", "Administrasi")?pTahun=' + year);
        //window.location.href = + "Administrasi/ExportRenaksi";
    }

    function exportNtpn() {
        var year = $('#year').val();
        var month = $('#month').val();
        if (year == '') {
            year = new Date().getFullYear();
        }
        //window.location.href = + "Administrasi/Exportntpn";
        window.location.replace('@Url.Action("ExportntpnV2", "Administrasi")?pTahun=' + year + '&pBulan=' + month);
    }
    $(document).ready(function () {

        //$('#aModal').modal('show');
        $('.select2_single').select2({ width: 'resolve' });
        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        //createFirstPaging();
    });

        $(function () {
            $("div#loading").hide();
        });

        $("#manajemendata").submit(function (e) {
            if ($("#manajemendata").valid()) {
                $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
            }
        });
        //function bs_input_file() {
        //    $(".input-file").before(
        //        function () {
        //            if (!$(this).prev().hasClass('input-ghost')) {
        //                var element = $("<input type='file' class='input-ghost' style='visibility:hidden; height:0'>");
        //                element.attr("name", $(this).attr("name"));
        //                element.change(function () {
        //                    element.next(element).find('input').val((element.val()).split('\\').pop());
        //                });
        //                $(this).find("button.btn-choose").click(function () {
        //                    element.click();
        //                });
        //                $(this).find("button.btn-reset").click(function () {
        //                    element.val(null);
        //                    $(this).parents(".input-file").find('input').val('');
        //                });
        //                $(this).find('input').css("cursor", "pointer");
        //                $(this).find('input').mousedown(function () {
        //                    $(this).parents('.input-file').prev().click();
        //                    return false;
        //                });
        //                return element;
        //            }
        //        }
        //    );
        //}
        //$(function () {
        //    bs_input_file();
        //});

    ;(function () {

        let DOMEvents = {
            clickable: {
                'MjI3MTgzNg': () => exportFile(),
                'MjI3MjE4Ng': () => exportBelanja(),
                'MjI3MjIzNQ': () => exportRenaksi(),
                'MjI3MjIzOA': () => exportNtpn(),
            },
        };

        window.listenOn('.MjI3MTg4MQ', 'click', DOMEvents.clickable);

    })();

</script>
