@model Pnbp.Entities.FilterPenerimaan
@{
	ViewBag.Judul = "Monitoring Alokasi";
	var lsbulan = new List<SelectListItem>();
	lsbulan.Add(new SelectListItem { Value = "1", Text = "Januari" });
	lsbulan.Add(new SelectListItem { Value = "2", Text = "Februari" });
	lsbulan.Add(new SelectListItem { Value = "3", Text = "Maret" });
	lsbulan.Add(new SelectListItem { Value = "4", Text = "April" });
	lsbulan.Add(new SelectListItem { Value = "5", Text = "Mei" });
	lsbulan.Add(new SelectListItem { Value = "6", Text = "Juni" });
	lsbulan.Add(new SelectListItem { Value = "7", Text = "Juli" });
	lsbulan.Add(new SelectListItem { Value = "8", Text = "Agustus" });
	lsbulan.Add(new SelectListItem { Value = "9", Text = "September" });
	lsbulan.Add(new SelectListItem { Value = "10", Text = "Oktober" });
	lsbulan.Add(new SelectListItem { Value = "11", Text = "November" });
	lsbulan.Add(new SelectListItem { Value = "12", Text = "Desember" });


	var get_propinsi = ViewBag.get_propinsi;
	var pelayanan = ViewBag.pelayanan;
}

<style>
	.pnbp-group-table {
	}
</style>

<div id="dynamic_content">
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel" style="padding-top:20px">
				<div class="x_title">
					<h2 class="sub-header">@(ViewBag.Judul)</h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up" title="Hide Form"></i></a></li>
					</ul>
					<div class="clearfix"></div>
				</div>
                <div class="x_content">
                    @using (Html.BeginForm("Export", "Penerimaan", FormMethod.Post, new { id = "frmFindData", @class = "form-horizontal form-label-left" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group mt-4">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Tahun : </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select name="tahun" id="tahun" class="select2_single form-control input-md">
                                    <option value="">-- Pilih Tahun --</option>
                                    @for (var i = DateTime.Now.Year; i >= 2022; i--)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>

                        @*
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Bulan : </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.bulan, lsbulan, " -- Pilih Bulan --", new { @class = "select2_single form-control input-md", @id = "bulan" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Provinsi</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select name="propinsi" id="propinsi" class="select2_single form-control input-md">
                        <option value="">--Pilih Provinsi--</option>
                        @if (get_propinsi.Count > 0)
                        {
                            foreach (var row in get_propinsi)
                            {
                                <option value="@row.kantorid">@row.nama_satker</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Kab/Kota</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select name="satker" id="satker" class="select2_single form-control input-md">
                        <option value="">--Pilih Satker--</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Pelayanan : </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select name="pelayanan" id="pelayanan" class="select2_single form-control input-md">
                        <option value="">-- Pilih Pelayanan --</option>
                        @foreach (var p in pelayanan)
                        {
                            <option value="@p.KodeSpopp">@p.Nama</option>
                        }
                    </select>
                </div>
            </div>
                        *@
                    }
                </div>
				<div class="mb-3 row">
					<div style="text-align:center;">
						<div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3">
							<button id="find-btn" type="button" class="btn btn-success">Cari</button>
							@*<button id="reset-btn" type="reset" class="btn btn-warning">Hapus</button>*@
						</div>
						<div class="col-md-2 col-sm-2 col-xs-12">
							@*<button id="dl-btn" type="submit" form="frmFindData" class="btn btn-success"><span class="fa fa-floppy-o"></span> Excel </button>*@
						</div>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
						@*<div class="x_content">
							<div class="row">
								<div class="clearfix"></div>
								<div id="penerimaanholder" class="table-responsive">
									<table id="tbl-alokasi0" class="table table-striped table-bordered dt-responsive nowrap hidden" style="clear: both; border-collapse: collapse; width: 100%;">
										<thead>
											<tr>
												<th class="tdcenter">Tanggal Penerimaan</th>
												<th class="tdcenter">Kode Billing</th>
												<th class="tdcenter">Nomor Berkas</th>
												<th class="tdcenter">Tahun Berkas</th>
												<th class="tdcenter">Kode Penerimaan</th>
												<th class="tdcenter">Nama Penerimaan</th>
												<th class="tdcenter">Jumlah</th>
												<th class="tdcenter">Nilai Akhir</th>
											</tr>
										</thead>
										<tbody></tbody>
									</table>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>*@

                        <form class="form-horizontal form-label-left pnbp-group-table px-3" id="frmdatasatker" method="post" data-name="alokasi">
                            @Html.AntiForgeryToken()
                            <div class="form-group" id="group_alokasi">
                                <div class="row text-center">
                                    <label class="control-label"><h2><b>Riwayat MP</b></h2></label>
                                </div>
                                <table id="summaryalokasisatker" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>MP</th>
                                            <th>Total Pagu</th>
                                            <th>Total Alokasi</th>
                                            <th>Total Belanja</th>
                                            <th>Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </form>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<script>
    let tblAlokasi = null;
    $(document).ready(function () {

		getSummaryAlokasi();

        $('.select2_single').select2({ width: 'resolve' });
        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        //createFirstPaging();

        $("#find-btn").on("click", function (e) {
            let tahun = $("#tahun").val(),
                bulan = $('#bulan').val(),
                kodeSpopp = $('#pelayanan').val(),
                satker = $('#satker').val();

            //if (tblAlokasi == null) {
            //    $('#tbl-alokasi0').removeClass('hidden');
            //    tblAlokasi = initDt(satker, kodeSpopp, tahun, bulan);
            //} else {
            //    //tblAlokasi.ajax.url("/MonitoringEvaluasi/AlokasiDT?kantorId=" + satker + "&kodeSpopp=" + kodeSpopp + "&tahun=" + tahun + "&bulan=" + bulan + "&statusAlokasi=false").load();
            //    tblAlokasi.ajax.url("/MonitoringEvaluasi/AlokasiDTV2?tahun=" + tahun).load();
            //}

			if (tahun === '') {
				getSummaryAlokasi();
			} else {
				$.ajax({
					type: "GET",
					url: '@Url.Action("SummaryAlokasi", "Alokasi")' + '?tahun=' + tahun,
					success: function (res) {
						writeDataTableSummary(res);
					},
					error: function (XMLHttpRequest, textStatus, errorThrown) { }
				});
			}

            e.preventDefault();
            return false;
        });

        $('#propinsi').change(function () {
            var provinsi = $('#propinsi').val()
                $.ajax({
                    url: '@Url.Action("satker", "Penerimaan")',
                    type: "GET",
                    dataType: "JSON",
                    data: { kode: provinsi },
                    success: function (data) {
                        //console.log(data[0].KantorId);
                        var html = "";
                        if (data.length > 0) {
                            $.each(data, function (x) {
                                html += ""
                                + "<option></option>"
                                + "<option value='" + data[x].KantorId + "'>" + data[x].Nama + "</option>"
                            })
                        } else {
                            + "<option>Data Kosong</option>"
                        }
                        $("#satker").html(html);
                    }
                });
            })
        });

    function initDt(kantorId, kodespopp, tahun, bulan) {
        let dt = $('#tbl-alokasi0').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/MonitoringEvaluasi/AlokasiDT?kantorId=" + kantorId + "&kodeSpopp=" + kodespopp + "&tahun=" + tahun + "&bulan=" + bulan + "&statusAlokasi=false",
                "type": "POST"
            },
            "columns": [
                {
                    "data": "tanggal"
                },
                {
                    "data": "kodebilling"
                },
                {
                    "data": "nomorberkas"
                },
                {
                    "data": "tahunberkas"
                },
                {
                    "data": "kodepenerimaan"
                },
                {
                    "data": "namaprogram"
                },
                {
                    "data": "jumlah"
                },
                {
                    "data": "nilaiakhir"
                }
            ]
        });


        return dt;
    }

    function getSummaryAlokasi() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("SummaryAlokasi", "Alokasi") ',
            success: function (res) {
                writeDataTableSummary(res);
			},
			error: function (XMLHttpRequest, textStatus, errorThrown) { }
        });
    }

	function writeDataTableSummary(res) {
		var html = "";
		if (res.data != null && res.data != undefined && res.data.length > 0) {
			var data = res.data;
			var i = 0;
			$.each(data, function (x) {
				i = x + 1;
				html += ""
					+ "<tr>"
					+ "<td class='text-center'>" + i + "</td>"
					+ "<td class='text-left'>MP " + data[x].Mp + " <input type='hidden' id='kodesatker' name='kodesatker' value='" + data[x].kantorid + "'> </td>"
					+ "<td class='text-right'>" + addCommas(data[x].Pagu) + "<input type='hidden' id='nilaianggaran' name='nilaianggaran' value='" + data[x].nilaianggaran + "'></td>"
					+ "<td class='text-right'>" + addCommas(data[x].Alokasi) + "<input type='hidden' id='totalalokasi' name='totalalokasi' value='" + data[x].totalalokasi + "'></td>"
					+ "<td class='text-right'>" + addCommas(data[x].Belanja) + "</td>"
					//+ "<td class='text-right'>" + ((data[x].Alokasi / data[x].Pagu) * 100).toFixed(2) + "<input type='hidden' id='totalalokasi' name='totalalokasi' value='" + data[x].totalalokasi + "'></td>"
					+ "<td class='text-center' onclick='showDetailAlokasiSummary("
					+ "\"" + data[x].AlokasiSatkerSummaryId + "\""
					+ ");'> <i class='fa fa-eye'></i> </td>"
					+ "</tr>";
			});
			$("#index").val(i);
		} else {
			html = "<tr><td colspan='9' class='text-center'>Data Tidak Tersedia</td></tr>";
		}

		$("#summaryalokasisatker>tbody").html(html);
	}

	function addCommas(nStr) {
		nStr += '';
		x = nStr.split(',');
		x1 = x[0];
		x2 = x.length > 1 ? ',' + x[1] : '';
		var rgx = /(\d+)(\d{3})/;
		while (rgx.test(x1)) {
			x1 = x1.replace(rgx, '$1' + '.' + '$2');
		}
		return x1 + x2;
	}

	function showDetailAlokasiSummary(id) {
        $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
        $.pjax({
            container: '#dynamic_content',
            type: "GET",
            url: '@Url.Action("AlokasiSummaryDetail", "MonitoringEvaluasi")?id=' + id + '',
            dataType: 'html',
            contentType: "application/json; charset=utf-8"
        });
    }

</script>