@model Dictionary<int, Pnbp.Entities.StatistikNTPNDetail>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Key</td>
        @*<td>@item.Value.namakantor</td>*@
        <td>@item.Value.nomorberkas</td>
        <td>@item.Value.tahunberkas</td>
        <td>@item.Value.kodebilling</td>
        <td>@item.Value.tglbilling</td>
        <td>@item.Value.ntpn</td>
        <td>@item.Value.tglntpn</td>
        <td class="numeric" style="text-align:right;">Rp.@item.Value.jumlah.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
        <td>@item.Value.nomor305</td>
        <td>@item.Value.tgl305</td>
    </tr>
}

<script type="text/javascript">
    $(document).ready(function () {
        $.unblockUI();
    })
</script>