@model  Pnbp.Entities.CharDashboard
@{}
<style>
    .control-label {
        padding-top: 8px;
        padding-right: 0px;
    }


.loader {
  width: 100%;
  height: 100%;
  display: block;
}

.loader.inactive {
    display: none;
}

    .loader-wheel {
        animation: spin 1s infinite linear;
        border: 2px solid rgba(30, 30, 30, 0.5);
        border-left: 4px solid #fff;
        border-radius: 50%;
        height: 50px;
        margin-bottom: 10px;
        width: 50px;
        margin: 30px auto;
    }

.loader-text {
  color: #fff;
  font-family: arial, sans-serif;
}

.loader-text:after {
  content: 'Loading';
  animation: load 2s linear infinite;
}

@@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@@keyframes load {
  0% {
    content: 'Loading';
  }
  33% {
    content: 'Loading.';
  }
  67% {
    content: 'Loading..';
  }
  100% {
    content: 'Loading...';
  }
}
</style>
<script src='@Url.Content("~/resources/js/jquery.min.js")'></script>
<script src='@Url.Content("~/resources/js/echarts.min.js")'></script>
<script src='@Url.Content("~/resources/js/highcharts/highcharts.js")'></script>
<script src='@Url.Content("~/resources/js/highcharts/highcharts-more.js")'</script>
<script src='@Url.Content("~/resources/js/highcharts/highcharts-3d.js")'></script>
<script src='@Url.Content("~/resources/js/highcharts/modules/data.js")'></script>
<script src='@Url.Content("~/resources/js/highcharts/modules/drilldown.js")'></script>
<script src='@Url.Content("~/resources/js/highcharts/modules/exporting.js")'></script>
<script src='@Url.Content("~/resources/js/highcharts/modules/offline-exporting.js")'></script>

<div class="row" id="dynamicchart">
    @*@{Html.RenderAction("IndexPartial", "Home");}*@
    <div class="row">
        <div class="col-sm-12">
            @* Card Total Penerimaan *@
            <div class="col-md-3">
                <div class="tile-stats" style="height:135px">
                    <div id="loader-penerimaan" class="loader">
                        <div class="loader-wheel"></div>
                    </div>
                    @*<div class="icon"><i class="fa fa-caret-square-o-right"></i></div>*@
                    <h4 style="margin-top:20px"><center>Total<br>Penerimaan</center></h4>
                    <div style="margin:12px"><h2 style="font-size:15px; color:#02A35D"><b><center> <label id="totalPenerimaan"></label> </center></b></h2></div>
                    <p></p>
                </div>
            </div>

            @* Card Total Belanja *@
            <div class="col-md-3">
                <div class="tile-stats" style="height:135px">
                    <div id="loader-total-belanja" class="loader">
                        <div class="loader-wheel"></div>
                    </div>
                    @*<div class="icon"><i class="fa fa-caret-square-o-right"></i></div>*@
                    <h4 style="margin-top:20px"><center>Total<br>Belanja</center></h4>
                    <div style="margin:12px"><h2 style="font-size:15px; color:#02A35D"><b><center><label id="totalBelanja"></label> </center></b></h2></div>
                    <p></p>
                </div>
            </div>

            @* Card Persentase Penerimaan *@
            <div class="col-md-3">
                <div class="tile-stats" style="height:135px">
                    <div id="loader-persentase-penerimaan" class="loader">
                        <div class="loader-wheel"></div>
                    </div>
                    @*<div class="icon"><i class="fa fa-caret-square-o-right"></i></div>*@
                    <h4 style="margin-top:20px"><center>Persentase <br> Penerimaan (%)</center></h4>
                    <div style="margin:12px"><h2 style="font-size:15px; color:#02A35D"><b><center><label id="persentasePenerimaan"></label> </center></b></h2></div>
                    <p></p>
                </div>
            </div>

            @* Card Persentase Belanja *@
            <div class="col-md-3">
                <div class="tile-stats" style="height:135px">
                    <div id="loader-persentase-belanja" class="loader">
                        <div class="loader-wheel"></div>
                    </div>
                    @*<div class="icon"><i class="fa fa-caret-square-o-right"></i></div>*@
                    <h4 style="margin-top:20px"><center>Persentase <br> Belanja (%)</center></h4>
                    <div style="margin:12px"><h2 style="font-size:15px; color:#02A35D"><b><center><label id="persentaseBelanja"></label> </center></b></h2></div>
                    <p></p>
                </div>
            </div>

            @* pagu vs mp *@
            <div class="col-md-3 col-sm-2 col-xs-12">
                <div class="x_panel" id="paguvsmp" style="height:250px">
                    <div class="loader loader-halfpie">
                        <div class="loader-wheel"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-2 col-xs-12">
                <div class="x_panel" id="mpvsbelanja" style="height:250px">
                    <div class="loader loader-halfpie">
                        <div class="loader-wheel"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    var bulanOps;
    var belanjaOps;

    $(document).ready(function () {
        getDashboardLine();

        getTotalPenerimaan();
        getTotalBelanja();
        getPersentasiPenerimaan();
        getPersentaseBelanja();

        getDataHalfPie();

    });

    function getTotalPenerimaan() {
        $.ajax({
            url: '@Url.Action("GetTotalPenerimaan", "Home")',
            success: function (response) {
                $('#totalPenerimaan').text(response.totalPenerimaan)

                $('#loader-penerimaan').addClass('inactive');
            },
            error: function (response) {
                console.log('error', response);
            }
        });
    }

    function getTotalBelanja() {
        $.ajax({
            url: '@Url.Action("GetTotalBelanja", "Home")',
            success: function (response) {
                $('#totalBelanja').text(response.totalBelanja)
                $('#loader-total-belanja').addClass('inactive');
            },
            error: function (response) {
                console.log('error', response);
            }
        });
    }

    function getPersentasiPenerimaan() {
        $.ajax({
            url: '@Url.Action("GetPersentasiPenerimaan", "Home")',
            success: function (response) {
                $('#persentasePenerimaan').text(response.persentasePenerimaan)
                $('#loader-persentase-penerimaan').addClass('inactive');
            },
            error: function (response) {
                console.log('error', response);
            }
        });
    }

    function getPersentaseBelanja() {
        $.ajax({
            url: '@Url.Action("GetPersentaseBelanja", "Home")',
            success: function (response) {
                $('#persentaseBelanja').text(response.persentaseBelanja)
                $('#loader-persentase-belanja').addClass('inactive');
            },
            error: function (response) {
                console.log('error', response);
            }
        });
    }

    function getDataHalfPie() {
        $.ajax({
            url: '@Url.Action("GetDataHalfPie", "Home")',
            success: function (response) {
                getPaguvsMp(response.paguVsMp.mp, response.paguVsMp.pagu)
                mpvsbelanja(response.mpVsBelanja.mp, response.mpVsBelanja.belanja)
                mpvsbelanjaOps(response.mpVsBelanjaOps.mp, response.mpVsBelanjaOps.belanja)
                mpvsbelanjaNonOps(response.mpVsBelanjaNonOps.mp, response.mpVsBelanjaNonOps.belanja)

                $('.loader-halfpie').addClass('inactive');
            },
            error: function (response) {
                console.log('error', response);
            }
        });
    }

    function getDashboardLine() {
        $.ajax({
            url: '@Url.Action("getDashboardLine", "Home")',
            success: function (res) {
                var data = res.data
                console.log('data', data);
                resultArray = data.jumlah;
                AlokasiOps = data.jumlahops;
                BulanAlokasiOps = data.bulanAlokOps;
                belanjaNonOps = data.belanjaNonOps;
                belanjaOps = data.belanjaOps;
                bulan = data.bulan;
                bulanNonOps = data.bulanNonOps;
                bulanOps = data.bulanOps;
                showLineDashboard();
                $('.loader-line').addClass('inactive');
            },
            error: function (response) {
                console.log('error', response);
            }
        });
    }

    function getPaguvsMp(persenMp, persenPagu){
        Highcharts.chart('paguvsmp', {
            chart: {
                renderTo: 'container',
                plotBackgroundColor: null,
                plotBackgroundImage: null,
                plotBorderWidth: 0,
                plotShadow: false,
            },
            title: {
                text: 'PAGU VS MP',
                align: 'center',
                verticalAlign: 'top',
                y: 40
            },
            tooltip: {
                pointFormat: '{series.data[0]}: <b>{point.y}</b>'
            },
            pane: {
                center: ['50%', '70%'],
                size: '50%',
                startAngle: -90,
                endAngle: 90,
                background: {
                    borderWidth: 0,
                    backgroundColor: 'none',
                    innerRadius: '60%',
                    outerRadius: '100%',
                    shape: 'arc'
                }
            },
            yAxis: [{
                lineWidth: 0,
                min: 0,
                max: 90,
                minorTickLength: 0,
                tickLength: 0,
                tickWidth: 0,
                labels: {
                    enabled: false
                },
                title: {
                    text: '', //'<div class="gaugeFooter">46% Rate</div>',
                    useHTML: true,
                    y: 80
                },
                pane: 0,

            }],
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        distance: -50,
                        style: {
                            fontWeight: 'bold',
                            color: 'white',
                            textShadow: '0px 1px 2px black'
                        }
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['50%', '75%']
                },
            },

            series: [{
                type: 'pie',
                name: 'Data',
                innerSize: '50%',
                data: [
                    ['MP', Math.round(persenMp)],
                    ['PAGU', Math.round(persenPagu)]
                    ]
            },
            ],
        });
    }

    function mpvsbelanja(persenMp, persenBelanja){
        //Chart Spedometer MP VS Belanja

        Highcharts.chart('mpvsbelanja', {
            chart: {
                renderTo: 'container',
                plotBackgroundColor: null,
                plotBackgroundImage: null,
                plotBorderWidth: 0,
                plotShadow: false,
            },
            title: {
                text: 'MP VS Belanja',
                align: 'center',
                verticalAlign: 'top',
                y: 40
            },
            tooltip: {
                pointFormat: '{series.data[0]}: <b>{point.y}</b>'
            },
            pane: {
                center: ['50%', '70%'],
                size: '50%',
                startAngle: -90,
                endAngle: 90,
                background: {
                    borderWidth: 0,
                    backgroundColor: 'none',
                    innerRadius: '60%',
                    outerRadius: '100%',
                    shape: 'arc'
                }
            },
            yAxis: [{
                lineWidth: 0,
                min: 0,
                max: 90,
                minorTickLength: 0,
                tickLength: 0,
                tickWidth: 0,
                labels: {
                    enabled: false
                },
                title: {
                    text: '', //'<div class="gaugeFooter">46% Rate</div>',
                    useHTML: true,
                    y: 80
                },
                pane: 0,

            }],
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        distance: -50,
                        style: {
                            fontWeight: 'bold',
                            color: 'white',
                            textShadow: '0px 1px 2px black'
                        }
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['50%', '75%']
                },
               
            },

            series: [{
                type: 'pie',
                name: 'Data',
                innerSize: '55%',
                data: [
                    ['Belanja', persenBelanja],
                    ['MP', persenMp],

                ]
            },
            ],
        });
    }

    function mpvsbelanjaOps(persenMp, persenBelanja) {
        //Chart Spedometer MP VS Belanja

        Highcharts.chart('belanjaops', {
            chart: {
                renderTo: 'container',
                plotBackgroundColor: null,
                plotBackgroundImage: null,
                plotBorderWidth: 0,
                plotShadow: false,
            },
            title: {
                text: 'MP VS Belanja OPS',
                align: 'center',
                verticalAlign: 'top',
                y: 40
            },
            tooltip: {
                pointFormat: '{series.data[0]}: <b>{point.y}</b>'
            },
            pane: {
                center: ['50%', '70%'],
                size: '50%',
                startAngle: -90,
                endAngle: 90,
                background: {
                    borderWidth: 0,
                    backgroundColor: 'none',
                    innerRadius: '60%',
                    outerRadius: '100%',
                    shape: 'arc'
                }
            },
            yAxis: [{
                lineWidth: 0,
                min: 0,
                max: 90,
                minorTickLength: 0,
                tickLength: 0,
                tickWidth: 0,
                labels: {
                    enabled: false
                },
                title: {
                    text: '', //'<div class="gaugeFooter">46% Rate</div>',
                    useHTML: true,
                    y: 80
                },
                pane: 0,

            }],
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        distance: -50,
                        style: {
                            fontWeight: 'bold',
                            color: 'white',
                            textShadow: '0px 1px 2px black'
                        }
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['50%', '75%']
                },
            },

            series: [{
                type: 'pie',
                name: 'Data',
                innerSize: '55%',
                data: [
                    ['Belanja', persenBelanja],
                    ['MP', persenMp],

                ]
            },
            ],
        });
    }

    function mpvsbelanjaNonOps(persenMp, persenBelanja) {
        //Chart Spedometer MP VS Belanja

        console.log('mpvsbelanjaNonOps === > ', persenMp, persenBelanja);

        Highcharts.chart('belanjanonops', {
            chart: {
                renderTo: 'container',
                plotBackgroundColor: null,
                plotBackgroundImage: null,
                plotBorderWidth: 0,
                plotShadow: false,
            },
            title: {
                text: 'MP VS Belanja Non OPS',
                align: 'center',
                verticalAlign: 'top',
                y: 40
            },
            tooltip: {
                pointFormat: '{series.data[0]}: <b>{point.y}</b>'
            },
            pane: {
                center: ['50%', '70%'],
                size: '50%',
                startAngle: -90,
                endAngle: 90,
                background: {
                    borderWidth: 0,
                    backgroundColor: 'none',
                    innerRadius: '60%',
                    outerRadius: '100%',
                    shape: 'arc'
                }
            },
            yAxis: [{
                lineWidth: 0,
                min: 0,
                max: 90,
                minorTickLength: 0,
                tickLength: 0,
                tickWidth: 0,
                labels: {
                    enabled: false
                },
                title: {
                    text: '', //'<div class="gaugeFooter">46% Rate</div>',
                    useHTML: true,
                    y: 80
                },
                pane: 0,

            }],
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        distance: -50,
                        style: {
                            fontWeight: 'bold',
                            color: 'white',
                            textShadow: '0px 1px 2px black'
                        }
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['50%', '75%']
                },
            },

            series: [{
                type: 'pie',
                name: 'Data',
                innerSize: '55%',
                data: [
                    ['Belanja', persenBelanja],
                    ['MP', persenMp],

                ]
            },
            ],
        });
    }


    function showLineDashboard() {
        var alokasi = [];
        var alokasiops = [];
        var nonOps = [];
        var ops = [];
        for (i = 1; i <= 12; i++) {
            var cek = true;
            var cekNonOps = true;
            var cekOps = true;
            var cekAlokasiOps = true;
            $.each(bulan, function (j, v) {
                if (i == v) {
                    alokasi.push(resultArray[j]);
                    cek = false;
                }
            });

            if (cek) {
                alokasi.push(0);
            }

            //Show Alokasi OPS
            $.each(BulanAlokasiOps, function (j, v) {
                if (i == v) {
                    alokasiops.push(AlokasiOps[j]);
                    cek = false;
                }
            });

            if (cekAlokasiOps) {
                alokasiops.push(0);
            }
            //Show Alokasi OPS

            //Show Belanja NonOps (Line Chart)
            $.each(bulanNonOps, function (j, v) {
                if (i == v) {
                    nonOps.push(belanjaNonOps[j]);
                    cekNonOps = false;
                }
            });

            if (cekNonOps) {
                nonOps.push(0);
                //console.log(bulan);
            }

            //Show Belanja Ops (Line Chart)
            $.each(bulanOps, function (j, v) {
                if (i == v) {
                    ops.push(belanjaOps[j]);
                    cekOps = false;
                }
            });

            if (cekOps) {
                ops.push(0);
                //console.log(bulan);
            }

        }

        Highcharts.chart('alokasibelanjaops', {
            chart: {
                renderTo: 'container',
                type: 'line'
            },

            title: {
                text: 'Alokasi VS Belanja OPS'
            },

            subtitle: {
                text: ''
            },

            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            },

            yAxis: {
                title: {
                    text: 'Miliar'
                },
                labels: {
                    formatter: function () {
                        //return this.value / 1000000000 + 'M';
                        if (this.value >= 1E6) {
                            return '' + this.value / 1000000000 + 'M';
                        } else if (this.value == 0) {
                            return '0';
                        }
                        return '' + this.value / 1000000 + 'JT';
                    }
                }
            },

            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: false,
                    },
                    enableMouseTracking: true
                }
            },
            series: [{
                name: 'Alokasi',
                data: alokasiops
            }, {
                name: 'Belanja OPS',
                data: ops
            }]
        });

        //Chart Line Alokasi VS Belanja NON-OPS
        Highcharts.chart('alokasibelanjanonops', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Alokasi VS Belanja Non-OPS'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'Miliar'
                },
                labels: {
                    formatter: function () {
                        //return this.value / 1000000000 + 'M';
                        if (this.value >= 1E6) {
                            return '' + this.value / 1000000000 + 'M';
                        } else if (this.value == 0) {
                            return '0';
                        }
                        return '' + this.value / 1000000 + 'JT';
                    }
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: false
                    },
                    enableMouseTracking: true
                }
            },
            series: [{
                name: 'Alokasi',
                color: "#F7B123",

                data: alokasi
            }, {
                name: 'Belanja Non-OPS',
                color: "#37659D",
                data: nonOps
            }]
        });
    }

</script>