

@{
    ViewBag.Judul = "Detail Data";
    var data = ViewBag.get_data;
}

<style>
    td.numeric, th.numeric {
        text-align: right;
    }

    .tdcenter {
        text-align: center;
    }
</style>

<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="padding-top:20px">
                <div class="x_title">
                    <h2 class="sub-header">@(ViewBag.Judul)</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up" title="Hide Form"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <form class="form-horizontal form-label-left" id="createnomenklatur" role="form" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Kode Kantor : </label>
                                    <label style="margin-top:8px;">@data.kode</label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Kode Satker : </label>
                                    <label style="margin-top:8px;">@data.kodesatker</label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Nama Satker : </label>
                                    <div class="col-md-7 col-sm-7 col-xs-12">
                                        <label style="margin-top:8px;">@data.nama_satker</label>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nama Alias : </label>
                                        <div class="col-md-7 col-sm-7 col-xs-12">
                                            <label style="margin-top:8px;">@data.namaalias</label>
                                        </div>
                                    </div>*@
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Tahun : </label>
                                    <div class="col-md-7 col-sm-7 col-xs-12">
                                        <label style="margin-top:8px;">@data.tahun</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary">Simpan</button>
                                    <a href="@Url.Action("Index", "Satkernomenklatur")" class="btn btn-danger"><i class="fa fa-rotate-left"></i>&nbsp;Kembali</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

