@{
    ViewBag.Judul = "Ubah Data Target";
    var data = ViewBag.get_data;
    var jenislayanan = ViewBag.get_penerimaan;
    var program = ViewBag.get_program;

}

<style>
    td.numeric, th.numeric {
        text-align: right;
    }

    .tdcenter {
        text-align: center;
    }
</style>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2 class="sub-header" style="padding:10px">@(ViewBag.Judul)</h2>
                @*<h2 style="padding:10px">Form Design <small>different form elements</small></h2>*@
                <ul class="nav navbar-right panel_toolbox">
                    <li class="text-right" style="padding:10px">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <br />
                <form class="form-horizontal form-label-left" id="createnomenklatur" role="form" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" style="display:none;">Kode Target</label>
                        <div class="col-md-5 col-sm-3 col-xs-12">
                            <input type="hidden" name="kodetarget" id="kodetarget" class="form-control" placeholder="Kode Targer" maxlength="5" value="@data.KodeTarget" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nama Kantor</label>
                        <div class="col-md-5 col-sm-3 col-xs-12">
                            <input type="text" name="kodetarget" id="kodetarget" class="form-control" placeholder="Kode Targer" maxlength="5" value="@((User as Pnbp.Entities.InternalUserIdentity).NamaKantor.Replace("Kantor Pertanahan", ""))" readonly />
                            <input type="hidden" class="form-control wajib" id="idkantor" name="idkantor" onkeyup="validate()" value=" @((User as Pnbp.Entities.InternalUserIdentity).KantorId.Replace("Kantor Pertanahan", "")) " readonly>
                        </div>
                    </div>
                   
                    @*<div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nama Layanan</label>
                        <div class="col-sm-5">
                            <select name="jenislayanan" id="jenislayanan" class="select2_single form-control input-md" onchange="FillProgram()" required>
                                <option value="">-- pilih layanan --</option>
                                @if (jenislayanan != null)
                                {
                                    foreach (var row in jenislayanan)
                                    {
                                        <option value="@row.JenisPenerimaan"@((row.JenisPenerimaan == data.JenisLayanan) ?"selected":"")>@row.JenisPenerimaan</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>*@

                    <input type="hidden" name="namaprogram" id="namaprogram" value="@data.NamaProsedur" />

                    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nama Program</label>
                        <div class="col-sm-5">
                            <select name="idprogram" id="idprogram" class="select2_single form-control input-md" required>
                                <option value="">-- Pilih Program --</option>
                                @if (program != null)
                                {
                                    foreach (var row in program)
                                    {
                                        <option value="@row.NamaProsedur" @((row.NamaProsedur == data.NamaProsedur) ? "selected" : "")>@row.NamaProsedur</option>
                                    }
                                }
                            </select>
                            @*<span id="validate" class="text-danger" style="display: none;">* Data tidak boleh kosong</span>*@
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Target Penerimaan</label>
                        <div class="col-md-3 col-sm-2 col-xs-12">
                            <input type="text" name="nilaitarget" id="nilaitarget" class="form-control text-right asd" placeholder="Nama Target" value="@data.NilaiTarget.ToString("N0", new System.Globalization.CultureInfo("id-ID"))" required/>
                            <span class="form-control-feedback left" aria-hidden="true" style="margin:1px;margin-top:5px">Rp</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Target Fisik</label>
                        <div class="col-md-3 col-sm-2 col-xs-12">
                            <input type="text" name="targetfisik" id="targetfisik" class="form-control text-right asd" placeholder="Target Fisik" value="@data.targetfisik.ToString("N0", new System.Globalization.CultureInfo("id-ID"))" required />
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-primary btn-icon-text">
                                <i class="fa fa-check"></i>&nbsp;
                                Simpan
                            </button>

                            <a href="@Url.Action("TargetIndex","Target")">
                                <button type="button" class="btn btn-danger btn-icon-text">
                                    <i class="fa fa-arrow-left"></i>&nbsp;
                                    Kembali
                                </button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.select2_single').select2();

    $(document).ready(function () {
        FillProgram();
    });

    @*function FillProgram() {
        var jenislayanan = $('#jenislayanan').val();
        var KantorId = $('#idkantor').val();
        var namaprogram = $('#namaprogram').val();
        //console.log(idkantor);

        $.ajax({
            url: '@Url.Action("FillProgram","Target")',
            type: 'GET',
            dataType: 'JSON',
            data: { jenislayanan: jenislayanan },
            success: function (data) {
                console.log(data);
                var html = "";
                if (data.length > 0) {
                    $.each(data, function (x) {
                        html += ""
                        //+ "<option value='" + data[x].NamaProsedur + "' "+((data[x].NamaProsedur == namaprogram)?"selected":"")+">" + data[x].NamaProsedur + "</option>"
                        + "<option value='" + data[x].NamaProsedur + "'>" + data[x].NamaProsedur + "</option>"
                    })
                } else {
                    + "<option>Data Kosong</option>"
                }
                $("#idprogram").html(html);
            }
        });
    }*@

    $('.asd').keyup(function (event) {

        // skip for arrow keys
        if (event.which >= 37 && event.which <= 40) return;

        // format number
        $(this).val(function (index, value) {
            return value
            .replace(/\D/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            ;
        });
    });
</script>
