@{
    ViewBag.Judul = "Detail Target";
    var data = ViewBag.get_data;
}

<style>
    td.numeric, th.numeric {
        text-align: right;
    }

    .tdcenter {
        text-align: center;
    }
</style>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2 class="sub-header" style="padding:10px">@(ViewBag.Judul)</h2>
                @*<h2 style="padding:10px">Form Design <small>different form elements</small></h2>*@
                <ul class="nav navbar-right panel_toolbox">
                    <li class="text-right" style="padding:10px">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <br />
                <form class="form-horizontal form-label-left" id="createnomenklatur" role="form" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nama Kantor : </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <label style="margin-top:8px;">@data.NamaKantor</label>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nama Layanan : </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <label style="margin-top:8px;">@data.JenisLayanan</label>
                        </div>
                    </div>*@
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nama Program : </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <label style="margin-top:8px;">@data.NamaProsedur</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Target Penerimaan: </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <label style="margin-top:8px;">Rp. @data.NilaiTarget.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Target Fisik : </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <label style="margin-top:8px;">Rp. @data.targetfisik.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</label>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                           
                            <a href="@Url.Action("TargetIndex","Target")">
                                <button type="button" class="btn btn-danger btn-icon-text">
                                    <i class="fa fa-arrow-left"></i>&nbsp;
                                    Kembali
                                </button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

