@model Dictionary<int, Pnbp.Entities.SatkerAlokasi>
@{
    Pnbp.Models.PemanfaatanModel pemanfaatanModel = new Pnbp.Models.PemanfaatanModel();
    var userid = (User.Identity as Pnbp.Entities.InternalUserIdentity).UserId;
}

<% if (Model.Count > 0) { %>
@foreach (var lst in Model)
{

<tr class="">
    <td class="centertaligncolumn" style="min-width:5vmin">@lst.Value.RNumber</td>
    <td class="centertaligncolumn" style="width:15%">@lst.Value.Kodesatker</td>
    <td onclick="showsatker('@lst.Value.Kantorid', '@lst.Value.Namasatker')" style="cursor: pointer">@lst.Value.Namasatker</td>
    <td class="rightaligncolumn">@lst.Value.Nilaianggaran.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
    <td class="rightaligncolumn">@lst.Value.JUMLAHALOKASI.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
    @*<td style="text-align:center;cursor: pointer;"><i class="fa fa-pencil"></i></td>*@
    <td class="centertaligncolumn">
        @if (@lst.Value.Statusaktif == "Aktif")
        {
            @*if (pemanfaatanModel.UsersInRoles(userid, "Administrator Pusat"))
                {
                    <input type="checkbox" checked="checked" name="table_records">
                }
                else
                {*@
            @*<input type="checkbox" checked="checked" disabled="disabled" name="table_records">*@
            <span class="fa fa-check" style="text-align: center; color:lightgreen;"></span>
            //}
        }
        else
        {
            @*if (pemanfaatanModel.UsersInRoles(userid, "Administrator Pusat"))
                {
                    <input type="checkbox" name="table_records">
                }
                else
                {*@
            @*<input type="checkbox" disabled="disabled" name="table_records">*@
            <span class="fa fa-close" style="text-align: center; color:red;"></span>
            @*}*@
        }
    </td>
    <td style="text-align:center;cursor: pointer;" onclick="showsatker('@lst.Value.Kantorid', '@lst.Value.Namasatker');"><i class="fa fa-pencil"></i></td>
    @if (@lst.Value.StatusRenaksi == 1)
    {
        <td style="text-align:center;cursor: pointer;" onclick="showrenaksi('@lst.Value.RenaksiSatkerId');"><i class="fa fa-eye"></i></td>
    }
    else if (@lst.Value.StatusRenaksi == -99)
    {
        <td style="text-align:center;"><span class="fa fa-check" style="text-align: center; color:lightgreen;"></span></td>
    }
    else
    {
        <td style="text-align:center;"><i class="fa fa-close" style="color:red"></i></td>
    }
</tr>
}
<% } %>



    <script type="text/javascript">

    $('td').click(function (event) {
        if ($(event.target).is('input')) {
            $('input:checkbox', this).prop('checked', function (i, value) {
                @*if (confirm("Apakah data akan di ubah?")) {
                    $(this).addClass("selected");
                    var a = $(this).closest("tr").find("td:eq(1)").text();
                    var pdata = { kantorid: a, bolCheck: value };
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("UpdateStatusSatker", "Pemanfaatan")',
                        data: pdata,
                        success: function (data, textStatus, XMLHttpRequest) {
                            $.unblockUI();
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) { alert(textStatus); $.unblockUI(); }
                    });
                }
                else {
                    return !value;
                }*@

                $(this).addClass("selected");
                var a = $(this).closest("tr").find("td:eq(1)").text();
                var pdata = { kantorid: a, bolCheck: value };

                $.confirm({
                    title: "Konfirmasi Edit Data",
                    text: "Apakah data akan di ubah ?",
                    modalOptionsBackdrop: 'static',
                    modalOptionsKeyboard: true,
                    confirmButton: "Ya",
                    cancelButton: "Batal",
                    confirm: function () {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("UpdateStatusSatker", "Pemanfaatan")',
                            data: pdata,
                            success: function (data, textStatus, XMLHttpRequest) {
                                $.unblockUI();
                                showmsg('Informasi', data.Pesan);
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) { alert(textStatus); $.unblockUI(); }
                        });
                    },
                    cancel: function () {
                        $(event.target).prop('checked', !value);
                    }
                });


            });
        }
    });


    function showsatker(id, namasatker) {
        $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
        var pdata = { kantorid: id, namakantor: namasatker };
        console.log('data', pdata);
        $.pjax({
            container: "#dynamic_content",
            type: 'POST',
            @*url: '@Url.Action("DetilSatkerManfaat", "Pemanfaatan")',*@
            url: '@Url.Action("DataManfaatDetailV2", "Pemanfaatan")?tahun=' + $('#cmbTahun').val() + '',
            data: pdata,
            success: function (data, textStatus, XMLHttpRequest) {
                $('#right_col').html(data);
                $.unblockUI();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.unblockUI();
            }
        });
    };
    </script>
