@model Pnbp.Entities.FilterPenerimaan
@{
    var lsbulan = new List<SelectListItem>();
    lsbulan.Add(new SelectListItem { Value = "1", Text = "Januari" });
    lsbulan.Add(new SelectListItem { Value = "2", Text = "Februari" });
    lsbulan.Add(new SelectListItem { Value = "3", Text = "Maret" });
    lsbulan.Add(new SelectListItem { Value = "4", Text = "April" });
    lsbulan.Add(new SelectListItem { Value = "5", Text = "Mei" });
    lsbulan.Add(new SelectListItem { Value = "6", Text = "Juni" });
    lsbulan.Add(new SelectListItem { Value = "7", Text = "Juli" });
    lsbulan.Add(new SelectListItem { Value = "8", Text = "Agustus" });
    lsbulan.Add(new SelectListItem { Value = "9", Text = "September" });
    lsbulan.Add(new SelectListItem { Value = "10", Text = "Oktober" });
    lsbulan.Add(new SelectListItem { Value = "11", Text = "November" });
    lsbulan.Add(new SelectListItem { Value = "12", Text = "Desember" });
}

<script src='@Url.Content("~/resources/js/infiniteScroll.js")'></script>
<style>
    .panel-container {
        padding: 16px;
    }

    .dataTables_processing[style="display: block;"] {
        display: flex !important;
        justify-content: center;
        align-items: center;
        min-height: 37px;
    }
</style>


<div class="" id="dynamic_content">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel panel-container">
                <div class="x_title">
                    <h2>Penerimaan Satuan Kerja</h2>
                    <ul class="nav navbar-right panel_toolbox hide">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" id="js-frm-pencarian" role="form" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Tahun : </label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <select name="tahun" class="select2_single form-control input-md text-">
                                        <option value="" class="text-left">-- Pilih Tahun --</option>
                                        @for (var i = DateTime.Now.Year; i >= (DateTime.Now.Year - 5); i--)
                                        {
                                            <option value="@i" class="text-left">@i</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Bulan : </label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    @Html.DropDownListFor(model => model.bulan, lsbulan, " -- Pilih Bulan --", new { @class = "select2_single form-control input-md", @id = "bulan" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Satker : </label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <input type="text" class="form-control" placeholder="Satuan Kerja" name="satker" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <button id="btn-cari" type="submit" class="btn btn-success">Cari</button>
                            </div>
                        </div>
                        <br>

                        <div class="table-responsive">
                            <table id="eventsTable" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Kode Satker</th>
                                        <th>Satuan Kerja</th>
                                        <th>Fisik</th>
                                        <th>Operasional</th>
                                        <th>Penerimaan</th>
                                        <th>Aksi</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


<div id='myModalDocViewer' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>


<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" title="" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

<script type="text/javascript">
    $(function () {
        $("div#loading").hide();
    });

    $(document).ready(function () {

        $('#myModalDocViewer').on('shown.bs.modal', function () {
            $(this).find('.modal-dialog').css({
                width: '98%',
                height: '98 %',
                'max-height': '98%'
            });
        });

        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#back-to-top').tooltip('show');

        let frmPencarian = $('#js-frm-pencarian');
	    frmPencarian.on('submit', (e) => {
		    e.preventDefault();
		    dTable.draw();
	    })

	    let dTable = $('#eventsTable').DataTable({
            "bLengthChange": false,
            "paging": true,
            "pageLength": 10,
            "bFilter": false,
            "ordering": false,
            "info": false,
            "processing": true,
            "serverSide": true,
            "scrollX": false,
            "ajax": {
			    url: '@Url.Action("pn_satker_list", "Penerimaan")',
                type: "POST",
			    data: function (data, obj) {
				    var idProvinsi = '@ViewBag.provinsi_id';
				    var ftp = frmPencarian.serializeArray();
                    data.form = ftp;
				    ftp.push(
					    { name: "start", value: data.start },
					    { name: "length", value: data.length },
                        { name: "propinsi", value: idProvinsi },
						{ name: "draw", value: data.draw },
				    );
				    return ftp;
			    }
            },
		    "columns": [
			    { "data": "urutan", "className": "centertaligncolumn", "width": "5%" },
			    { "data": "kodesatker", "className": "centertaligncolumn", "width": "15%" },
			    { "data": "nama_satker", "width": "30%" },
                //{ "data": "nilaitarget", "className": "text-right", "width": "15%", "rendr": formatAngka },
                { "data": "jumlah", "className": "text-right", "width": "15%", "render": formatAngka },
                { "data": "operasional", "className": "text-right", "width": "20%", "rendr": formatAngka },
                { "data": "penerimaan", "className": "text-right", "width": "20%", "rendr": formatAngka },
                {
					"mData": "Name",
                    "width": "10%",
					"className": "centertaligncolumn",
                    "mRender": function (data, type, row) {
                        return "<a class='centertaligncolumn' href='/Penerimaan/pn_layanan?pid=" + row.kantorid + "'><i class='fa fa-eye'></i></a>";
                    }
                }
            ],
	    });

		function formatAngka(data) {
			let formattedString = formatangka(data);
			console.log(formattedString)
			if (formattedString == 'null') {
				formattedString = '';
			}
			return formattedString;
		}

    });

</script>

