@*@model List<Pnbp.Entities.StatistikPenerimaan>*@

@{
    ViewBag.Judul = "Rincian Realisasi Penerimaan";
    var get_data = ViewBag.data;
    var tahun = ViewBag.tahun;
}

<style>
    td.numeric, th.numeric {
        text-align: right;
    }

    .tdcenter {
        text-align: center;
    }
</style>

@*<link href='@Url.Content("~/resources/css/table.css")' rel="stylesheet">*@
<div class="x_panel">
    <div class="x_title">
        <h2 class="sub-header">Detail Realisasi Penerimaan Per Satuan Kerja</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <a href="@Url.Action("RealisasiPenerimaan", "Penerimaan")" class="btn btn-info">Kembali</a>
        <br />
        <br/>
        <table id="table-penerimaan" class="table table-striped table-bordered dt-responsive nowrap" style="clear: both; border-collapse: collapse; width: 100%;">
            <thead>
                <tr>
                    <th class="tdcenter">Kode Satker</th>
                    <th class="tdcenter">Nama Satker</th>
                    <th class="tdcenter">Nama Prosedur</th>
                    <th class="tdcenter">Target Fisik</th>
                    <th class="tdcenter">Realisasi Fisik</th>
                    <th class="tdcenter">Persentase Fisik</th>
                    <th class="tdcenter">Target Penerimaan</th>
                    <th class="tdcenter">Realisasi Penerimaan</th>
                    <th class="tdcenter">Persentase Penerimaan</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>


<script type="text/javascript">
    var kantorId = "@ViewData["kantorId"]";
    var pTahun = "@ViewData["tahun"]";
    var pBulan = "@ViewData["bulan"]";

    $(document).ready(function () {
        $('#table-penerimaan').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/Penerimaan/realisasipenerimaandetailDt?id=" + kantorId + "&pTahun=" + pTahun + "&pBulan=" + pBulan,
                "type": "POST"
            },
            "columns": [
                {
                    "data": "kodesatker"
                },
                {
                    "data": "namakantor"
                },
                {
                    "data": "namaprosedur"
                },
                {
                    "data": "targetfisik"
                },
                {
                    "data": "jumlah"
                },
                {
                    "data": "persentasefisik"
                },
                {
                    "data": "nilaitarget"
                },
                {
                    "data": "penerimaan"
                },
                {
                    "data": "persentasepenerimaan"
                }
            ]
        })
    })
</script>