@model List<Pnbp.Entities.RealisasiLayananDetail>

@{
    ViewBag.Judul = "Rincian Realisasi Penerimaan";
}

<style>
    td.numeric, th.numeric {
        text-align: right;
    }

    .tdcenter {
        text-align: center;
    }
</style>

@*<link href='@Url.Content("~/resources/css/table.css")' rel="stylesheet">*@

<table class="table table-striped table-bordered dt-responsive nowrap" style="clear: both; border-collapse: collapse; width: 100%;">
    <thead>
        <tr>
            <th class="tdcenter">No</th>
            <th class="tdcenter">Nama Prosedur</th>
            <th class="tdcenter">Kode Satker</th>
            <th class="tdcenter">Nama Satker</th>
            <th class="tdcenter">Target Fisik</th>
            <th class="tdcenter">Realisasi Fisik</th>
            <th class="tdcenter">Persentase Fisik</th>
            <th class="tdcenter">Target Penerimaan</th>
            <th class="tdcenter">Realisasi Penerimaan</th>
            <th class="tdcenter">Persentase Penerimaan</th>
        </tr>
    </thead>

    <tbody>
        @if (Model.Count > 0)
        {
            var no = 1;
            foreach (var item in Model)
            {
        <tr>
            <td class="numeric">@no</td>
            <td><a href="@Url.Action("RealisasiPenerimaanPerbandingan", "penerimaan", new { berkasid = item.berkasid, kantorId = item.kantorid, tahun = ViewBag.tahun, bulan=ViewBag.bulan })">@item.namaprosedur</a></td>
            <td>@item.kodesatker</td>
            <td>@item.namakantor</td>
            <td>@item.targetfisik.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
            <td>@item.jumlah.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
            <td>@item.persentasefisik</td>
            <td class="text-right">@item.targetpenerimaan.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
            <td class="text-right">@item.realisasipenerimaan.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
            <td>@item.persentasepenerimaan</td>
        </tr>

                no++;
            }
        }

        @*<tr>
                <td class="numeric">#</td>
                <td style="text-align:right;" rowspan="3">Total</td>
                <td class="numeric">@Model.Sum(a => a.operasional).ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
            </tr>*@
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $.unblockUI();
    });
</script>