

@{
    ViewBag.Title = "EntriRenaksi";
    var datasatker = ViewBag.get_satker;
    var get_datapersetujuan = ViewBag.get_datapersetujuan;
    var get_history = ViewBag.get_historis;
}
<style>
    .bg-success{
        background-color:#5cb85c !important;
    }
    .bg-danger{
        background-color:#d9534f !important;
    }
    .bg-info{
        background-color:#5bc0de !important;
    }
</style>
<div class="" id="dynamic_content">

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="padding-top:10px; border:1px solid #E6E9ED;">
                <div class="x_title">
                    <h2>PERSETUJUAN ENTRI RENAKSI</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" id="frmdatarenaksi" method="post">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Cari Nama Satker : </label>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <select name="satker" id="satker" class="select2_single form-control input-md">
                                    <option value="">-- Pilih Satker --</option>
                                    @if (datasatker.Count > 0)
                                    {
                                        foreach (var row in datasatker)
                                        {
                                            <option value="@row.kantorid">@row.namakantor</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <a class="btn btn-default" id="cari"><i class="fa fa-search"></i></a>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <a class="btn btn-info" id="btn_histori"><i class="fa fa-history"></i> Data Histori</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:30px">
                                <div class="table-responsive">
                                    <table id="myTablePengembalianPnbp" class="table table-striped table-bordered" style="width:100%; background-color:white;margin-top:500px;margin-bottom:50px;">
                                        <thead>
                                            <tr class="bg-primary">
                                                <th style="text-align:center;vertical-align: middle;" rowspan="2">Nama Kantor</th>
                                                <th style="vertical-align: middle;" rowspan="2" class="text-center">Output</th>
                                                <th style="vertical-align: middle;" rowspan="2" class="text-center">Nama Output</th>
                                                <th style="vertical-align: middle;" rowspan="2" class="text-center">Tipe</th>
                                                <th style="vertical-align: middle;" rowspan="2" class="text-center">Pagu</th>
                                                <th style="vertical-align: middle;" rowspan="2" class="text-center">Rank</th>
                                                <th colspan="12" class="text-center">Rencana Penarikan Anggaran</th>
                                                <th style="vertical-align: middle;" rowspan="2" class="text-center">Eviden</th>

                                                @if ((User as Pnbp.Entities.InternalUserIdentity).PegawaiId == "197804302003122002")
                                                {
                                                    <th rowspan="2" style="vertical-align: middle;" class="text-center">
                                                        Persetujuan Karoren
                                                    </th>
                                                    <th rowspan="2" class="text-center">
                                                        Persetujuan Karokeu
                                                        <span>
                                                            <br /><input type="checkbox" class="checkbox-inline checkallkaroren" onchange="checkAllkaroren(this)" />
                                                        </span>
                                                    </th>
                                                }
                                                else
                                                {
                                                    <th rowspan="2" style="vertical-align: middle;" class="text-center">
                                                        Persetujuan Karokeu
                                                    </th>
                                                    <th rowspan="2" class="text-center">
                                                        Persetujuan Karoren
                                                        <span>
                                                            <br><input type="checkbox" id="checkall" class="checkbox-inline checkallkaroren" onchange="checkAllkaroren(this)" />
                                                        </span>
                                                    </th>
                                                }

                                                <th style="vertical-align: middle;" rowspan="2" class="text-center">Keterangan Penolakan</th>
                                            </tr>
                                            <tr class="bg-primary">
                                                <th>Jan</th>
                                                <th>Feb</th>
                                                <th>Mar</th>
                                                <th>Apr</th>
                                                <th>Mei</th>
                                                <th>Jun</th>
                                                <th>Jul</th>
                                                <th>Agt</th>
                                                <th>Sep</th>
                                                <th>Okt</th>
                                                <th>Nov</th>
                                                <th>Des</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if(get_datapersetujuan.Count > 0)
                                                        {
                                                            int no = 0;
                                                            foreach(var row in get_datapersetujuan)
                                                            {
                                                    <tr>
                                                        <td>
                                                            @row.namakantor
                                                        </td>
                                                        <td>
                                                            @row.kode
                                                            <input type="hidden" name="programid" value="@row.programid">
                                                        </td>
                                                        <td>
                                                            @row.namaprogram
                                                            <input type="hidden" name="HIST_NAMAPROGRAM[]" value="@row.namaprogram" />
                                                        </td>
                                                        <td>
                                                            @row.tipe
                                                            <input type="hidden" name="HIST_TIPE[]" value="@row.tipe" />
                                                        </td>
                                                        <td>
                                                            @row.nilaianggaran
                                                            <input type="hidden" name="HIST_NILAIANGGARAN[]" value="@row.nilaianggaran" />
                                                        </td>
                                                        <td>
                                                            @row.rankjan
                                                            <input type="hidden" name="HIST_ANGGJAN[]" value="@row.rankjan" />
                                                        </td>
                                                        <td>
                                                            @row.anggjan
                                                            <input type="hidden" name="HIST_ANGGJAN[]" value="@row.anggjan" />
                                                        </td>
                                                        <td>
                                                            @row.anggfeb
                                                            <input type="hidden" name="HIST_ANGGFEB[]" value="@row.anggfeb" />
                                                        </td>
                                                        <td>
                                                            @row.anggmar
                                                            <input type="hidden" name="HIST_ANGGMAR[]" value="@row.anggmar" />
                                                        </td>
                                                        <td>
                                                            @row.anggapr
                                                            <input type="hidden" name="HIST_ANGGAPR[]" value="@row.anggapr" />
                                                        </td>
                                                        <td>
                                                            @row.anggmei
                                                            <input type="hidden" name="HIST_ANGGMEI[]" value="@row.anggmei" />
                                                        </td>
                                                        <td>
                                                            @row.anggjun
                                                            <input type="hidden" name="HIST_ANGGJUN[]" value="@row.anggjun" />
                                                        </td>
                                                        <td>
                                                            @row.anggjul
                                                            <input type="hidden" name="HIST_ANGGJUL[]" value="@row.anggjul" />
                                                        </td>
                                                        <td>
                                                            @row.anggagt
                                                            <input type="hidden" name="HIST_ANGGAGT[]" value="@row.anggagt" />
                                                        </td>
                                                        <td>
                                                            @row.anggsep
                                                            <input type="hidden" name="HIST_ANGGSEP[]" value="@row.anggsep" />
                                                        </td>
                                                        <td>
                                                            @row.anggokt
                                                            <input type="hidden" name="HIST_ANGGOKT[]" value="@row.anggokt" />
                                                        </td>
                                                        <td>
                                                            @row.anggnov
                                                            <input type="hidden" name="HIST_ANGGNOV[]" value="@row.anggnov" />
                                                        </td>
                                                        <td>
                                                            @row.anggdes
                                                            <input type="hidden" name="HIST_ANGGDES[]" value="@row.anggdes" />
                                                        </td>
                                                        @if (@row.evidenpath != null)
                                                                    {
                                                            <td class='text-center'>
                                                                <a href="@Url.Content("~/" + @row.evidenpath + "")" class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download Eviden" target="_blank"><i class='fa fa-file-text'></i></a>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>-</td>
                                                        }
                                                        @if ((User as Pnbp.Entities.InternalUserIdentity).PegawaiId == "197804302003122002") {
                                                            if (@row.PERSETUJUAN1 == 1)
                                                            {
                                                            <td style="vertical-align: middle;" class="text-center"><span class="badge bg-success" >Disetujui</span></td>
                                                            }
                                                            else if (@row.PERSETUJUAN1 == 2)
                                                            {
                                                            <td class="text-center" style="vertical-align: middle;"><span class="badge bg-danger" style="vertical-align: middle;">Ditolak</span></td>
                                                            }
                                                            else if (@row.PERSETUJUAN1 == 0)
                                                            {
                                                            <td style="vertical-align: middle;" class="text-center"><span class="badge bg-info" style="vertical-align: middle;">Proses Pengajuan</span></td>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (@row.PERSETUJUAN2 == 1)
                                                            {
                                                                <td><span class="badge bg-success" style="vertical-align: middle;">Disetujui</span></td>
                                                            }
                                                            else if (@row.PERSETUJUAN2 == 2)
                                                            {
                                                                <td><span class="badge bg-danger" style="vertical-align: middle;">Ditolak</span></td>
                                                            }
                                                            else if (@row.PERSETUJUAN2 == 0)
                                                            {
                                                                <td><span class="badge bg-info" style="vertical-align: middle;">Proses Pengajuan</span></td>
                                                            }
                                                        }
                                                        <td style="vertical-align: middle;" class="text-center">
                                                            <input type="checkbox" name="checklist[]" class="checkbox-inline" id="checklist_@no" onclick="set_val_check(@no)" value="1">
                                                            <input class="check" type="hidden" id="check_@no" name="check[]" value="2">
                                                            <input type="hidden" id="id_@no" name="id[]" value="@row.manfaatid">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control ketPenolakan" name="ketPenolakan[]" id="ketPenolakan_@no" required>
                                                        </td>
                                                    </tr>
                                                    no++;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @if ((User as Pnbp.Entities.InternalUserIdentity).PegawaiId == "197804302003122002")
                            {
                                <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-0">
                                    <a class="btn btn-primary" id="approveKarokeu">Simpan</a>
                                    @*<button id="btncari" type="submit" form="frmcaripengajuan" class="btn btn-lg btn-primary">&nbsp;Simpan&nbsp;</button>*@

                                    @*<button id="btncreate" type="reset" class="btn btn-warning">reset</button>*@

                                </div>
                            }
                            else
                            {
                                <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-0">
                                    <a class="btn btn-primary" id="approve">Simpan</a>
                                    @*<button id="btncari" type="submit" form="frmcaripengajuan" class="btn btn-lg btn-primary">&nbsp;Simpan&nbsp;</button>*@

                                    @*<button id="btncreate" type="reset" class="btn btn-warning">reset</button>*@

                                </div>
                            }

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" title="" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

<div id="modal_histori" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:1255px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Data Histori Persetujuan</h4>
            </div>
            <div class="modal-body" style="overflow:auto;" >
                <div class="row">
                    <div class="form-group" style="padding:10px;padding-right:10px" align='center'>
                        <table class="table table-striped table-bordered infinite-scroll" id="tablenomenklatur" style="width: 100%;" >
                            <thead>
                                <tr>
                                    <th style="text-align:center;vertical-align: middle;" rowspan="2">Nama Kantor</th>
                                    <th style="vertical-align: middle;" rowspan="2" class="text-center">Output</th>
                                    <th style="vertical-align: middle;" rowspan="2" class="text-center">Nama Output</th>
                                    <th style="vertical-align: middle;" rowspan="2" class="text-center">Tipe</th>
                                    <th style="vertical-align: middle;" rowspan="2" class="text-center">Pagu</th>
                                    <th style="vertical-align: middle;" rowspan="2" class="text-center">Rank</th>
                                    <th colspan="12" class="text-center">Rencana Penarikan Anggaran</th>
                                    <th style="vertical-align: middle;" rowspan="2" class="text-center">Eviden</th>
                                    <th style="vertical-align: middle;" rowspan="2" class="text-center">Persetujuan Karoren</th>
                                    <th style="vertical-align: middle;" rowspan="2" class="text-center">Alasan Penolakan</th>
                                </tr>
                                <tr>
                                    <th>Jan</th>
                                    <th>Feb</th>
                                    <th>Mar</th>
                                    <th>Apr</th>
                                    <th>Mei</th>
                                    <th>Jun</th>
                                    <th>Jul</th>
                                    <th>Agt</th>
                                    <th>Sep</th>
                                    <th>Okt</th>
                                    <th>Nov</th>
                                    <th>Des</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if(get_history.Count > 0)
                                {
                                    foreach (var row in get_history)
                                    {
                                        <tr>
                                            <td>@row.namakantor</td>
                                            <td>@row.kode</td>
                                            <td>@row.namaprogram</td>
                                            <td>@row.tipe</td>
                                            <td>@row.nilaianggaran</td>
                                            <td>@row.rankjan</td>
                                            <td>@row.anggjan</td>
                                            <td>@row.anggfeb</td>
                                            <td>@row.anggmar</td>
                                            <td>@row.anggapr</td>
                                            <td>@row.anggmei</td>
                                            <td>@row.anggjun</td>
                                            <td>@row.anggjul</td>
                                            <td>@row.anggagt</td>
                                            <td>@row.anggsep</td>
                                            <td>@row.anggokt</td>
                                            <td>@row.anggnov</td>
                                            <td>@row.anggdes</td>
                                            @if (@row.evidenpath != null)
                                            {
                                                <td class='text-center'>
                                                    <a href="@Url.Content("~/" + @row.evidenpath + "")" class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download Eviden" target="_blank"><i class='fa fa-file-text'></i></a>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>-</td>
                                            }
                                            @if (@row.persetujuan1 == 1)
                                            {
                                                <td class="text-center">
                                                    <i class='fa fa-check' style='color:green;'></i>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center">
                                                    <i class='fa fa-close' style='color:red;'></i>
                                                </td>
                                            }
                                            <td>@row.keteranganpenolakan</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<script>
    $(document).ready( function () {
        $('#myTablePengembalianPnbp').DataTable();
    } );

    $('.select2_single').select2();

    $('#btn_histori').click(function () {
        $('#modal_histori').modal('show');
    });

    $('#cari').click(function () {
        var pegawaiid = "@((User as Pnbp.Entities.InternalUserIdentity).PegawaiId)";
        //alert(pegawaiid);
        var kantorid = $('#satker').val();
        $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetDataRenaksi", "Pemanfaatan")',
            data: { kantorid: kantorid },
            success: function (data) {
                $.unblockUI();
                var html = "";
                if (data.length > 0) {
                    $.each(data, function (x) {
                        //console.log(data[x])
                        var none = "";
                        html += ""
                            + "<tr>"
                            + "<td>" + data[x].namakantor + "</td>"
                            + "<td class='text-left'>" + data[x].kode + "<input type ='hidden' name='programid' value='" + data[x].programid + "'> </td>"
                            + "<td class='text-left'>" + data[x].namaprogram + "<input type='hidden' name='HIST_NAMAPROGRAM[]' value='" + data[x].namaprogram+ "'/></td>"
                            + "<td class='text-left'>" + data[x].tipe + "<input type='hidden' name='HIST_TIPE[]' value='" + data[x].tipe + "'/></td>"
                            + "<td class='text-right'>" + addCommas(data[x].nilaianggaran) + "<input type='hidden' name='HIST_NILAIANGGARAN[]' value='" + data[x].nilaianggaran + "'/></td>"
                            + "<td class='text-center'>" + data[x].rankjan + "<input type='hidden' name='HIST_ANGGJAN[]' value='" + data[x].rankjan + "'/></td>"
                            + "<td class='text-right' width = '20%'>" + addCommas(data[x].anggjan) + "<input type='hidden' name='HIST_ANGGJAN[]' value='"+ data[x].anggjan +"'/></td>"
                            + "<td class='text-right' width = '20%'>" + addCommas(data[x].anggfeb) + "<input type='hidden' name='HIST_ANGGFEB[]' value='" + data[x].anggfeb + "'/></td>"
                            + "<td class='text-right' width = '20%'>" + addCommas(data[x].anggmar) + "<input type='hidden' name='HIST_ANGGMAR[]' value='" + data[x].anggmar + "'/></td>"
                            + "<td class='text-right' width = '20%'>" + addCommas(data[x].anggapr) + "<input type='hidden' name='HIST_ANGGAPR[]' value='" + data[x].anggapr + "'/></td></td>"
                            + "<td class='text-right' width = '20%'>" + addCommas(data[x].anggmei) + "<input type='hidden' name='HIST_ANGGMEI[]' value='" + data[x].anggmei + "'/></td></td>"
                            + "<td class='text-right' width = '20%'>" + addCommas(data[x].anggjun) + "<input type='hidden' name='HIST_ANGGJUN[]' value='" + data[x].anggjun + "'/></td></td>"
                            + "<td class='text-right' width = '20%'>" + addCommas(data[x].anggjul) + "<input type='hidden' name='HIST_ANGGJUL[]' value='" + data[x].anggjul + "'/></td></td>"
                            + "<td class='text-right' width = '20%'>" + addCommas(data[x].anggagt) + "<input type='hidden' name='HIST_ANGGAGT[]' value='" + data[x].anggagt + "'/></td></td>"
                            + "<td class='text-right' width = '20%'>" + addCommas(data[x].anggsep) + "<input type='hidden' name='HIST_ANGGSEP[]' value='" + data[x].anggsep + "'/></td></td>"
                            + "<td class='text-right' width = '20%'>" + addCommas(data[x].anggokt) + "<input type='hidden' name='HIST_ANGGOKT[]' value='" + data[x].anggokt + "'/></td></td>"
                            + "<td class='text-right' width = '20%'>" + addCommas(data[x].anggnov) + "<input type='hidden' name='HIST_ANGGNOV[]' value='" + data[x].anggnov + "'/></td></td>"
                            + "<td class='text-right' width = '20%'>" + addCommas(data[x].anggdes) + "<input type='hidden' name='HIST_ANGGDES[]' value='" + data[x].anggdes + "'/></td></td>";
                        if (data[x].evidenpath != null) {
                            html += "<td class='text-center'><a href=" + data[x].evidenpath + " class='btn btn-default' data-toogle='tooltip' title='Data Eviden' target='_blank' id='data_eviden'><i class='fa fa-file-text'></i></td>";
                        } else {
                            html += "<td class = 'text-center'> - </td>";
                        }

                        //alert(data[x].PERSETUJUAN1+"-"+data[x].PERSETUJUAN2);

                        if (pegawaiid == '197804302003122002') {
                            html += "<td style='vertical-align: middle;' align='center'>" + ((data[x].PERSETUJUAN1 == 1) ? "<span class='badge bg-success'>Disetujui</span>" : ((data[x].PERSETUJUAN1 == 2) ? "<span class='badge bg-danger'>Ditolak</span><" : "<span class='badge bg-info'>Proses Pengajuan</span>")) + "</td>";
                        }else{
                            html += "<td style='vertical-align: middle;' align='center'>" + ((data[x].PERSETUJUAN2 == 1) ? "<span class='badge bg-success'>Disetujui</span>" : ((data[x].PERSETUJUAN2 == 2) ? "<span class='badge bg-danger'>Ditolak</span><" : "<span class='badge bg-info'>Proses Pengajuan</span>")) + "</td>";
                        }

                        html += "<td style='vertical-align: middle;' align='center'><input type='checkbox' name='checklist[]' class='checkbox-inline' id='checklist_" + [x] + "' onclick='set_val_check(" + [x] + ")' value='1'>"
                            + "<input class='check' type='hidden' id='check_" + [x] + "' name='check[]' value='" + ((data[x].PERSETUJUAN1) ? data[x].PERSETUJUAN1 : 2) + "'>"
                            + "<input type='hidden' id='id_" + [x] + "' name='id[]' value='" + data[x].manfaatid + "'>"
                            + "</td>"

                        html += "<td><input type='text' class='form-control ketPenolakan' name='ketPenolakan[]' id='ketPenolakan_"+ [x] +"'></td>"
                        //html += "<td><textarea name='ketPenolakan[]' id='ketPenolakan_" + [x] + "' style='border:solid 1px #777777;'></textarea></td>"

                    });
                } else {
                    html = "<tr><td colspan='20' class='text-center'>Data Tidak Tersedia</td></tr>";
                }
                $("#myTablePengembalianPnbp>tbody").html(html);
            }
        });
    });

    $('#data_eviden').tooltip();

    function set_val_check(idx) {
        if ($('#checklist_'+idx).is(':checked')) {
            //alert('check' + idx + 'checked');
            $('#check_' + idx).val(1);
            $('#ketPenolakan_' + idx).prop('readonly', true);
        } else {
            $('#check_' + idx).val(2);
            $('#ketPenolakan_' + idx).prop('readonly', false);
        }
    }

    function set_val_checkall() {
        if ($('#checkall').is(':checked')) {
            $('.check').val(1);
            $('.ketPenolakan').readonly = true;
        } else if ($('#checkall').is(':check')) {
            $('.check').val(2);
            $('.ketPenolakan').prop('readonly', false);
        }
    }

    function addCommas(nStr) {
        nStr += '';
        x = nStr.split(',');
        x1 = x[0];
        x2 = x.length > 1 ? ',' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + '.' + '$2');
        }
        return x1 + x2;
    }

    function checkAllkaroren(ele) {
        var checkboxes = document.getElementsByTagName('input');
        if (ele.checked) {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                    $('.check').val(1);
                    $('.ketPenolakan').prop('readonly', true)
                }
            }
        } else {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                    $('.check').val(2);
                    $('.ketPenolakan').prop('readonly', false)
                }
            }
        }
    }

    $('#approve').click(function () {
        var form = $('#frmdatarenaksi').serialize();
        $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateRenaksiAdm", "Pemanfaatan")',
            data: form,
            success: function (data) {
                $.unblockUI();
                setTimeout(function () {
                    swal({
                        type: "success",
                        html: true,
                        title: "Data Berhasil Disimpan",
                        confirmButtonColor: "#4CAF50"
                    });
                    location.reload();
                }, 3000);


            }
        });
    });

    $('#approveKarokeu').click(function () {
        var form = $('#frmdatarenaksi').serialize();
        $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateRenaksiAdmP2", "Pemanfaatan")',
            data: form,
            success: function (data) {
                $.unblockUI();
                setTimeout(function () {
                    swal({
                        type: "success",
                        html: true,
                        title: "Data Berhasil Disetujui",
                        confirmButtonColor: "#4CAF50"
                    });
                }, 3000);
                location.reload();
            }
        });
    });
</script>

