@model Pnbp.Entities.FindManfaat

<script src='@Url.Content("~/resources/js/infiniteScroll.js")'></script>

<div class="" id="dynamic_content">
    <div class="page-title">
        <div class="title_left"><h2 style="width:100%">Daftar Pemanfaatan Per Satuan Kerja</h2></div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix" style="padding-bottom:15px"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="padding-top:20px">
                <div class="x_title">
                    <h2>Pencarian Data</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        </li>*@
                        @*<li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>*@
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" id="frmCariManfaat" method="post">
                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Nama Satker : </label>
                                <div class="-md-8 col-sm-8 col-xs-12">
                                    @Html.TextBoxFor(model => model.NamaSatker, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Tahun : </label>
                                <div class="-md-8 col-sm-8 col-xs-12">
                                    @Html.DropDownListFor(model => model.tahun, new SelectList(@Model.lstahun, "value", "tahun"), new { @class = "select2_single form-control", @id = "cmbTahun", @style = "width:100%;", @Label = "Pilih Tahun" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="-md-8 col-sm-8 col-xs-12 col-md-offset-4">
                                    <button id="save-btn" type="submit" class="btn btn-success">Cari</button>
                                    <button id="reset-btn" type="reset" class="btn btn-warning">Reset</button>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-6 col-sm-12 col-xs-12 form-group">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Nilai Anggaran : </label>
                                <div class="-md-8 col-sm-8 col-xs-12">
                                    @Html.TextBoxFor(model => model.NilaiAnggaran, new { @class = "form-control", type = "number" })
                                </div>
                            </div>
                        </div>*@
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="table-responsive">
                        <table id="eventsTable" class="table table-striped infinite-scroll" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="centertaligncolumn">No.</th>
                                    <th class="centertaligncolumn">Kode Satker</th>
                                    <th>Nama Satker</th>
                                    <th class="rightaligncolumn">Anggaran</th>
                                    <th class="rightaligncolumn">Alokasi</th>
                                </tr>
                            </thead>
                            <tbody id="dataplaceholder"></tbody>
                        </table>
                    </div>
                    @Html.Partial("_Loading")
                </div>
            </div>
        </div>
    </div>

</div>

<div id='myModalDocViewer' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" title="" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

<script type="text/javascript">
    $(function () {
        $("div#loading").hide();
    });

    $(document).ready(function () {

        $('.select2_single').select2({ width: 'resolve' });

        $.ajax({
            url: '@Url.Action("GetTahunBerjalan", "Pemanfaatan")',
            success: function (response) {
                $('#cmbTahun').val(response).trigger('change');
            },
            error: function (response) { }
        });

        loadData();

        $('#myModalDocViewer').on('shown.bs.modal', function () {
            $(this).find('.modal-dialog').css({
                width: '98%',
                height: '98 %',
                'max-height': '98%'
            });
        });

        $.ajax({
            url: '@Url.Action("GetTotalAnggaranAlokasiV2", "Pemanfaatan")' + '?tahun=' + $('#cmbTahun').val(),
            type: "GET",
            dataType: "JSON",
            //data: { id: Id },
            success: function (data) {
                //console.log(data);
                //$('#LabelTotalAnggaran').html("");
                $.each(data, function (i, data) {
                    //$('#LabelTotalAnggaran').html(parseFloat(data.TotalNilaiAnggaran).toLocaleString('id'));
                    //$('#LabelTotalAnggaran2').html(parseFloat(data.TotalNilaiAnggaran).toLocaleString('id'));
                    $('#LabelTotalAlokasi').html(parseFloat(data.TotalNilaiAlokasi).toLocaleString('id'));
                    $('#LabelTotalAlokasi2').html(parseFloat(data.TotalNilaiAnggaran).toLocaleString('id'));
                });
            }
        });

        $.ajax({
            url: '@Url.Action("GetTotalAnggaranDipa", "Pemanfaatan")',
            type: "GET",
            dataType: "JSON",
            //data: { id: Id },
            success: function (data) {
                //console.log(data[0].TOTALPAGU);
                $.each(data, function (i, data) {
                    $('#LabelTotalAnggaran').html(parseFloat(data.TOTALPAGU).toLocaleString('id'));
                    $('#LabelTotalAnggaran2').html(parseFloat(data.TOTALPAGU).toLocaleString('id'));
                });
            }
        });

        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#back-to-top').tooltip('show');
    });

    var loadData = function () {
        resetInfiniteScroll();
        formToPost = $('#frmCariManfaat');
        $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DaftarDataManfaatV2", "Pemanfaatan")',
            data: $('#frmCariManfaat').serialize(),
            success: function (data, textStatus, XMLHttpRequest) {

                if (data == 'noresults') {
                    $('#dataplaceholder').html('');
                }
                else {
                    $('#dataplaceholder').html(data);
                }
                $.unblockUI();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) { $.unblockUI(); }
        });
    };

    $("#frmCariManfaat").submit(function (e) {
        resetInfiniteScroll();
        formToPost = $('#frmCariManfaat');
        $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DaftarDataManfaatV2", "Pemanfaatan")',
            data: $('#frmCariManfaat').serialize(),
            success: function (data, textStatus, XMLHttpRequest) {

                if (data == 'noresults') {
                    $('#dataplaceholder').html('');
                    showmsg('Status', 'Tidak ada data yang ditemukan');
                }
                else {
                    $('#dataplaceholder').html(data);
                }
                $.unblockUI();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) { $.unblockUI(); }
        });
        e.preventDefault();
        return false;
    });

    moreRowsUrl = '@Url.Action("DaftarDataManfaatV2", "Pemanfaatan")';
    $(window).scroll(scrollHandler);

</script>

