@{
    ViewBag.Judul = "Daftar Target";
    var data = ViewBag.get_data;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding-top:15px">
                    <div class="x_title" style="padding-left:25px">
                        <h2 class="sub-header" style="margin-left: 3px">@(ViewBag.Judul)</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up" title="Hide Form"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="text-right" style="padding-bottom:10px">
                            @if (@OtorisasiUser.GetJenisKantorUser() != "Pusat")
                            {
                                <a href="@Url.Action("TargetCreate", "Target")" class="btn btn-md btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tambah Data"><i class="fa fa-plus"></i>&nbsp;&nbsp;Tambah Data</a>
                            }
                        </div>
                        <table id="tabletarget" class="table table-striped table-bordered" style="width:100%; background-color:white;">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">No</th>
                                    <th style="text-align:center;">Nama Kantor</th>
                                    @*<th style="text-align:center;">Nama Layanan</th>*@
                                    <th style="text-align:center;">Nama Program</th>
                                    <th style="text-align:center;">Target Fisik</th>
                                    <th style="text-align:center;">Target Penerimaan</th>
                                    <th style="text-align:center;">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var no = 1;
                                    foreach (var row in data)
                                    {
                                        <tr>
                                            <td class="text-center">@no</td>
                                            <td>@row.NamaKantor</td>
                                            @*<td>@row.JenisLayanan</td>*@
                                            <td>@row.NamaProsedur</td>
                                            <td>@row.targetfisik.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="text-right">@row.NilaiTarget.ToString("N0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            <td class="text-center">
                                                <a href="@Url.Action("TargetDetail")?KodeTarget=@row.KodeTarget" class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Detail Data"><i class="fa fa-file-text"></i></a>
                                                @if (@OtorisasiUser.GetJenisKantorUser() != "Pusat")
                                                {
                                                    <a href="@Url.Action("TargetUpdate")?KodeTarget=@row.KodeTarget" class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ubah Data"><i class="fa fa-pencil-square-o"></i></a>
                                                }
                                                @if (@OtorisasiUser.GetJenisKantorUser() != "Pusat")
                                                {
                                                    <a href="@Url.Action("TargetDelete")?KodeTarget=@row.KodeTarget" class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Hapus Data"><i class="fa fa-times-circle"></i></a>
                                                }
                                            </td>
                                        </tr>
                                        no++;
                                    }
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    $('#tabletarget').DataTable();
</script>
