

@{
    ViewBag.Judul = "Ubah Data Program";
    var listManfaat = ViewBag.listTipeManfaat;
    var data = ViewBag.data;
}

<style>
    td.numeric, th.numeric {
        text-align: right;
    }

    .tdcenter {
        text-align: center;
    }
</style>

<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="padding-top:20px">
                <div class="x_title">
                    <h2 class="sub-header">@(ViewBag.Judul)</h2>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <form class="form-horizontal form-label-left" id="frmkodespan" role="form" >
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipe Manfaat : </label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <select name="tipemanfaatid" id="tipemanfaatid" class="select2_single form-control" data-placeholder="Pilih Tipe Manfaat">
                                            <option title="-" value="-1">-- Pilih Tipe Manfaat --</option>
                                            @foreach (var item in listManfaat)
                                            {
                                                if (item.TipeManfaatId == data.TipeManfaatId)
                                                {
                                                    <option title="@item.TipeManfaatId" value="@item.TipeManfaatId" selected>@item.Tipe</option>
                                                }
                                                else
                                                {
                                                    <option title="@item.TipeManfaatId" value="@item.TipeManfaatId">@item.Tipe</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Nama Program : </label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <input type="text" name="nama" id="nama" class="form-control" placeholder="Nama Program" value="@data.Nama"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Kode : </label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <input type="text" name="kode" id="kode" class="form-control" placeholder="Kode" value="@data.Kode"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipe Ops : </label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <select name="tipeops" id="tipeops" class="select2_single form-control" data-placeholder="Pilih Tipe Ops">
                                            <option title="-" value="-">-- Pilih Tipe Ops --</option>
                                            <option title="OPS" value="OPS" @( data.TipeOps == "OPS" ? "selected" : "" )>OPS</option>
                                            <option title="NON OPS" value="NONOPS" @( data.TipeOps == "NONOPS" ? "selected" : "" )>NON OPS</option>
                                        </select>
                                    </div>
                                </div
                                <div class="form-group" style="margin-top:20px;">
                                    <div class="col-md-3 col-lg-offset-3 col-sm-3 col-xs-12">
                                        <button id="btn-update" type="button" class="btn btn-primary">Simpan</button>
                                        <a href="@Url.Action("Index", "Program")" class="btn btn-danger"><i class="fa fa-rotate-left"></i>&nbsp;Kembali</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    (function (a) { a.createModal = function (b) { defaults = { title: "", message: "Your Message Goes Here!", closeButton: true, scrollable: false }; var b = a.extend({}, defaults, b); var c = (b.scrollable === true) ? 'style="max-height: 420px;overflow-y: auto;"' : ""; html = '<div class="modal fade" id="myModal">'; html += '<div class="modal-dialog">'; html += '<div class="modal-content">'; html += '<div class="modal-header">'; html += '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>'; if (b.title.length > 0) { html += '<h4 class="modal-title">' + b.title + "</h4>" } html += "</div>"; html += '<div class="modal-body" ' + c + ">"; html += b.message; html += "</div>"; html += '<div class="modal-footer">'; if (b.closeButton === true) { html += '<button type="button" class="btn btn-primary" data-dismiss="modal" id="btn-ok">OK</button>' } html += "</div>"; html += "</div>"; html += "</div>"; html += "</div>"; a("body").prepend(html); a("#myModal").modal().on("hidden.bs.modal", function () { a(this).remove() }) } })(jQuery);

    function showmsg(judul, isi) {
        $.createModal({
            title: judul,
            message: isi,
            closeButton: true,
            scrollable: false
        });
        return false;
    };

    $("#btn-update").on('click', function () {

        $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });

        var tipeManfaatId = $('#tipemanfaatid').val();
        var nama = $('#nama').val();
        var kode = $('#kode').val();
        var tipeops = $('#tipeops').val();
        var programId = '@data.ProgramId';

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Update", "Program")',
            data: { TipeManfaatId: tipeManfaatId, nama: nama, kode: kode, tipeops: tipeops, programId: programId },
            success: function (data) {
                $.unblockUI();
                if (data.success) {
                    showmsg('Berhasil', data.message);
                    location.href = '@Url.Action("Index", "Program")';
                } else {
                    showmsg('Perhatian!', data.message);
                }
            }, error: function (request, status, error) {
                $.unblockUI();
                showmsg('Perhatian!', '<h4 style="text-align:center;">Terjadi error, Silakan coba lagi atau Hubungi Administrator.</h4>');
            }
        });
    });
    @*function getTipeManfaat() {
        var listManfaat = @listManfaat;
        //listStatus.push({ id: 2, label: "Belum Lengkap" });
        //listStatus.push({ id: 1, label: "Semua" });
        //listStatus.push({ id: 3, label: "Lengkap" });

        var html = "";
        $.each(listManfaat, function (x) {
            html += ("<option value='" + listManfaat[x].tipemanfaatid + "'>" + listManfaat[x].tipe + "</option>")
        });
        $("#cmbtipemanfaat").html(html);
    }*@

    //$(document).ready(function () {

    //    getTipeManfaat();

    //});

</script>