@* original filename: PengajuanPengembalianDetail *@

@model Pnbp.Entities.DetailDataBerkas
@{
	ViewBag.Title = "PengajuanPengembalianDetail";
	//var Pengembaliandata = ViewBag.Pengembaliandata;
	var file1 = ViewBag.file1;
	var file2 = ViewBag.file2;
	var file3 = ViewBag.file3;
	var file4 = ViewBag.file4;
	var file5 = ViewBag.file5;
	var file6 = ViewBag.file6;
	var file7 = ViewBag.file7;
	var file8 = ViewBag.file8;
	var file9 = ViewBag.file9;
	var file10 = ViewBag.file10;
	var file11 = ViewBag.file11;
	var file12 = ViewBag.file12;
	var file13 = ViewBag.file13;
	var file20 = ViewBag.file20;
	var file21 = ViewBag.file21;
	var file22 = ViewBag.file22;
	var fileSP2D = ViewBag.fileSP2D;

	var isExistsFile11 = (file11 != null && !String.IsNullOrEmpty(file11.NamaFile));
	var isExistsFile12 = (file12 != null && !String.IsNullOrEmpty(file12.NamaFile));
	var isExistsFile13 = (file13 != null && !String.IsNullOrEmpty(file13.NamaFile));
	var isExistsFile20 = (file20 != null && !String.IsNullOrEmpty(file20.NamaFile));
	var isExistsFile21 = (file21 != null && !String.IsNullOrEmpty(file21.NamaFile));
	var isExistsFile22 = (file22 != null && !String.IsNullOrEmpty(file22.NamaFile));

	bool isPreviewMode = (!String.IsNullOrEmpty(ViewBag.PreviewMode) && ViewBag.PreviewMode == "TRUE");
	bool isPengembalianDaerah = (Model.TIPEPENGEMBALIAN == "1");
	//string formSubmitURL = (isPengembalianDaerah ? Url.Action("PengajuanPengembalianDetailDaerah", "Pengembalian") : Url.Action("PengajuanPengembalianDetail", "Pengembalian"));
	string formSubmitURL = (isPengembalianDaerah ? Url.Action("PengajuanPengembalianDetailDaerah", "Pengembalian") : Url.Action("PengajuanPengembalianDetailV2", "Pengembalian"));
}

<style>
	/*panel style overwrite*/
	.panel-heading {
		background: white !important;
		padding: 10px 0 !important;
		font-size: 1.6rem !important;
	}

	.panel-default {
		padding: 0 12px !important;
	}

	.panel-body {
		margin-top: 10px;
	}

	.template-section > div {
		margin-bottom: 1.35rem;
	}

	.section-form-input .panel-default {
		border: none;
	}

	.section-form-input .panel-heading {
		border-bottom: 2px solid #E6E9ED;
	}

	/* custom full height grid panel */
	.pnbp-grid-panel {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 2rem;
	}
	.pnbp-grid-panel > div {
		display: flex;
	}

	.panel-body__template-surat, .panel-body__template-surat > div {
		display: grid;
	}
</style>

<form class="form-horizontal" method="post" enctype="multipart/form-data" id="pengembalian_form" action="@formSubmitURL">
	<div class="" id="dynamic_content">
		<input type="hidden" name="pengembalianpnbpid" id="pengembalianpnbpid" value="@Model.PENGEMBALIANPNBPID" />
		<input type="hidden" id="js-tipepengembalian" value="@Model.TIPEPENGEMBALIAN" />
		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div>
					@Html.HiddenFor(m => m.STATUSPENGEMBALIAN, new { @Name = "Status" })
					<div class="text-right" style="margin-bottom:8px;">
						<a href="@Url.Action("mon_pengembalian", "Pengembalian")" class="btn btn-default"><i class="fa fa-reply"></i> Kembali</a>
					</div>
					<div class="pnbp-grid-panel">
						<div class="">

							<div class="panel panel-default x_panel">
								<div class="panel-heading x_title">Data Berkas</div>
								<div class="panel-body form-horizontal">
									@* form *@
									<div class="form-group">
										<input type="hidden" name="satker" id="satker" value="@((User as Pnbp.Entities.InternalUserIdentity).NamaKantor.Replace("Kantor Pertanahan", ""))" />
										<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Nomor Berkas</label>
										<div class="col-sm-8">
											<input type="text" name="NomorBerkas" id="nmorberkas" class="form-control" value="@Model.NOMORBERKAS" readonly />
											@*@Html.TextBoxFor(model => model.NomorBerkas, new { @class = "form-control", @id = "nomorberkas", @required = "required", @placeholder = "Nomor/Tahun",@value= @Model.NOMORBERKAS })*@
										</div>
										@*<div class="col-sm-2 text-left"><button type="button" class="btn btn-primary" onclick="cari_berkas()" style="margin-left:0px;"><span class="fa fa-search"></span></button></button></div>*@
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left;">Atas Nama</label>
										<div class="col-sm-8">
											@*@Html.TextBoxFor(model => model.NamaPemohon, new { @class = "form-control", @id = "namapemohon", @placeholder = "Nama Pemohon", @readonly = "readonly", @style = "color:#000000; border-color:#ffffff; box-shadow: none !important;  font-family: 'Varela Round', sans-serif; font-size: small;" })*@
											@*@Html.TextBoxFor(model => model.NamaPemohon, new { @class = "form-control", @id = "namapemohon", @placeholder = "Nama Pemohon", @readonly = "readonly" })*@
											<input type="text" name="NamaPemohon" id="namapemohon" class="form-control" value="@Model.NAMAPEMOHON" readonly />
										</div>
									</div>
									<input type="hidden" id="NamaProsedur" name="NamaProsedur" />
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Alamat</label>
										<div class="col-sm-8">
											@*<input type="text" class="form-control" id="Alamat" name="Alamat" placeholder="Alamat">*@
											@*@Html.TextBoxFor(model => model.AlamatPemohon, new { @class = "form-control", @id = "AlamatPemohon", @placeholder = "Alamat Pemohon", @readonly = "readonly" })*@
											<input type="text" name="AlamatPemohon" id="AlamatPemohon" class="form-control" value="@Model.ALAMATPEMOHON" readonly />
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left;">NPWP</label>
										<div class="col-sm-8">
											@*<input type="text" class="form-control" id="NPWP" name="NPWP" placeholder="NPWP">*@
											@* @Html.TextBoxFor(model => model.Npwp, new { @class = "form-control", @id = "Npwp", @placeholder = "NPWP", @readonly = "readonly" })*@
											<input type="text" name="Npwp" id="Npwp" class="form-control npwp" data-mask="00.000.000.0-000.000" value="@Model.NPWPPEGAWAIPENGAJU" readonly />
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Kode Biling</label>
										<div class="col-sm-8">
											@*<input type="text" class="form-control" id="KodeBiling" name="KodeBiling" placeholder="Kode Biling">*@
											@*@Html.TextBoxFor(model => model.KodeBilling, new { @class = "form-control", @id = "KodeBiling", @placeholder = "Kode Biling", @readonly = "readonly" })*@
											<input type="text" name="Kodebilling" id="KodeBiling" class="form-control" value="@Model.KODEBILLING" readonly />
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left;">NTPN</label>
										<div class="col-sm-8">
											@*<input type="text" class="form-control" id="NTPN" name="NTPN" placeholder="NTPN">*@
											@*@Html.TextBoxFor(model => model.Ntpn, new { @class = "form-control", @id = "Ntpn", @placeholder = "NTPN", @readonly = "readonly" })*@
											<input type="text" name="Ntpn" id="Ntpn" class="form-control" value="@Model.NTPN" readonly />
										</div>
									</div>
									@*@if (Pengembaliandata.STATUSPENGEMBALIAN == 0 || Pengembaliandata.STATUSPENGEMBALIAN == 3)
									{*@
									<div class="form-group">
										<div class="col-sm-12">
											@*<button type="submit" id="simpan" form="pengembalian_form" class="btn btn-primary">Simpan</button>*@
											@*<button type="reset" class="btn btn-primary">Hapus</button>*@
										</div>
									</div>
									@*}*@

									@if (!isPengembalianDaerah)
									{
										<div class="form-group">
											@*<div class="col-sm-12">*@
											@*<a href="@Url.Action("GeneratePermohonanPengembalian","Pengembalian")" class="btn btn-primary" download>Surat Permohonan</a>*@
											<div class="col-sm-12"><a href="javascript:void(0)" class="btn btn-primary" onclick="generate_permohonan()">Surat Permohonan</a></div>
											@*</div>*@
										</div>
										<input type="hidden" value="@Model.TANGGALPENGAJU" id="tanggalpengaju" name="tanggalpengaju" />

										<div class="form-group row">
											<div class="col-sm-12"><button type="button" class="btn btn-primary" onclick="generate_keterangan()">Surat Keterangan</button></div>
											@*<div class="col-sm-12"><a href="@Url.Content("~/Assets/surat_keterangan.docx")" class="btn btn-primary" download>Surat Keterangan</a></div>*@
										</div>

										<div class="form-group row">
											<div class="col-sm-12"><button type="button" class="btn btn-primary" onclick="generate_tidak_terlayani()">Surat Pernyataan Tidak Terlayani</button></div>
											@*<div class="col-sm-12"><a href="@Url.Content("~/Assets/surat_keterangan.docx")" class="btn btn-primary" download>Surat Keterangan</a></div>*@
										</div>
									}

									@*<div class="form-group">
										<div class="col-sm-12"><a href="@Url.Content("~/Assets/surat_keterangan.docx")" class="btn btn-primary" download>Surat Keterangan</a></div>
									</div>*@
								</div>
							</div>

						</div>
						<div class="">

							<div class="panel panel-default x_panel">
								<div class="panel-heading x_title">Data Pengembalian</div>
								<div class="panel-body form-horizontal">
									@*Panel content*@
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Setoran PNBP</label>
										<div class="col-sm-8">
											@*<input type="text" class="form-control" id="SetoranPnbp" placeholder="Setoran PNBP">*@
											@*@Html.TextBoxFor(model => model.SetoranPnbp, new { @class = "form-control", @id = "SetoranPnbp", @placeholder = "Setoran PNBP" ,@value="@Model.SETORANPNBP" })*@
											<input type="text" name="SetoranPnbp" id="SetoranPnbp" class="form-control asd text-right" value="@Convert.ToInt32(Model.SETORANPNBP).ToString("N0", new System.Globalization.CultureInfo("id-ID"))" onkeyup="addCommas(this)" />
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left;">Jumlah Biaya Layanan Yang Sudah Dikeluarkan</label>
										<div class="col-sm-8">
											@*<input type="text" class="form-control" id="BiayaLayanan" name="BiayaLayanan" placeholder="Biaya Layanan" onkeypress="return hanyaAngka(event)">*@
											@*@Html.TextBoxFor(model => model.JumlahBayar, new { @class = "form-control", @id = "JumlahBayar", @placeholder = "jumlah Biaya Layanan Yang Sudah Dikeluarkan" })*@
											<input type="text" name="JumlahBayar" id="JumlahBayar" class="form-control asd text-right" value="@Convert.ToInt32(Model.JUMLAHBAYAR).ToString("N0", new System.Globalization.CultureInfo("id-ID"))" onkeyup="addCommas(this)" />
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Permohonan Pengembalian</label>
										<div class="col-sm-8">
											@*<input type="text" class="form-control" id="PermohonanPengembalian" name="PermohonanPengembalian" placeholder="Permohonan Pengembalian">*@
											@*@Html.TextBoxFor(model => model.PermohonanPengembalian, new { @class = "form-control", @id = "PermohonanPengembalian", @placeholder = "Permohonan Pengembalian" })*@
											<input type="text" name="PermohonanPengembalian" id="PermohonanPengembalian" class="form-control asd text-right" data-disabled="true" value="@Convert.ToInt32(Model.PERMOHONANPENGEMBALIAN).ToString("N0", new System.Globalization.CultureInfo("id-ID"))"/>
										</div>
									</div>
									<div class="form-group">
										<label for="npwpberkas" class="col-sm-4 control-label" style="text-align:left;">NPWP</label>
										<div class="col-sm-8">
											<input type="text" name="npwpberkas" id="npwpberkas" class="form-control npwp" placeholder="NPWP" data-mask="00.000.000.0-000.000" value="@Model.NPWP" required />
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left;">Nama Rekening</label>
										<div class="col-sm-8">
											@*<input type="text" class="form-control" id="NamaRekening" name="NamaRekening" placeholder="Nama Rekening">*@
											@*@Html.TextBoxFor(model => model.NamaRekening, new { @class = "form-control", @id = "NamaRekening", @placeholder = "Nama Rekening" })*@
											<input type="text" name="NamaRekening" id="NamaRekening" class="form-control" value="@Model.NAMAREKENING" required />
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Nomor Rekening</label>
										<div class="col-sm-8">
											@*<input type="text" class="form-control" id="NomorRekening" name="NomorRekening" placeholder="Nomor Rekening">*@
											@*@Html.TextBoxFor(model => model.NomorRekening, new { @class = "form-control", @id = "NomorRekening", @placeholder = "Nomor Rekening" })*@
											<input type="text" name="NomorRekening" id="NomorRekening" class="form-control" value="@Model.NOMORREKENING" required />
										</div>
									</div>
									@*<div class="form-group">
										<label for="inputPassword3" class="col-sm-4 control-label">NPWP</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="NPWP" name="NPWP" placeholder="NPWP">
										</div>
									</div>*@
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left;">Nama Bank</label>
										<div class="col-sm-8">
											@*<input type="text" class="form-control" id="NamaBank" name="NamaBank" placeholder="Nama Bank">*@
											@*@Html.TextBoxFor(model => model.NamaBank, new { @class = "form-control", @id = "NamaBank", @placeholder = "Nama Bank" })*@
											<input type="text" name="NamaBank" id="NamaBank" class="form-control" value="@Model.NAMABANK" required />
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left;">Nomor Telepon</label>
										<div class="col-sm-8">
											@Html.TextBoxFor(model => model.NOMORTELEPON, new { @class = "form-control" })
										</div>
									</div>

								</div>
							</div>

						</div>

						@if (!isPengembalianDaerah)
						{
							<div class="">

								<div class="panel panel-default x_panel">
									<div class="panel-heading x_title">Kirim Permohonan<br><small class="text-danger"><span class="text-danger">*</span>File yang dapat diupload berekstensi.pdf maksimal 5MB</small></div>
									<div class="panel-body">
										@*Panel content*@
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Nomor Surat</label>
											<div class="col-sm-7">
												@*@Html.TextBoxFor(model => model.NomorSurat, new { @class = "form-control", @id = "NomorSurat", @placeholder = "Nomor Surat", @required = "required" })*@
												<input type="text" name="NomorSurat" id="NomorSurat" class="form-control" value="@Model.NOMORSURAT" />
											</div>
										</div>

										@* Surat Wajib Bayar *@
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Surat Wajib Bayar</label>
											<div class="col-sm-7">
												<input type="file" class="form-control max_5mb" id="SuratWajibBayar" name="SuratWajibBayar" placeholder="Surat Wajib Bayar" accept="application/pdf">
												<span id="cancel-SuratWajibBayar"></span>
												@Html.Raw((file10 != null && !String.IsNullOrEmpty(file10.StatusLampiran) && file10.StatusLampiran != "1" ? ((file10.StatusLampiran == "2") ? "<span style='color: green;'><i class='fa fa-check'></i> File Sesuai</span>" : "<span style='color: red;'><i class='fa fa-close'></i> File tidak sesuai!</span>") : ""))
											</div>
											@if (file10 != null && !String.IsNullOrEmpty(file10.NamaFile))
											{
												<div class="col-sm-1 text-left" style="margin-left:0px !important;">
													<a href="@Url.Content("~/" + file10.NamaFile)" class="btn btn-default btn-xs" download>
														<i class="fa fa-download"></i>
													</a>
												</div>
											}
											<input type="hidden" name="fileid10" value="@(file10 != null && !String.IsNullOrEmpty(file10.LampiranKembalianId)?file10.LampiranKembalianId:"")" />
										</div>
										@* Surat Wajib Bayar *@

										@* Surat Pernyataan Tidak Terlayani *@
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Surat Pernyataan Tidak Terlayani</label>
											<div class="col-sm-7">
												<input type="file" class="form-control max_5mb" id="TidakTerlayani" name="TidakTerlayani" placeholder="Surat Pernyataan Tidak Terlayani" accept="application/pdf">
												<span id="cancel-TidakTerlayani"></span>
												@Html.Raw((file11 != null && !String.IsNullOrEmpty(file11.StatusLampiran) && file11.StatusLampiran != "1" ? ((file11.StatusLampiran == "2") ? "<span style='color: green;'><i class='fa fa-check'></i> File Sesuai</span>" : "<span style='color: red;'><i class='fa fa-close'></i> File tidak sesuai!</span>") : ""))
											</div>
											@if (file11 != null && !String.IsNullOrEmpty(file11.NamaFile))
											{
												<div class="col-sm-1 text-left" style="margin-left:0px !important;">
													<a href="@Url.Content("~/" + file11.NamaFile)" class="btn btn-default btn-xs" download>
														<i class="fa fa-download"></i>
													</a>
												</div>
											}
											<input type="hidden" name="fileid11" value="@(file11 != null && !String.IsNullOrEmpty(file11.LampiranKembalianId)?file11.LampiranKembalianId:"")" />
										</div>
										@* Surat Pernyataan Tidak Terlayani *@

										<div class="form-group">
											<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Surat Permohonan</label>
											<div class="col-sm-7">
												<input type="file" class="form-control max_5mb" id="SuratPermohhonan" name="SuratPermohonan" placeholder="Nomor Berkas" accept="application/pdf">
												<span id="cancel-SuratPermohhonan"></span>
												@Html.Raw((file1 != null && !String.IsNullOrEmpty(file1.StatusLampiran) && file1.StatusLampiran != "1" ? ((file1.StatusLampiran == "2") ? "<span style='color: green;'><i class='fa fa-check'></i> File Sesuai</span>" : "<span style='color: red;'><i class='fa fa-close'></i> File tidak sesuai!</span>") : ""))
											</div>
											@if (file1 != null && !String.IsNullOrEmpty(file1.NamaFile))
											{
												<div class="col-sm-1 text-left" style="margin-left:0px !important;">
													<a href="@Url.Content("~/" + file1.NamaFile)" class="btn btn-default btn-xs" download>
														<i class="fa fa-download"></i>
													</a>
												</div>
											}
											<input type="hidden" name="fileid1" value="@(file1 != null && !String.IsNullOrEmpty(file1.LampiranKembalianId)?file1.LampiranKembalianId:"")" />
										</div>
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Surat Keterangan</label>
											<div class="col-sm-7">
												<input type="file" class="form-control max_5mb" id="SuratKeterangan" name="SuratKeterangan" placeholder="Nomor Berkas" accept="application/pdf">
												<span id="cancel-SuratKeterangan"></span>
												@Html.Raw((file2 != null && !String.IsNullOrEmpty(file2.StatusLampiran) && file2.StatusLampiran != "1" ? ((file2.StatusLampiran == "2") ? "<span style='color: green;'><i class='fa fa-check'></i> File Sesuai</span>" : "<span style='color: red;'><i class='fa fa-close'></i> File tidak sesuai!</span>") : ""))
											</div>
											@if (file2 != null && !String.IsNullOrEmpty(file2.NamaFile))
											{
												<div class="col-sm-1 text-left" style="margin-left:0px !important;">
													<a href="@Url.Content("~/" + file2.NamaFile)" class="btn btn-default btn-xs" download>
														<i class="fa fa-download"></i>
													</a>
												</div>
											}
											<input type="hidden" name="fileid2" value="@(file2 != null && !String.IsNullOrEmpty(file2.LampiranKembalianId)?file2.LampiranKembalianId:"")" />
										</div>
										<div class="form-group" style="display:none;">
											<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Bukti Penerimaan Negara</label>
											<div class="col-sm-7">
												<input type="file" class="form-control max_5mb" id="BuktiPenerimaan" name="BuktiPenerimaan" placeholder="Nomor Berkas" accept="application/pdf">
												<span id="cancel-BuktiPenerimaan"></span>
												@Html.Raw((file3 != null && !String.IsNullOrEmpty(file3.StatusLampiran) && file3.StatusLampiran != "1" ? ((file3.StatusLampiran == "2") ? "<span style='color: green;'><i class='fa fa-check'></i> File Sesuai</span>" : "<span style='color: red;'><i class='fa fa-close'></i> File tidak sesuai!</span>") : ""))
											</div>
											@if (file3 != null && !String.IsNullOrEmpty(file3.NamaFile))
											{
												<div class="col-sm-1 text-left" style="margin-left:0px !important;">
													<a href="@Url.Content("~/" + file3.NamaFile)" class="btn btn-default btn-xs" download>
														<i class="fa fa-download"></i>
													</a>
												</div>
											}
											<input type="hidden" name="fileid3" value="@(file3 != null && !String.IsNullOrEmpty(file3.LampiranKembalianId)?file3.LampiranKembalianId:"")" />
										</div>
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Surat Perintah Setor</label>
											<div class="col-sm-7">
												<input type="file" class="form-control max_5mb" id="SuratPerintah" name="SuratPerintah" placeholder="Nomor Berkas" accept="application/pdf">
												<span id="cancel-SuratPerintah"></span>
												@Html.Raw((file4 != null && !String.IsNullOrEmpty(file4.StatusLampiran) && file4.StatusLampiran != "1" ? ((file4.StatusLampiran == "2") ? "<span style='color: green;'><i class='fa fa-check'></i> File Sesuai</span>" : "<span style='color: red;'><i class='fa fa-close'></i> File tidak sesuai!</span>") : ""))
											</div>
											@if (file4 != null && !String.IsNullOrEmpty(file4.NamaFile))
											{
												<div class="col-sm-1 text-left" style="margin-left:0px !important;">
													<a href="@Url.Content("~/" + file4.NamaFile)" class="btn btn-default btn-xs" download>
														<i class="fa fa-download"></i>
													</a>
												</div>
											}
											<input type="hidden" name="fileid4" value="@(file4 != null && !String.IsNullOrEmpty(file4.LampiranKembalianId)?file4.LampiranKembalianId:"")" />
										</div>
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Surat Bukti Setor</label>
											<div class="col-sm-7">
												<input type="file" class="form-control max_5mb" id="BuktiSetor" name="BuktiSetor" placeholder="Nomor Berkas" accept="application/pdf">
												<span id="cancel-BuktiSetor"></span>
												@Html.Raw((file5 != null && !String.IsNullOrEmpty(file5.StatusLampiran) && file5.StatusLampiran != "1" ? ((file5.StatusLampiran == "2") ? "<span style='color: green;'><i class='fa fa-check'></i> File Sesuai</span>" : "<span style='color: red;'><i class='fa fa-close'></i> File tidak sesuai!</span>") : ""))
											</div>
											@if (file5 != null && !String.IsNullOrEmpty(file5.NamaFile))
											{
												<div class="col-sm-1 text-left" style="margin-left:0px !important;">
													<a href="@Url.Content("~/" + file5.NamaFile)" class="btn btn-default btn-xs" download>
														<i class="fa fa-download"></i>
													</a>
												</div>
											}
											<input type="hidden" name="fileid5" value="@(file5 != null && !String.IsNullOrEmpty(file5.LampiranKembalianId)?file5.LampiranKembalianId:"")" />
										</div>
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Bukti Kepemilikan Rek.Tujuan</label>
											<div class="col-sm-7">
												<input type="file" class="form-control max_5mb" id="BuktiRek" name="BuktiRek" placeholder="Nomor Berkas" accept="application/pdf">
												<span id="cancel-BuktiRek"></span>
												@Html.Raw((file6 != null && !String.IsNullOrEmpty(file6.StatusLampiran) && file6.StatusLampiran != "1" ? ((file6.StatusLampiran == "2") ? "<span style='color: green;'><i class='fa fa-check'></i> File Sesuai</span>" : "<span style='color: red;'><i class='fa fa-close'></i> File tidak sesuai!</span>") : ""))
											</div>
											@if (file6 != null && !String.IsNullOrEmpty(file6.NamaFile))
											{
												<div class="col-sm-1 text-left" style="margin-left:0px !important;">
													<a href="@Url.Content("~/" + file6.NamaFile)" class="btn btn-default btn-xs" download>
														<i class="fa fa-download"></i>
													</a>
												</div>
											}
											<input type="hidden" name="fileid6" value="@(file6 != null && !String.IsNullOrEmpty(file6.LampiranKembalianId)?file6.LampiranKembalianId:"")" />
										</div>
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">NPWP</label>
											<div class="col-sm-7">
												<input type="file" class="form-control max_5mb" id="NpwpFile" name="NpwpFile" placeholder="Nomor Berkas" accept="application/pdf">
												<span id="cancel-NpwpFile"></span>
												@Html.Raw((file7 != null && !String.IsNullOrEmpty(file7.StatusLampiran) && file7.StatusLampiran != "1" ? ((file7.StatusLampiran == "2") ? "<span style='color: green;'><i class='fa fa-check'></i> File Sesuai</span>" : "<span style='color: red;'><i class='fa fa-close'></i> File tidak sesuai!</span>") : ""))
											</div>
											@if (file7 != null && !String.IsNullOrEmpty(file7.NamaFile))
											{
												<div class="col-sm-1 text-left" style="margin-left:0px !important;">
													<a href="@Url.Content("~/" + file7.NamaFile)" class="btn btn-default btn-xs" download>
														<i class="fa fa-download"></i>
													</a>
												</div>
											}
											<input type="hidden" name="fileid7" value="@(file7 != null && !String.IsNullOrEmpty(file7.LampiranKembalianId)?file7.LampiranKembalianId:"")" />
										</div>
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Bukti Domisili Pemohon</label>
											<div class="col-sm-7">
												<input type="file" class="form-control max_5mb" id="BuktiDomisili" name="BuktiDomisili" placeholder="Nomor Berkas" accept="application/pdf">
												<span id="cancel-BuktiDomisili"></span>
												@Html.Raw((file8 != null && !String.IsNullOrEmpty(file8.StatusLampiran) && file8.StatusLampiran != "1" ? ((file8.StatusLampiran == "2") ? "<span style='color: green;'><i class='fa fa-check'></i> File Sesuai</span>" : "<span style='color: red;'><i class='fa fa-close'></i> File tidak sesuai!</span>") : ""))
											</div>
											@if (file8 != null && !String.IsNullOrEmpty(file8.NamaFile))
											{
												<div class="col-sm-1 text-left" style="margin-left:0px !important;">
													<a href="@Url.Content("~/" + file8.NamaFile)" class="btn btn-default btn-xs" download>
														<i class="fa fa-download"></i>
													</a>
												</div>
											}
											<input type="hidden" name="fileid8" value="@(file8 != null && !String.IsNullOrEmpty(file8.LampiranKembalianId)?file8.LampiranKembalianId:"")" />
										</div>
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Surat Kuasa Bermaterai</label>
											<div class="col-sm-7">
												<input type="file" class="form-control max_5mb" id="SuratKuasa" name="SuratKuasa" placeholder="Nomor Berkas" accept="application/pdf">
												<span id="cancel-SuratKuasa"></span>
												@Html.Raw((file9 != null && !String.IsNullOrEmpty(file9.StatusLampiran) && file9.StatusLampiran != "1" ? ((file9.StatusLampiran == "2") ? "<span style='color: green;'><i class='fa fa-check'></i> File Sesuai</span>" : "<span style='color: red;'><i class='fa fa-close'></i> File tidak sesuai!</span>") : ""))
											</div>
											@if (file9 != null && !String.IsNullOrEmpty(file9.NamaFile))
											{
												<div class="col-sm-1 text-left" style="margin-left:0px !important;">
													<a href="@Url.Content("~/" + file9.NamaFile)" class="btn btn-default btn-xs" download>
														<i class="fa fa-download"></i>
													</a>
												</div>
											}
											<input type="hidden" name="fileid9" value="@(file9 != null && !String.IsNullOrEmpty(file9.LampiranKembalianId)?file9.LampiranKembalianId:"")" />
										</div>
										@if (Model.STATUSPENGEMBALIAN == "0" || Model.STATUSPENGEMBALIAN == "3")
										{
											<div class="form-group">

												<div class="col-sm-12">
													<button type="submit" id="simpan" form="pengembalian_form" class="btn btn-primary">Simpan</button>
													<button type="submit" form="pengembalian_form" class="btn btn-primary" id="proses">Kirim Berkas</button>
												</div>
											</div>
										}
										@*
										<div class="col-sm-4">
											<button type="button" class="btn btn-primary">Kembalikan</button>
										</div>

										<div class="col-sm-4">
											<button type="button" class="btn btn-primary">Selesai</button>
										</div>
										</div>*@

									</div>
								</div>

							</div>
						}

						@if (isPengembalianDaerah)
						{
							<div style="display: flex; flex-wrap: wrap;">

								@* Surat Permohonan *@
								<div class="panel panel-default x_panel">
									<div class="panel-heading x_title">
										@if (isPengembalianDaerah && Model.STATUSPENGEMBALIAN == "4")
										{
											<div>Berkas Pengembalian</div>
										}
										else
										{
											<div>Kirim Permohonan</div>
											<br><small class="text-danger"><span class="text-danger">*</span>File yang dapat diupload berekstensi .pdf maksimal 5MB</small>
										}
									</div>
									<div id="js-section-input-template-surat" class="panel-body ps-0 pe-0">
										@*Panel content*@

										<div class="form-group">
											<label for="SuratPermohonanPengembalian" class="col-sm-4 control-label" style="text-align:left;">Surat Permohonan Pengembalian<span class="text-danger">*</span></label>
											<div class="col-sm-6">
												<input type="file" class="form-control max_5mb" id="SuratPermohonanPengembalian" name="SuratPermohonanPengembalian" accept="application/pdf" @(!isExistsFile13 ? "required=required" : "")>
												<span id="cancel-SuratPermohonanPengembalian"></span>
											</div>
											@if (isExistsFile13)
											{
												<div class="col-sm-1 text-left" style="margin-left:0px !important;">
													<a href="@Url.Content("~/" + file13.NamaFile)" class="btn btn-default btn-xs" download>
														<i class="fa fa-download"></i>
													</a>
												</div>
											}
											<input type="hidden" name="fileid13" value="@(file13 != null && !String.IsNullOrEmpty(file13.LampiranKembalianId)?file13.LampiranKembalianId:"")" />
										</div>

										<div class="form-group">
											<label for="SuratPNBPBerulang" class="col-sm-4 control-label" style="text-align:left;">Surat Pernyataan PNBP Berulang<span class="text-danger">*</span></label>
											<div class="col-sm-6">
												<input type="file" class="form-control max_5mb" id="SuratPNBPBerulang" name="SuratPNBPBerulang" accept="application/pdf" @(!isExistsFile12 ? "required=required" : "")>
												<span id="cancel-SuratPNBPBerulang"></span>
											</div>
											@if (file12 != null && !String.IsNullOrEmpty(file12.NamaFile))
											{
												<div class="col-sm-1 text-left" style="margin-left:0px !important;">
													<a href="@Url.Content("~/" + file12.NamaFile)" class="btn btn-default btn-xs" download>
														<i class="fa fa-download"></i>
													</a>
												</div>
											}
											<input type="hidden" name="fileid12" value="@(file12 != null && !String.IsNullOrEmpty(file12.LampiranKembalianId)?file12.LampiranKembalianId:"")" />
										</div>

										<div class="form-group">
											<label for="SuratKuasaWajibBayar" class="col-sm-4 control-label" style="text-align:left;">Surat Kuasa Wajib Bayar</label>
											<div class="col-sm-6">
												<input type="file" class="form-control max_5mb" id="SuratKuasaWajibBayar" name="SuratKuasaWajibBayar" accept="application/pdf">
												<span id="cancel-SuratKuasaWajibBayar"></span>
											</div>
											@if (file10 != null && !String.IsNullOrEmpty(file10.NamaFile))
											{
												<div class="col-sm-1 text-left" style="margin-left:0px !important;">
													<a href="@Url.Content("~/" + file10.NamaFile)" class="btn btn-default btn-xs" download>
														<i class="fa fa-download"></i>
													</a>
												</div>
											}
											<input type="hidden" name="fileid10" value="@(file10 != null && !String.IsNullOrEmpty(file10.LampiranKembalianId)?file10.LampiranKembalianId:"")" />
										</div>

										@* input file template surat *@
										@if (Model.STATUSPENGEMBALIAN == "2" || Model.STATUSPENGEMBALIAN == "4")
										{
											<div class="ln_solid"></div>
											<div class="form-group">
												<label for="SuratKeteranganPengeluaran" class="col-sm-4 control-label" style="text-align:left;">Surat Keterangan Pengeluaran<span class="text-danger">*</span></label>
												<div class="col-sm-6">
													<input type="file" class="form-control max_5mb" id="SuratKeteranganPengeluaran" name="SuratKeteranganPengeluaran" accept="application/pdf" @(!isExistsFile21 ? "required=required" : "")>
													<span id="cancel-SuratKeteranganPengeluaran"></span>
												</div>
												@if (file21 != null && !String.IsNullOrEmpty(file21.NamaFile))
												{
													<div class="col-sm-1 text-left" style="margin-left:0px !important;">
														<a href="@Url.Content("~/" + file21.NamaFile)" class="btn btn-default btn-xs" download>
															<i class="fa fa-download"></i>
														</a>
													</div>
												}
												<input type="hidden" name="fileid21" value="@(file21 != null && !String.IsNullOrEmpty(file21.LampiranKembalianId)?file21.LampiranKembalianId:"")" />
											</div>
											<div class="form-group">
												<label for="SuratPernyataanTidakTerlayani" class="col-sm-4 control-label" style="text-align:left;">Surat Pernyataan Tidak Terlayani<span class="text-danger">*</span></label>
												<div class="col-sm-6">
													<input type="file" class="form-control max_5mb" id="SuratPernyataanTidakTerlayani" name="SuratPernyataanTidakTerlayani" accept="application/pdf" @(!isExistsFile11 ? "required=required" : "")>
													<span id="cancel-SuratPernyataanTidakTerlayani"></span>
												</div>
												@if (file11 != null && !String.IsNullOrEmpty(file11.NamaFile))
												{
													<div class="col-sm-1 text-left" style="margin-left:0px !important;">
														<a href="@Url.Content("~/" + file11.NamaFile)" class="btn btn-default btn-xs" download>
															<i class="fa fa-download"></i>
														</a>
													</div>
												}
												<input type="hidden" name="fileid11" value="@(file11 != null && !String.IsNullOrEmpty(file11.LampiranKembalianId)?file11.LampiranKembalianId:"")" />
											</div>
											<div class="form-group">
												<label for="SuratPengembalianPNBP" class="col-sm-4 control-label" style="text-align:left;">Surat Persetujuan Pengembalian PNBP<span class="text-danger">*</span></label>
												<div class="col-sm-6">
													<input type="file" class="form-control max_5mb" id="SuratPengembalianPNBP" name="SuratPengembalianPNBP" accept="application/pdf" @(!isExistsFile22 ? "required=required" : "")>
													<span id="cancel-SuratPengembalianPNBP"></span>
												</div>
												@if (file22 != null && !String.IsNullOrEmpty(file22.NamaFile))
												{
													<div class="col-sm-1 text-left" style="margin-left:0px !important;">
														<a href="@Url.Content("~/" + file22.NamaFile)" class="btn btn-default btn-xs" download>
															<i class="fa fa-download"></i>
														</a>
													</div>
												}
												<input type="hidden" name="fileid22" value="@(file22 != null && !String.IsNullOrEmpty(file22.LampiranKembalianId)?file22.LampiranKembalianId:"")" />
											</div>
											<div class="form-group">
												<label for="SuratTanggungJawabMutlak" class="col-sm-4 control-label" style="text-align:left;">Surat Pernyataan Tanggung Jawab Mutlak<span class="text-danger">*</span></label>
												<div class="col-sm-6">
													<input type="file" class="form-control max_5mb" id="SuratTanggungJawabMutlak" name="SuratTanggungJawabMutlak" accept="application/pdf" @(!isExistsFile20 ? "required=required" : "")>
													<span id="cancel-SuratTanggungJawabMutlak"></span>
												</div>
												@if (file20 != null && !String.IsNullOrEmpty(file20.NamaFile))
												{
													<div class="col-sm-1 text-left" style="margin-left:0px !important;">
														<a href="@Url.Content("~/" + file20.NamaFile)" class="btn btn-default btn-xs" download>
															<i class="fa fa-download"></i>
														</a>
													</div>
												}
												<input type="hidden" name="fileid20" required value="@(file20 != null && !String.IsNullOrEmpty(file20.LampiranKembalianId)?file20.LampiranKembalianId:"")" />
											</div>

											if (Model.STATUSPENGEMBALIAN == "4")
											{
												<div class="ln_solid"></div>
												<div class="form-group">
													<label for="FileSP2D" class="col-sm-4 control-label" style="text-align:left;">SP2D<span class="text-danger">*</span></label>
													<div class="col-sm-6">
														<input type="file" class="form-control max_5mb" id="FileSP2D" name="FileSP2D" accept="application/pdf">
														<span id="cancel-FileSP2D"></span>
													</div>
													@if (fileSP2D != null && !String.IsNullOrEmpty(fileSP2D.NamaFile))
													{
														<div class="col-sm-1 text-left" style="margin-left:0px !important;">
															<a href="@Url.Content("~/" + fileSP2D.NamaFile)" class="btn btn-default btn-xs" download>
																<i class="fa fa-download"></i>
															</a>
														</div>
													}
												</div>
											}
											else
											{
												<p style="margin-left: 10px">Kolom Bertanda (<span class="text-danger">*</span>) Wajib diisi.</p>
												<div class="form-group">
													<div class="col-sm-12">
														<button type="submit" id="js-btn-proses" class="btn btn-primary">Proses</button>
													</div>
												</div>
											}
										}

										@if (Model.STATUSPENGEMBALIAN == "0")
										{
											<p style="margin-left: 10px">Kolom Bertanda (<span class="text-danger">*</span>) Wajib diisi.</p>
											<div class="form-group">
												<div class="col-sm-12">
													@* dari EntriPengembalianPusat.cshtml *@
													<button type="submit" id="js-btn-simpan" class="btn btn-primary">Simpan</button>
													<button type="submit" id="js-btn-proses" class="btn btn-primary">Proses</button>
												</div>
											</div>
										}

									</div>
								</div>

								@*template surat*@
								<div class="panel panel-default x_panel" style="display:none;">
									<div class="panel-heading x_title">
										Template Surat
										@*<ul class="nav navbar-right panel_toolbox">
											<li>
												<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
											</li>
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
											</li>
											<li>
												<a class="close-link"><i class="fa fa-close"></i></a>
											</li>
										</ul>*@
									</div>
									<div class="panel-body x_content">
										@*Panel content*@

										<div class="panel-body__template-surat">
											<div>
												<button type="button" class="btn btn-primary js-btn-generate-surat" data-template="keterangan-pengeluaran">Surat Keterangan Pengeluaran</button>
											</div>
											<div>
												<button type="button" class="btn btn-primary js-btn-generate-surat" data-template="pernyataan-tidak-terlayani">Surat Pernyataan Tidak Terlayani</button>
											</div>
											<div>
												<button type="button" class="btn btn-primary js-btn-generate-surat" data-template="persetujuan">Surat Persetujuan Pengembalian PNBP</button>
											</div>
											<div>
												<button type="button" class="btn btn-primary js-btn-generate-surat" data-template="tanggung-jawab">Surat Pernyataan Tanggung Jawab Mutlak</button>
											</div>
										</div>

									</div>
								</div>

							</div>
						}

					</div>

				</div>
			</div>

		</div>
	</div>
</form>

@if (!isPreviewMode && Model.STATUSPENGEMBALIAN == "2" && ViewBag.BisaSelesaikan == "TRUE")
{
	<style>
		#btn-selesai-form-selesaikan.--use-focus-outline:focus {
			outline: 2px solid #84c2f7;
			outline-offset: 3px;
			transition: outline-offset 250ms;
		}
	</style>
	<script>
		$(document).ready(function () {
			$([document.documentElement, document.body]).animate({
				scrollTop: $("#js-form-selesaikan").offset().top
			}, 300);
			window.setTimeout(() => {
				$('#btn-selesai-form-selesaikan').focus();
				$('#btn-selesai-form-selesaikan').on('blur', (e) => {
					$(e.target).removeClass('--use-focus-outline');
				})
			}, 300)
		});
	</script>
	<div class="row" style="margin-top: 2rem;">
		<div class="col-md-12">

			<div class="panel panel-default x_panel">
				<div class="panel-heading x_title">Selesaikan Permohonan</div>
				<div class="panel-body form-horizontal">

					<form id="js-form-selesaikan" class="form-horizontal" method="POST" enctype="multipart/form-data">
						@Html.HiddenFor(m => m.PENGEMBALIANPNBPID)

						@if (!isPengembalianDaerah)
						{
							<div class="row">
								<div class="col-md-3"><div class="control-label"><b>Surat Permohonan Pengembalian<span class="text-danger">*</span></b></div></div><div class="col-md-6">
									<div class="form-group">
										<label for="FileSuratPengembalian" class="col-sm-4 control-label" style="text-align:left;font-weight: normal;">Unggah File</label>
										<div class="col-sm-8" style="min-height: 53px;">
											<input type="file" name="FileSuratPengembalian" id="FileSuratPengembalian" class="form-control" required accept="application/pdf">
											<span id="cancel-FileSuratPengembalian"></span>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-3"><div class="control-label"><b>SPTJM<span class="text-danger">*</span></b></div></div><div class="col-md-6">
									<div class="form-group">
										<label for="FileSPTJM" class="col-sm-4 control-label" style="text-align:left;font-weight: normal;">Unggah File</label>
										<div class="col-sm-8" style="min-height: 53px;">
											<input type="file" name="FileSPTJM" id="FileSPTJM" class="form-control" required accept="application/pdf">
											<span id="cancel-FileSPTJM"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="ln_solid"></div>
						}

						<div class="row">
							<div class="col-md-3"><div class="control-label"><b>SP2D<span class="text-danger">*</span></b></div></div><div class="col-md-6">
								<div class="form-group">
									<label for="NomorSP2D" class="col-sm-4 control-label" style="text-align:left;font-weight: normal;">Nomor</label>
									<div class="col-sm-8">
										<input type="text" id="NomorSP2D" name="NomorSP2D" class="form-control" maxlength="20" required>
									</div>
								</div>
								<div class="form-group">
									<label for="FileSP2D" class="col-sm-4 control-label" style="text-align:left;font-weight: normal;">Unggah File</label>
									<div class="col-sm-8" style="min-height: 53px;">
										<input type="file" name="FileSP2D" id="FileSP2D" class="form-control" required accept="application/pdf">
										<span id="cancel-FileSP2D"></span>
									</div>
								</div>
								<div class="form-group mt-4">
									<div class="col-md-offset-4 col-md-8">
										<button id="btn-selesai-form-selesaikan" class="btn btn-success --use-focus-outline" @(ViewBag.BisaSelesaikan == "TRUE" ? "" : "disabled	")>Selesai</button>
									</div>
								</div>
							</div>
						</div>

					</form>

				</div>
			</div>

		</div>
	</div>
}

<script type="text/javascript" src='@Url.Content("~/resources/js/jquery.mask.min.js")'></script>
<script>
    $(document).ready(function() {
        var statuspengembalian = @Model.STATUSPENGEMBALIAN;
		$("#pengembalian_form :input[data-disabled='true']").prop("disabled", true);
        if (statuspengembalian == 0 || statuspengembalian == 3) {
			$("#pengembalian_form :input:not([data-disabled='true'])").prop("disabled", false);
        } else{
			$("#pengembalian_form :input:not(.js-btn-generate-surat)").prop("disabled", true);
		}

		$("#pengembalian_form :input[type='hidden']").prop("disabled", false);
		if ($('#STATUSPENGEMBALIAN').val() == '2') {
			$("#js-section-input-template-surat :input").prop("disabled", false);
		}
    });
    $('.asd').keyup(function(event) {

        // skip for arrow keys
        if(event.which >= 37 && event.which <= 40) return;

        // format number
        $(this).val(function(index, value) {
            return value
            .replace(/\D/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            ;
        });
    });

    // Validasi File > 5MB
    $('body').on('change','input:file', function() {
        let status = true
        //alert($(this)[0].files[0].type);
        if (['application/pdf'].includes(this.accept)) {
            if( !["application/pdf",".zip",".rar",".7zip"].includes($(this)[0].files[0].type)){
                alert('Format FIle Tidak Sesuai')
                status = false
            }
        }

        if ($(this).hasClass("max_5mb")) {
            if($(this)[0].files[0].size > 5000000){
                //alert('Ukuran File Lebih Dari 5MB')
                swal({
                    type: "error",
                    html: true,
                    title: "Gagal<br><small>Ukuran File Lebih Dari 5MB</small>",
                    confirmButtonColor: "#4CAF50"
                });
                status = false
            }
        }

        if (status) {
            // alert('aaaaaaaaaa');
            $('#cancel-'+this.id).html('<a href="javascript:void(0)" class="text-danger" onclick="cancelDoc(\''+this.id+'\')" title="Cancel File"><i class="icon-trash-2"></i> Cancel File</a>')
        } else {
            $(this).val('')
            $('#cancel-'+(this.id)).html('')
            $('#label-'+(this.id)).html('Test')
        }
    })

    const cancelDoc = (x) => {
        $('#'+x).val('')
        // alert(x)
        $('#cancel-'+x).html('')
        $('#label-'+x).html('Test')
    }
    // Validasi File > 5MB

    function hanyaAngka(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))

            return false;
        return true;
    }

	if ($('#js-tipepengembalian').val() == "1") {
		$('#pengembalian_form').on('submit', (e) => prosesPengembalian(e));
	}

	$('#js-btn-simpan').on('click', () => $('#STATUSPENGEMBALIAN').val(0));
	$('#js-btn-proses').on('click', () => $('#STATUSPENGEMBALIAN').val(2));
	$('#simpan').click(function (e) { $('#STATUSPENGEMBALIAN').val('0'); });
	$('#proses').click(function (e) { $('#STATUSPENGEMBALIAN').val('1'); });

	$('#pengembalian_form').on('submit', (e) => {
		if ($('#js-tipepengembalian').val() != "1") {
			e.preventDefault();
			submitPengembalian(e);
		}
	});

	function submitPengembalian(e) {
		e.preventDefault();
		$('#PermohonanPengembalian').removeAttr('disabled')
		let frmData = new FormData($('#pengembalian_form')[0]);
		$('#PermohonanPengembalian').attr('disabled', 'disabled')
		$.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });

		$.ajax({
			type: "POST",
			url: '@Url.Action("PengajuanPengembalianDetailV2", "Pengembalian")',
			//url: '@Url.Action("PengajuanPengembalianForm", "Pengembalian")',
			data: frmData,
			processData: false,
			contentType: false,
			success: function (data, textStatus, XMLHttpRequest) {
				if (data.Status) {
					swal({
						title: "Sukses",
						text: "Data berhasil disimpan",
						type: "success",
						closeOnEsc: true,
						allowOutsideClick: false,
					}, function () {
						let pengembalianPnbpId = $('[name="pengembalianpnbpid"]').val();
						if (pengembalianPnbpId && pengembalianPnbpId.trim().length > 0) {
							window.location.reload();
						} else {
							window.location.href = '@Url.Action("mon_pengembalian", "Pengembalian")';
						}
					});
				} else {
					swal({
						title: "Proses Gagal",
						text: data.Pesan,
						html: true,
						type: "warning",
						closeOnEsc: true,
						allowOutsideClick: true,
					});
				}
			},
			error: function (XMLHttpRequest, textStatus, errorThrown) {
				swal({
					title: "Proses Gagal",
					text: "Terjadi kesalahan",
					type: "error",
					closeOnEsc: true,
					allowOutsideClick: true,
				});
			},
		}).always(() => {
			$.unblockUI();
		});

	}


	function prosesPengembalian(e) {
		e.preventDefault();
		let frmData = new FormData($('#pengembalian_form')[0]);
		$.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });

		$.ajax({
			type: "POST",
			url: '@Url.Action("PengajuanPengembalianDetailDaerah", "Pengembalian")',
			data: frmData,
			processData: false,
			contentType: false,
			success: function (data, textStatus, XMLHttpRequest) {
				$.unblockUI();
				if (data.Status) {
					swal({
						title: "Sukses",
						text: "Berhasil",
						type: "success",
					}, function() {
						$.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
						window.location.href = window.location.href;
					});
				} else {
					swal({
						title: "Proses Gagal",
						text: data.Pesan,
						type: "warning",
						closeOnEsc: true,
						allowOutsideClick: true,
					});
				}
			},
			error: function (XMLHttpRequest, textStatus, errorThrown) {
				$.unblockUI();
				swal({
					title: "Proses Gagal",
					text: "Terjadi kesalahan",
					type: "error",
					closeOnEsc: true,
					allowOutsideClick: true,
				});
			},
		})
	}

    function cari_berkas() {
        //alert($('#nomorberkas').val());
        $.ajax({
            url: '@Url.Action("GetBerkasDataByID", "Pengembalian")',
            type: 'post',
            data: {noberkas:$('#nomorberkas').val()},
            success: function (res) {
                //if (res.length > 0) {
                    $('#namapemohon').val(res.NAMA);
                    $('#AlamatPemohon').val(res.ALAMAT);
                    $('#Nppwp').val(res.NPWP);
                    $('#KodeBiling').val(res.KODEBILLING);
                    $('#Ntpn').val(res.NTPN);
                    $('#NamaProsedur').val(res.NAMAPROSEDUR);
                    $('#SetoranPnbp').val(res.PENERIMAAN);
                ////} ELSE {
                ////    ALERT("DATA TIDAK DITEMUKAN..");
                    //ALERT(RES.length);
                ////}
            }
        });
    }

    function addCommas(nStr) {
        nStr += '';
        x = nStr.split(',');
        x1 = x[0];
        x2 = x.length > 1 ? ',' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + '.' + '$2');
        }
        return x1 + x2;
    }

    $('#SetoranPnbp').keyup(function(event){
        return addCommas($(this).val());
    });


	$('#js-form-selesaikan').submit(function (e) {
		e.preventDefault();
		let frmData = new FormData(e.target);
        $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
		$.ajax({
			type: "POST",
			data: frmData,
			processData: false,
			contentType: false,
			url: '@Url.Action("SelesaiPengembalian", "Pengembalian")',
			success: function (data, textStatus, XMLHttpRequest) {
				$.unblockUI();
				if (data.Status) {
					swal({
						title: "Sukses",
						text: data.Pesan,
						type: "success",
					}, function () {
						$.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
						window.location.href = '@Url.Action("mon_pengembalian", "Pengembalian")';
					});
				} else {
					swal({
						title: "Proses Gagal",
						text: data.Pesan,
						type: "error",
						closeOnEsc: true,
						allowOutsideClick: true,
					});
				}
			},
			error: function (XMLHttpRequest, textStatus, errorThrown) {
				$.unblockUI();
				swal({
					title: "Proses Gagal",
					text: "Terjadi kesalahan",
					type: "error",
					closeOnEsc: true,
					allowOutsideClick: true,
				});
			}
		});

	});

	function hitungPermohonanPengembalian() {
		let setoranPnbp = parseInt($('#SetoranPnbp').val().replace(/\./g, ''));
		let jumlahBayar = parseInt($('#JumlahBayar').val().replace(/\./g, ''));
		if (isNaN(setoranPnbp)) {
			setoranPnbp = 0;
		}
		if (isNaN(jumlahBayar)) {
			jumlahBayar = 0;
		}
		let permohonanPengembalian = setoranPnbp - jumlahBayar;
		permohonanPengembalian = Math.max(0, permohonanPengembalian);
		$('#PermohonanPengembalian').val(convertRupiah(permohonanPengembalian.toString()));
	}

	$('#SetoranPnbp').on('input', () => hitungPermohonanPengembalian());
	$('#JumlahBayar').on('input', () => hitungPermohonanPengembalian());
	hitungPermohonanPengembalian();

	function convertRupiah(angka, prefix) {
		var number_string = angka.replace(/[^,\d]/g, "").toString(),
			split = number_string.split(","),
			sisa = split[0].length % 3,
			rupiah = split[0].substr(0, sisa),
			ribuan = split[0].substr(sisa).match(/\d{3}/gi);

		if (ribuan) {
			separator = sisa ? "." : "";
			rupiah += separator + ribuan.join(".");
		}

		rupiah = split[1] != undefined ? rupiah + "," + split[1] : rupiah;
		return prefix == undefined ? rupiah : rupiah ? prefix + rupiah : "";
	}

	// generate surat
	$('.js-btn-generate-surat').on('click', generateSuratHandler);

	function generateSuratHandler(e) {
		switch (e.target.dataset.template) {
			case 'permohonan-pengembalian': generate_permohonan(); break;
			case 'pernyataan-pnbp-berutang': generatePNBPTerutang(); break;
			case 'keterangan-pengeluaran': generate_keterangan(); break;
			case 'pernyataan-tidak-terlayani': generate_tidak_terlayani(); break;
			case 'wajib-bayar': generateWajibBayar(); break;
			case 'persetujuan': generatePersetujuan(); break;
			case 'tanggung-jawab': generateTanggungJawab(); break;
		}
	}

	function generatePNBPTerutang() {
		var url = '@Url.Action("GeneratePNBPTerutang","Pengembalian")';
		window.open(url, '_blank');
	}

	function generateWajibBayar() {
		var url = '@Url.Action("GenerateWajibBayar","Pengembalian")';
		window.open(url, '_blank');
	}

	function generatePersetujuan() {
		var url = '@Url.Action("GeneratePersetujuan","Pengembalian")';
		window.open(url, '_blank');
	}

	function generateTanggungJawab() {
		var url = '@Url.Action("GenerateTanggungJawab","Pengembalian")';
		window.open(url, '_blank');
	}

    function generate_permohonan() {
        var url = '@Url.Action("GeneratePermohonanPengembalian","Pengembalian")';
        var namapemohon = $('#namapemohon').val();
        var NomorSurat = $('#NomorSurat').val();
        var PermohonanPengembalian = $('#PermohonanPengembalian').val();
        var AlamatPemohon = $('#AlamatPemohon').val();
        var npwpberkas = $('#npwpberkas').val();
        var NamaRekening = $('#NamaRekening').val();
        var NomorRekening = $('#NomorRekening').val();
        var TanggalPengaju = $('#tanggalpengaju').val();
        window.open(url + '?namapemohon=' + namapemohon + '&NomorSurat=' + NomorSurat + '&PermohonanPengembalian=' + PermohonanPengembalian + '&AlamatPemohon=' + AlamatPemohon + '&npwpberkas=' + npwpberkas + '&NamaRekening=' + NamaRekening + '&NomorRekening=' + NomorRekening + '&tanggalpengaju='+ TanggalPengaju,'_blank');
    }

    function generate_keterangan() {
        var url = '@Url.Action("GenerateSuratKeteranganPengeluaran", "Pengembalian")';
        var nomorsurat = $('#NomorSurat').val();
        var nomorberkas = $('#nomorberkas').val();
        var namapemohon = $('#namapemohon').val();
        var SetoranPnbp = $('#SetoranPnbp').val();
        var JumlahBayar = $('#JumlahBayar').val();
        var NamaProsedur = $('#NamaProsedur').val();
        window.open(url + '?NomorSurat=' + nomorsurat + '&nomorberkas=' + nomorberkas + '&namapemohon=' + namapemohon + '&SetoranPnbp=' + SetoranPnbp + '&JumlahBayar=' + JumlahBayar + '&NamaProsedur=' + NamaProsedur, '_blank');
    }

    function generate_tidak_terlayani() {
        var url         = '@Url.Action("GenerateSuratPernyataanTidakTerlayani", "Pengembalian")';
        var namapemohon = $('#namapemohon').val();
        var AlamatPemohon = $('#AlamatPemohon').val();
        var nomorberkas = $('#nomorberkas').val();
        var NamaProsedur = $('#NamaProsedur').val();
        window.open(url + '?namapemohon=' + namapemohon + '&AlamatPemohon=' + AlamatPemohon + '&nomorberkas=' + nomorberkas + '&NamaProsedur=' + NamaProsedur + '&satker=' + satker, '_blank');
    }
</script>