@model Pnbp.Entities.DetailDataBerkas

<style>
	/*panel style overwrite*/
	.panel-heading {
		background: white !important;
		padding: 10px 0 !important;
		font-size: 1.6rem !important;
	}

	.panel-default {
		padding: 0 12px !important;
	}

	.panel-body {
		margin-top: 10px;
	}

	.panel-body__template-surat, .panel-body__template-surat > div {
		display: grid;
	}
</style>

<form class="form-horizontal" method="post" enctype="multipart/form-data" id="js-form-entri">

	<input type="hidden" name="satker" id="satker" value="@((User as Pnbp.Entities.InternalUserIdentity).NamaKantor.Replace("Kantor Pertanahan", ""))" />
	
	<div id="dynamic_content">

		@if (!string.IsNullOrEmpty(Model.BERKASID))
		{
			<div class="text-right" style="margin-bottom:8px;">
				<a href="@Url.Action("mon_pengembalian","Pengembalian")" class="btn btn-default"><i class="fa fa-reply"></i> Kembali</a>
			</div>
		}
		<div class="clearfix"></div>

		<div class="row" style="padding-top: 10px;">
			<div class="col-md-4">

				@* section panel 1 *@
				<div class="panel panel-default x_panel">
					<div class="panel-heading x_title">
						Data Berkas
						<ul class="nav navbar-right panel_toolbox">
							<li>
								<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
							</li>
							<li>
								<a class="close-link"><i class="fa fa-close"></i></a>
							</li>
						</ul>
					</div>
					<div class="panel-body form-horizontal x_content">
						@* form *@
						@Html.HiddenFor(m => m.BERKASID)
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Nomor Berkas</label>
							<div class="col-sm-6">
								@Html.TextBoxFor(m => m.NOMORBERKAS, new { @class = "form-control input-md", @required = "required", @placeholder = "Nomor/Tahun" })
							</div>
							<div class="col-sm-2 text-left"><button id="js-btn-cari-berkas" type="button" class="btn btn-primary" style="margin-left:0px;"><span class="fa fa-search"></span></button></button></div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left;">Atas Nama</label>
							<div class="col-sm-8">
								@Html.TextBoxFor(m => m.NAMAPEGAWAIPENGAJU, new { @class = "form-control input-md", @readonly = "readonly", @placeholder = "Nama Pemohon" })
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Alamat</label>
							<div class="col-sm-8">
								@Html.TextBoxFor(m => m.ALAMATPEMOHON, new { @class = "form-control input-md", @readonly = "readonly", @placeholder = "Alamat Pemohon" })
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left;">NPWP</label>
							<div class="col-sm-8">
								@Html.TextBoxFor(m => m.NPWP, new { @Value = "", @class = "form-control input-md", @readonly = "readonly", @placeholder = "NPWP", @Name = "NPWPPEMOHON" })
								@*@Html.TextBoxFor(m => m.NPWP, new { @class = "form-control input-md", @readonly = "readonly", @placeholder = "NPWP", @Name = "NPWPPEMOHON" })*@
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Kode Biling</label>
							<div class="col-sm-8">
								@Html.TextBoxFor(m => m.KODEBILLING, new { @class = "form-control input-md", @readonly = "readonly", @placeholder = "Kode Billing" })
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left;">NTPN</label>
							<div class="col-sm-8">
								@Html.TextBoxFor(m => m.NTPN, new { @class = "form-control input-md", @readonly = "readonly", @placeholder = "NTPN" })
							</div>
						</div>
						@* end form 1 *@
					</div>
				</div>

			</div>
			<div class="col-md-4">

				<div class="panel panel-default x_panel">
					<div class="panel-heading x_title">
						Data Pengembalian
						<ul class="nav navbar-right panel_toolbox ">
							<li>
								<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
							</li>
							<li>
								<a class="close-link"><i class="fa fa-close"></i></a>
							</li>
						</ul>
					</div>
					<div class="panel-body form-horizontal x_content">
						@*Panel content*@
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Setoran PNBP</label>
							<div class="col-sm-8">
								@Html.TextBoxFor(m => m.SETORANPNBP, new { @class = "form-control input-md js-input-currency text-right", @required = "required" })
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left;">Jumlah Biaya Layanan yang sudah dikeluarkan</label>
							<div class="col-sm-8">
								@Html.TextBoxFor(m => m.JUMLAHBAYAR, new { @class = "form-control input-md js-input-currency text-right", @required = "required" })
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Permohonan Pengembalian</label>
							<div class="col-sm-8">
								@Html.TextBoxFor(m => m.PERMOHONANPENGEMBALIAN, new { @class = "form-control input-md js-input-currency text-right", @required = "required" })
							</div>
						</div>
						<div class="form-group">
							<label for="npwpberkas" class="col-sm-4 control-label" style="text-align:left;">NPWP</label>
							<div class="col-sm-8">
								<input type="text" name="npwpberkas" id="npwpberkas" class="form-control npwp" data-mask="00.000.000.0-000.000" placeholder="NPWP" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left;">Nama Rekening</label>
							<div class="col-sm-8">
								@Html.TextBoxFor(m => m.NAMAREKENING, new { @class = "form-control input-md", @required = "required" })
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Nomor Rekening</label>
							<div class="col-sm-8">
								@Html.TextBoxFor(m => m.NOMORREKENING, new { @class = "form-control input-md", @required = "required" })
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left;">Nama Bank</label>
							<div class="col-sm-8">
								@Html.TextBoxFor(m => m.NAMABANK, new { @class = "form-control input-md", @required = "required" })
							</div>
						</div>

					</div>
				</div>

			</div>
			<div class="col-md-4">

				@*kirim permohonan*@
				<div class="panel panel-default x_panel">
					<div class="panel-heading x_title">
						Kirim Permohonan
						<br><small class="text-danger"><span class="text-danger">*</span>File yang dapat diupload berekstensi.pdf maksimal 5MB</small>
					</div>
					<div class="panel-body pe-0 ps-0">

						@* Upload Request Baru *@
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Surat Permohonan Pengembalian<span class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="file" class="form-control max_5mb" id="SuratWajibBayar" name="SuratWajibBayar" placeholder="Surat Wajib Bayar" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword, application/pdf" required>
								<span id="cancel-SuratWajibBayar"></span>
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Surat Pernyataan PNBP Berulang<span class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="file" class="form-control max_5mb" id="SuratWajibBayar" name="SuratWajibBayar" placeholder="Surat Wajib Bayar" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword, application/pdf" required>
								<span id="cancel-SuratWajibBayar"></span>
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Surat Kuasa Wajib Bayar<span class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="file" class="form-control max_5mb" id="SuratWajibBayar" name="SuratWajibBayar" placeholder="Surat Wajib Bayar" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword, application/pdf" required>
								<span id="cancel-SuratWajibBayar"></span>
							</div>
						</div>

						<p style="margin-left: 10px">Kolom Bertanda (<span class="text-danger">*</span>) Wajib diisi.</p>
						<div class="form-group">
							<div class="col-sm-12">
								@* dari EntriPengembalianPusat.cshtml *@
								<button type="submit" form="pengembalian_form" id="simpan" class="btn btn-primary">Simpan</button>
								@*<button type="submit" form="pengembalian_form" class="btn btn-primary" id="proses">Proses</button>*@

								<button type="submit" class="btn btn-primary" id="selesai">Proses</button>
							</div>
						</div>

					</div>
				</div>

				@*template surat*@
				<div class="panel panel-default x_panel">
					<div class="panel-heading x_title">
						Template Surat
						<ul class="nav navbar-right panel_toolbox">
							<li>
								<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
							</li>
							<li>
								<a class="close-link"><i class="fa fa-close"></i></a>
							</li>
						</ul>
					</div>
					<div class="panel-body x_content">
						@*Panel content*@

						<div class="panel-body__template-surat">
							<div>
								<button type="button" class="btn btn-primary js-btn-generate-surat" data-template="keterangan-pengeluaran">Surat Keterangan Pengeluaran</button>
							</div>
							<div>
								<button type="button" class="btn btn-primary js-btn-generate-surat" data-template="pernyataan-tidak-terlayani">Surat Pernyataan Tidak Terlayani</button>
							</div>
							<div>
								<button type="button" class="btn btn-primary js-btn-generate-surat" data-template="persetujuan">Surat Persetujuan</button>
							</div>
							<div>
								<button type="button" class="btn btn-primary js-btn-generate-surat" data-template="tanggung-jawab">Surat Pernyataan Tanggung Jawab Mutlak</button>
							</div>
						</div>

					</div>
				</div>

			</div>

		</div>
	</div>
</form>

<script type="text/javascript" src='@Url.Content("~/resources/js/jquery.mask.min.js")'></script>
<script>
	$(document).ready(function () {

		function cariBerkas() {
			$.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
			$.ajax({
				url: '@Url.Action("GetBerkasDataByID", "Pengembalian")',
				type: 'POST',
				data: { noberkas: $('#js-form-entri [name="NOMORBERKAS"]').val()},
				success: function (res) {
					$('#BERKASID').val(res.BERKASID);
					$('#NAMAPEGAWAIPENGAJU').val(res.NAMA);
					$('#ALAMATPEMOHON').val(res.ALAMAT);
					$('#NPWP').val(res.NPWP);
					$('#KODEBILLING').val(res.KODEBILLING);
					$('#NTPN').val(res.NTPN);
					$('#SETORANPNBP').val(addCommas(res.PENERIMAAN));
				}
			}).always(() => {
				$.unblockUI();
			});
		}

		function addCommas(nStr) {
			if (nStr == null) {
				nStr = '0';
			}

			nStr += '';
			x = nStr.split(',');
			x1 = x[0];
			x2 = x.length > 1 ? ',' + x[1] : '';
			var rgx = /(\d+)(\d{3})/;
			while (rgx.test(x1)) {
				x1 = x1.replace(rgx, '$1' + '.' + '$2');
			}
			return x1 + x2;
		}

		function simpanPengembalian(e) {
			e.preventDefault();
			let frmData = new FormData($('#js-form-entri')[0]);
			$.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });

			$.ajax({
				type: "POST",
				url: '@Url.Action("SimpanPengembalianDaerah", "Pengembalian")',
				data: frmData,
				processData: false,
				contentType: false,
				success: function (data, textStatus, XMLHttpRequest) {
					if (data.Status) {
						swal({
							title: "Sukses",
							text: "Berhasil",
							type: "success",
							closeOnEsc: true,
							allowOutsideClick: true,
						}, function () {
							window.location.href = '@Url.Action("mon_pengembalian", "Pengembalian")';
						});
					} else {
						swal({
							title: "Proses Gagal",
							text: data.Pesan,
							type: "warning",
							closeOnEsc: true,
							allowOutsideClick: true,
						});
					}
				},
				error: function (XMLHttpRequest, textStatus, errorThrown) {
					swal({
						title: "Proses Gagal",
						text: "Terjadi kesalahan",
						type: "error",
						closeOnEsc: true,
						allowOutsideClick: true,
					});
				},
			}).always(() => {
				$.unblockUI();
			});

		}


		function isNumberKey(evt) {
			var key = (evt.which) ? evt.which : event.keyCode;
			if (key != 188 // Comma
				&& key != 8 // Backspace
				&& key != 17 && key != 86 & key != 67 // Ctrl c, ctrl v
				&& (key < 48 || key > 57) // Non digit
			) {
				if (key >= 96 && key <= 106) {
					// numpad
				} else {
					evt.preventDefault();
					return;
				}
			}
		}

		function convertRupiah(angka, prefix) {
			var number_string = angka.replace(/[^,\d]/g, "").toString(),
				split = number_string.split(","),
				sisa = split[0].length % 3,
				rupiah = split[0].substr(0, sisa),
				ribuan = split[0].substr(sisa).match(/\d{3}/gi);

			if (ribuan) {
				separator = sisa ? "." : "";
				rupiah += separator + ribuan.join(".");
			}

			rupiah = split[1] != undefined ? rupiah + "," + split[1] : rupiah;
			return prefix == undefined ? rupiah : rupiah ? prefix + rupiah : "";
		}

		$('#js-btn-cari-berkas').on('click', () => cariBerkas());
		$('#js-form-entri').on('submit', (e) => simpanPengembalian(e));

		// init input currency
		$('.js-input-currency').on('keyup', (e) => {
			e.target.value = convertRupiah(e.target.value);
		});
		$('.js-input-currency').on('keydown', (e) => {
			return isNumberKey(event)
		});

		// generate surat
		$('.js-btn-generate-surat').on('click', generateSuratHandler);

		function generateSuratHandler(e) {
			switch (e.target.dataset.template) {
				case 'permohonan-pengembalian': generate_permohonan(); break;
				case 'pernyataan-pnbp-berutang': generatePNBPTerutang(); break;
				case 'keterangan-pengeluaran': generate_keterangan(); break;
				case 'pernyataan-tidak-terlayani': generate_tidak_terlayani(); break;
				case 'wajib-bayar': generateWajibBayar(); break;
				case 'persetujuan': generatePersetujuan(); break;
				case 'tanggung-jawab': generateTanggungJawab(); break;
			}
		}

		function generatePNBPTerutang() {
			var url = '@Url.Action("GeneratePNBPTerutang","Pengembalian")';
			window.open(url, '_blank');
		}

		function generateWajibBayar() {
			var url = '@Url.Action("GenerateWajibBayar","Pengembalian")';
			window.open(url, '_blank');
		}

		function generatePersetujuan() {
			var url = '@Url.Action("GeneratePersetujuan","Pengembalian")';
			window.open(url, '_blank');
		}

		function generateTanggungJawab() {
			var url = '@Url.Action("GenerateTanggungJawab","Pengembalian")';
			window.open(url, '_blank');
		}

		function generate_permohonan() {
			var url = '@Url.Action("GeneratePermohonanPengembalian","Pengembalian")';
			var namapemohon = $('#namapemohon').val();
			var NomorSurat = $('#NomorSurat').val();
			var PermohonanPengembalian = $('#PermohonanPengembalian').val();
			var AlamatPemohon = $('#AlamatPemohon').val();
			var npwpberkas = $('#npwpberkas').val();
			var NamaRekening = $('#NamaRekening').val();
			var NomorRekening = $('#NomorRekening').val();
			var TanggalPengaju = $('#tanggalpengaju').val();
			window.open(url + '?namapemohon=' + namapemohon + '&NomorSurat=' + NomorSurat + '&PermohonanPengembalian=' + PermohonanPengembalian + '&AlamatPemohon=' + AlamatPemohon + '&npwpberkas=' + npwpberkas + '&NamaRekening=' + NamaRekening + '&NomorRekening=' + NomorRekening + '&tanggalpengaju='+ TanggalPengaju,'_blank');
		}

		function generate_keterangan() {
			var url = '@Url.Action("GenerateSuratKeteranganPengembalian","Pengembalian")';
			var nomorsurat = $('#NomorSurat').val();
			var nomorberkas = $('#nomorberkas').val();
			var namapemohon = $('#namapemohon').val();
			var SetoranPnbp = $('#SetoranPnbp').val();
			var JumlahBayar = $('#JumlahBayar').val();
			var NamaProsedur = $('#NamaProsedur').val();
			window.open(url + '?NomorSurat=' + nomorsurat + '&nomorberkas=' + nomorberkas + '&namapemohon=' + namapemohon + '&SetoranPnbp=' + SetoranPnbp + '&JumlahBayar=' + JumlahBayar + '&NamaProsedur=' + NamaProsedur, '_blank');
		}

		function generate_tidak_terlayani() {
			var url         = '@Url.Action("GenerateSuratTidakTerlayani", "Pengembalian")';
			var namapemohon = $('#namapemohon').val();
			var AlamatPemohon = $('#AlamatPemohon').val();
			var nomorberkas = $('#nomorberkas').val();
			var NamaProsedur = $('#NamaProsedur').val();
			window.open(url + '?namapemohon=' + namapemohon + '&AlamatPemohon=' + AlamatPemohon + '&nomorberkas=' + nomorberkas + '&NamaProsedur=' + NamaProsedur + '&satker=' + satker, '_blank');
		}

	});
</script>
