@model Pnbp.Entities.DataPengembalianPnbpDev
@{
	ViewBag.Title = "PengajuanPengembalianForm";
}

<style>
	/*panel style overwrite*/
	.panel-heading {
		background: white !important;
		padding: 10px 0 !important;
		font-size: 1.6rem !important;
	}

	.panel-default {
		padding: 0 12px !important;
	}

	.panel-body {
		margin-top: 10px;
	}

	.template-section > div {
		margin-bottom: 1.35rem;
	}

	.section-form-input .panel-default {
		border: none;
	}
	.section-form-input .panel-heading {
		border-bottom: 2px solid #E6E9ED;
	}
</style>

<form class="form-horizontal section-form-input" method="post" action="@Url.Action("PengajuanPengembalianForm", "Pengembalian")" enctype="multipart/form-data" id="pengembalian_form" id="form_pengajuan">
	<div class="" id="dynamic_content">

		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
                <div style="padding-top:10px;">
					@*<div class="x_title">
							<h2>Pencarian Data</h2>
							<div class="clearfix"></div>
						</div>*@

					<input type="hidden" name="Status" id="Stataus" />
					<div class="text-right">@*<a href="@Url.Action("PengajuanPengembalianIndex","Pengembalian")" class="btn btn-default"><i class="fa fa-reply"></i> Kembali</a>*@</div>
                    <div class="text-right" style="margin-bottom:8px;">
						<a href="@Url.Action("mon_pengembalian","Pengembalian")" class="btn btn-default"><i class="fa fa-reply"></i> Kembali</a>
					</div>
					<div class="row">

						<div class="col-md-4">

							<div class="panel panel-default">
								<div class="panel-heading">Data Berkas</div>
								<input type="hidden" name="satker" id="satker" value="@(new Pnbp.Codes.Functions().claimUser().NamaKantor.Replace("Kantor Pertanahan", ""))" />
								<div class="panel-body form-horizontal">
									@* form *@
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Nomor Berkas</label>
										<div class="col-sm-6">
											@Html.TextBoxFor(model => model.NomorBerkas, new { @class = "form-control", @id = "nomorberkas", @required = "required", @placeholder = "Nomor/Tahun" })
										</div>
										<div class="col-sm-2 text-left"><button type="button" class="btn btn-primary" onclick="cari_berkas()" style="margin-left:0px;"><span class="fa fa-search"></span></button></button></div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left;">Atas Nama</label>
										<div class="col-sm-8">
											@*@Html.TextBoxFor(model => model.NamaPemohon, new { @class = "form-control", @id = "namapemohon", @placeholder = "Nama Pemohon", @readonly = "readonly", @style = "color:#000000; border-color:#ffffff; box-shadow: none !important;  font-family: 'Varela Round', sans-serif; font-size: small;" })*@
											@Html.TextBoxFor(model => model.NamaPemohon, new { @class = "form-control", @id = "namapemohon", @placeholder = "Nama Pemohon", @readonly = "readonly" })
										</div>
										<input type="hidden" id="NamaProsedur" name="NamaProsedur" />
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Alamat</label>
										<div class="col-sm-8">
											@*<input type="text" class="form-control" id="Alamat" name="Alamat" placeholder="Alamat">*@
											@Html.TextBoxFor(model => model.AlamatPemohon, new { @class = "form-control", @id = "AlamatPemohon", @placeholder = "Alamat Pemohon", @readonly = "readonly" })
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left;">NPWP</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="Npwp" name="Npwp" placeholder="NPWP" placeholder="NPWP" data-mask="00.000.000.0-000.000" readonly>
											@*@Html.TextBoxFor(model => model.Npwp, new { @class = "form-control npwp", @id = "Nppwp", @placeholder = "NPWP", @readonly = "readonly" })*@

										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Kode Biling</label>
										<div class="col-sm-8">
											@*<input type="text" class="form-control" id="KodeBiling" name="KodeBiling" placeholder="Kode Biling">*@
											@Html.TextBoxFor(model => model.KodeBilling, new { @class = "form-control", @id = "KodeBiling", @placeholder = "Kode Biling", @readonly = "readonly" })
										</div>
									</div>

									<div class="form-group">
										<label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left;">NTPN</label>
										<div class="col-sm-8">
											@*<input type="text" class="form-control" id="NTPN" name="NTPN" placeholder="NTPN">*@
											@Html.TextBoxFor(model => model.Ntpn, new { @class = "form-control", @id = "Ntpn", @placeholder = "NTPN", @readonly = "readonly" })
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-12">
											@*<button type="submit" form="pengembalian_form" id="simpan" class="btn btn-primary">Simpan</button>*@
											<button type="reset" class="btn btn-primary">Hapus</button>
										</div>
									</div>

									<div class="form-group row">
										@*<div class="col-sm-12"><a href="@Url.Action("GeneratePermohonanPengembalian","Pengembalian")" class="btn btn-primary" download>Surat Permohonan</a>*@
										<div class="col-sm-12"><button type="button" class="btn btn-primary" onclick="generate_permohonan()">Surat Permohonan</button></div>
										@*</div>*@
									</div>

									<div class="form-group row">
										<div class="col-sm-12"><button type="button" class="btn btn-primary" onclick="generate_keterangan()">Surat Keterangan</button></div>
										@*<div class="col-sm-12"><a href="@Url.Content("~/Assets/surat_keterangan.docx")" class="btn btn-primary" download>Surat Keterangan</a></div>*@
									</div>

									<div class="form-group row">
										<div class="col-sm-12"><button type="button" class="btn btn-primary" onclick="generate_tidak_terlayani()">Surat Pernyataan Tidak Terlayani</button></div>
										@*<div class="col-sm-12"><a href="@Url.Content("~/Assets/surat_keterangan.docx")" class="btn btn-primary" download>Surat Keterangan</a></div>*@
									</div>
									@* end form 1 *@
								</div>
							</div>

						</div>
						<div class="col-md-4">

							<div class="panel panel-default">
								<div class="panel-heading">Data Pengembalian</div>
								<div class="panel-body form-horizontal">
									@*Panel content*@
									<div class="form-group">
										<label for="inputEmail3" class="col-xs-4 control-label" style="text-align:left;">Setoran PNBP</label>
										<div class="col-sm-8">
											@*<input type="text" class="form-control" id="SetoranPnbp" placeholder="Setoran PNBP">*@
											@Html.TextBoxFor(model => model.SetoranPnbp, new { @class = "form-control  text-right", @id = "SetoranPnbp", @placeholder = "Setoran PNBP", @required = "required" })
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left;">Jumlah Biaya Layanan Yang Sudah Dikeluarkan</label>
										<div class="col-sm-8">
											@*<input type="text" class="form-control" id="BiayaLayanan" name="BiayaLayanan" placeholder="Biaya Layanan" onkeypress="return hanyaAngka(event)">*@
											@Html.TextBoxFor(model => model.JumlahBayar, new { @class = "form-control  text-right", @id = "JumlahBayar", @placeholder = "jumlah Biaya Layanan Yang Sudah Dikeluarkan", @required = "required" })
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Permohonan Pengembalian</label>
										<div class="col-sm-8">
											@*<input type="text" class="form-control" id="PermohonanPengembalian" name="PermohonanPengembalian" placeholder="Permohonan Pengembalian">*@
											@Html.TextBoxFor(model => model.PermohonanPengembalian, new { @class = "form-control asd text-right", @id = "PermohonanPengembalian", @placeholder = "Permohonan Pengembalian", @required = "required" })
										</div>
									</div>
									<div class="form-group">
										<label for="npwpberkas" class="col-sm-4 control-label" style="text-align:left;">NPWP</label>
										<div class="col-sm-8">
											<input type="text" name="npwpberkas" id="npwpberkas" class="form-control npwp" data-mask="00.000.000.0-000.000" placeholder="NPWP" />
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left;">Nama Rekening</label>
										<div class="col-sm-8">
											@*<input type="text" class="form-control" id="NamaRekening" name="NamaRekening" placeholder="Nama Rekening">*@
											@Html.TextBoxFor(model => model.NamaRekening, new { @class = "form-control", @id = "NamaRekening", @placeholder = "Nama Rekening", @required = "required" })
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Nomor Rekening</label>
										<div class="col-sm-8">
											@*<input type="text" class="form-control" id="NomorRekening" name="NomorRekening" placeholder="Nomor Rekening">*@
											@Html.TextBoxFor(model => model.NomorRekening, new { @class = "form-control", @id = "NomorRekening", @placeholder = "Nomor Rekening", @required = "required" })
										</div>
									</div>
									@*<div class="form-group">
											<label for="inputPassword3" class="col-sm-4 control-label">NPWP</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="NPWP" name="NPWP" placeholder="NPWP">
											</div>
										</div>*@
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-4 control-label" style="text-align:left;">Nama Bank</label>
										<div class="col-sm-8">
											@*<input type="text" class="form-control" id="NamaBank" name="NamaBank" placeholder="Nama Bank">*@
											@Html.TextBoxFor(model => model.NamaBank, new { @class = "form-control", @id = "NamaBank", @placeholder = "Nama Bank", @required = "required" })
										</div>
									</div>

								</div>
							</div>

						</div>
						<div class="col-md-4">

							<div class="panel panel-default">
								<div class="panel-heading">Kirim Permohonan<br><small class="text-danger"><span class="text-danger">*</span>File yang dapat diupload berekstensi.pdf maksimal 5MB</small></div>

								<div class="panel-body">
									@*Panel content*@
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Nomor Surat<span class="text-danger">*</span></label>
										<div class="col-sm-8">
											@Html.TextBoxFor(model => model.NomorSurat, new { @class = "form-control", @id = "NomorSurat", @placeholder = "Nomor Surat", @required = "required" })
										</div>
									</div>

									@* Upload Request Baru *@
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Surat Wajib Bayar<span class="text-danger">*</span></label>
										<div class="col-sm-8">
											<input type="file" class="form-control max_5mb" id="SuratWajibBayar" name="SuratWajibBayar" placeholder="Surat Wajib Bayar" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword, application/pdf" required>
											@*<label id="label-SuratPermohhonan" class="custom-file-label" for="customFile">Pilih File</label>*@
											@*<span class="text-danger">Maksimum File 5MB</span><br>*@
											<span id="cancel-SuratWajibBayar"></span>
										</div>
									</div>

									<div class="form-group">
										<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Surat Pernyataan Tidak Terlayani<span class="text-danger">*</span></label>
										<div class="col-sm-8">
											<input type="file" class="form-control max_5mb" id="TidakTerlayani" name="TidakTerlayani" placeholder="Surat Pernyataan Tidak Terlayani" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword, application/pdf" required>
											@*<label id="label-SuratPermohhonan" class="custom-file-label" for="customFile">Pilih File</label>*@
											@*<span class="text-danger">Maksimum File 5MB</span><br>*@
											<span id="cancel-TidakTerlayani"></span>
										</div>
									</div>
									@* Upload Request Baru *@

									<div class="form-group">
										<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Surat Permohonan<span class="text-danger">*</span></label>
										<div class="col-sm-8">
											<input type="file" class="form-control max_5mb" id="SuratPermohhonan" name="SuratPermohonan" placeholder="Nomor Berkas" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword, application/pdf" required>
											@*<label id="label-SuratPermohhonan" class="custom-file-label" for="customFile">Pilih File</label>*@
											@*<span class="text-danger">Maksimum File 5MB</span><br>*@
											<span id="cancel-SuratPermohhonan"></span>
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Surat Keterangan<span class="text-danger">*</span></label>
										<div class="col-sm-8">
											<input type="file" class="form-control max_5mb" id="SuratKeterangan" name="SuratKeterangan" placeholder="Nomor Berkas" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword, application/pdf" required>
											<span id="cancel-SuratKeterangan"></span>
										</div>
									</div>
									<div class="form-group" style="display:none;">
										<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Bukti Penerimaan Negara</label>
										<div class="col-sm-8">
											<input type="file" class="form-control max_5mb" id="BuktiPenerimaan" name="BuktiPenerimaan" placeholder="Nomor Berkas" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword, application/pdf">
											<span id="cancel-BuktiPenerimaan"></span>
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Surat Perintah Setor<span class="text-danger">*</span></label>
										<div class="col-sm-8">
											<input type="file" class="form-control max_5mb" id="SuratPerintah" name="SuratPerintah" placeholder="Nomor Berkas" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword, application/pdf" required>
											<span id="cancel-SuratPerintah"></span>
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Surat Bukti Setor<span class="text-danger">*</span></label>
										<div class="col-sm-8">
											<input type="file" class="form-control max_5mb" id="BuktiSetor" name="BuktiSetor" placeholder="Nomor Berkas" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword, application/pdf" required>
											<span id="cancel-BuktiSetor"></span>
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Bukti Kepemilikan Rek.Tujuan<span class="text-danger">*</span></label>
										<div class="col-sm-8">
											<input type="file" class="form-control max_5mb" id="BuktiRek" name="BuktiRek" placeholder="Nomor Berkas" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword, application/pdf" required>
											<span id="cancel-BuktiRek"></span>
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">NPWP<span class="text-danger">*</span></label>
										<div class="col-sm-8">
											<input type="file" class="form-control max_5mb" id="NpwpFile" name="NpwpFile" placeholder="Nomor Berkas" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword, application/pdf" required>
											<span id="cancel-NpwpFile"></span>
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">Bukti Domisili Pemohon<span class="text-danger">*</span></label>
										<div class="col-sm-8">
											<input type="file" class="form-control max_5mb" id="BuktiDomisili" name="BuktiDomisili" placeholder="Nomor Berkas" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword, application/pdf" required>
											<span id="cancel-BuktiDomisili"></span>
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-4 control-label text-left" style="text-align:left;">Surat Kuasa Bermaterai</label>
										<div class="col-sm-8">
											<input type="file" class="form-control max_5mb" id="SuratKuasa" name="SuratKuasa" placeholder="Nomor Berkas" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword, application/pdf">
											<span id="cancel-SuratKuasa"></span>
										</div>
									</div>

									<p style="margin-left: 10px">Kolom Bertanda (<span class="text-danger">*</span>) Wajib diisi.</p>
									<div class="form-group">
										<div class="col-sm-12">
											<button type="submit" form="pengembalian_form" id="simpan" class="btn btn-primary">Simpan</button>
											<button type="submit" form="pengembalian_form" class="btn btn-primary" id="proses">Kirim Berkas</button>
										</div>
									</div>

									@*
										<div class="col-sm-4">
											<button type="button" class="btn btn-primary">Kembalikan</button>
										</div>

										<div class="col-sm-4">
											<button type="button" class="btn btn-primary">Selesai</button>
										</div>
										</div>*@

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</form>
<script type="text/javascript" src='@Url.Content("~/resources/js/jquery.mask.min.js")'></script>
<script>

    function hanyaAngka(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))

            return false;
        return true;
    }

    // Validasi File > 5MB
    $('body').on('change','input:file', function() {
        let status = true
        //alert($(this)[0].files[0].type);
        if (['application/pdf'].includes(this.accept)) {
            if( !["application/pdf",".zip",".rar",".7zip"].includes($(this)[0].files[0].type)){
                alert('Format FIle Tidak Sesuai')
                status = false
            }
        }

        if ($(this).hasClass("max_5mb")) {
            if($(this)[0].files[0].size > 5000000){
                //alert('Ukuran File Lebih Dari 5MB')
                swal({
                    type: "error",
                    html: true,
                    title: "Gagal<br><small>Ukuran File Lebih Dari 5MB</small>",
                    confirmButtonColor: "#4CAF50"
                });
                status = false
            }
        }

        if (status) {
            // alert('aaaaaaaaaa');
            $('#cancel-'+this.id).html('<a href="javascript:void(0)" class="text-danger" onclick="cancelDoc(\''+this.id+'\')" title="Cancel File"><i class="icon-trash-2"></i> Cancel File</a>')
        } else {
            $(this).val('')
            $('#cancel-'+(this.id)).html('')
            $('#label-'+(this.id)).html('Test')
        }
    })

    const cancelDoc = (x) => {
        $('#'+x).val('')
        // alert(x)
        $('#cancel-'+x).html('')
        $('#label-'+x).html('Test')
    }
    // Validasi File > 5MB


    $('#simpan').click(function (e) {
        $('#Stataus').val('0');
        //setTimeout(function () {
            //swal({
            //    type: "success",
            //    html: true,
            //    title: "Data Berhasil Disimpan",
            //    confirmButtonColor: "#4CAF50"
            //});
        //}, 3000);
    });

    $('#proses').click(function (e) {
        $('#Stataus').val('1');
        //setTimeout(function () {
            //swal({
            //    type: "success",
            //    html: true,
            //    title: "Data Berhasil Disimpan",
            //    confirmButtonColor: "#4CAF50"
            //});
        //}, 3000);
    });

    function cari_berkas() {
        //alert($('#nomorberkas').val());
        $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
        $.ajax({
            url: '@Url.Action("GetBerkasDataByID", "Pengembalian")',
            type: 'post',
            data: {noberkas:$('#nomorberkas').val()},
            success: function (res) {
                //console.log(res.length);
                //if (res.length != '') {
                //console.log(res);
                $.unblockUI();
                    $('#namapemohon').val(res.NAMA);
                    $('#AlamatPemohon').val(res.ALAMAT);
                    $('#Nppwp').val(res.NPWP);
                    $('#KodeBiling').val(res.KODEBILLING);
                    $('#Ntpn').val(res.NTPN);
                    $('#NamaProsedur').val(res.NAMAPROSEDUR);
                    $('#SetoranPnbp').val(addCommas(res.PENERIMAAN));

                //} else {

                    //alert("DATA TIDAK DITEMUKAN..");
                    //ALERT(RES.length);
                //}

            }
        }).fail(function() {
            console.log("error");
            $.unblockUI();
            $('#namapemohon').val('');
            $('#AlamatPemohon').val('');
            $('#Nppwp').val('');
            $('#KodeBiling').val('');
            $('#Ntpn').val('');
            $('#SetoranPnbp').val('');
        });
    }

    //$('.asd').keyup(function (event) {

    //    // skip for arrow keys
    //    if (event.which >= 37 && event.which <= 40) return;

    //    // format number
    //    $(this).val(function (index, value) {
    //        return value
    //        .replace(/\D/g, "")
    //        .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    //        ;
    //    });
    //});

    function addCommas(nStr) {
        nStr += '';
        x = nStr.split(',');
        x1 = x[0];
        x2 = x.length > 1 ? ',' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + '.' + '$2');
        }
        return x1 + x2;
    }

    $('#pengembalian_form').submit(function () {
        //setTimeout(function () {
            //swal({
            //    type: "success",
            //    html: true,
            //    title: "Data Berhasil Disimpan",
            //    confirmButtonColor: "#4CAF50"
            //});
        //}, 3000);
    });

    var SetoranPnbp = document.getElementById("SetoranPnbp");
    SetoranPnbp.addEventListener("keyup", function (e) {
        SetoranPnbp.value = convertRupiah(this.value);
    });
    SetoranPnbp.addEventListener('keydown', function (event) {
        return isNumberKey(event);
    });

    var JumlahBayar = document.getElementById("JumlahBayar");
    JumlahBayar.addEventListener("keyup", function (e) {
        JumlahBayar.value = convertRupiah(this.value);
    });
    JumlahBayar.addEventListener('keydown', function (event) {
        return isNumberKey(event);
    });

    var PermohonanPengembalian = document.getElementById("PermohonanPengembalian");
    PermohonanPengembalian.addEventListener("keyup", function (e) {
        PermohonanPengembalian.value = convertRupiah(this.value);
    });
    PermohonanPengembalian.addEventListener('keydown', function (event) {
        return isNumberKey(event);
    });

    //$(function () {
    //    alert(400000 - 500000);
    //})
    //$('#SetoranPnbp').keyup(function (event) {
    //    var JumlahBayar = parseInt(($('#JumlahBayar').val() != '') ? $('#JumlahBayar').val().replace(/\./g, ""): 0);
    //    var SetoranPnbp = parseInt(($('#SetoranPnbp').val() != '') ? $('#SetoranPnbp').val().replace(/\./g, ""): 0);

    //    if (Number(SetoranPnbp) < Number(JumlahBayar)) {
    //        var jml = '';
    //        $('#PermohonanPengembalian').val( jml);
    //    } else {
    //        var permohonanpengembalian = (Number(SetoranPnbp) - Number(JumlahBayar));
    //        var jml = permohonanpengembalian;
    //        $('#PermohonanPengembalian').val(addCommas(jml));
    //    }
    //    console.log(JumlahBayar);

    //});

    //$('#JumlahBayar').keyup(function (event) {
    //    var JumlahBayar = parseInt(($('#JumlahBayar').val() != '') ? $('#JumlahBayar').val().replace(/\./g, ""): 0);
    //    var SetoranPnbp = parseInt(($('#SetoranPnbp').val() != '') ? $('#SetoranPnbp').val().replace(/\./g, ""): 0);

    //    if (Number(SetoranPnbp) < Number(JumlahBayar)) {
    //        var jml = '';
    //        $('#PermohonanPengembalian').val(jml);
    //    } else {
    //        var permohonanpengembalian = (Number(SetoranPnbp) - Number(JumlahBayar));
    //        var jml = permohonanpengembalian;
    //        $('#PermohonanPengembalian').val(addCommas(jml));
    //    }
    //    console.log(parseInt(JumlahBayar));

    //});

    function convertRupiah(angka, prefix) {
        var number_string = angka.replace(/[^,\d]/g, "").toString(),
        split = number_string.split(","),
        sisa = split[0].length % 3,
        rupiah = split[0].substr(0, sisa),
        ribuan = split[0].substr(sisa).match(/\d{3}/gi);

        if (ribuan) {
            separator = sisa ? "." : "";
            rupiah += separator + ribuan.join(".");
        }

        rupiah = split[1] != undefined ? rupiah + "," + split[1] : rupiah;
        return prefix == undefined ? rupiah : rupiah ? prefix + rupiah : "";
    }

    function isNumberKey(evt) {
        var key = (evt.which) ? evt.which : event.keyCode;
        if (key != 188 // Comma
             && key != 8 // Backspace
             && key != 17 && key != 86 & key != 67 // Ctrl c, ctrl v
            && (key < 48 || key > 57) // Non digit
        ) {
            if (key >= 96 && key <= 106) {
                // numpad
            } else {
                evt.preventDefault();
                return;
            }
        }
    }

    function generate_permohonan() {
        var url = '@Url.Action("GeneratePermohonanPengembalian","Pengembalian")';
        var namapemohon = $('#namapemohon').val();
        var NomorSurat = $('#NomorSurat').val();
        var PermohonanPengembalian = $('#PermohonanPengembalian').val();
        var AlamatPemohon = $('#AlamatPemohon').val();
        var npwpberkas = $('#npwpberkas').val();
        var NamaRekening = $('#NamaRekening').val();
        var NomorRekening = $('#NomorRekening').val();
        window.open(url + '?namapemohon=' + namapemohon + '&NomorSurat=' + NomorSurat + '&PermohonanPengembalian=' + PermohonanPengembalian + '&AlamatPemohon=' + AlamatPemohon + '&npwpberkas=' + npwpberkas + '&NamaRekening=' + NamaRekening + '&NomorRekening=' + NomorRekening,'_blank');
    }

    function generate_keterangan() {
        var url = '@Url.Action("GenerateSuratKeteranganPengembalian","Pengembalian")';
        var nomorsurat = $('#NomorSurat').val();
        var nomorberkas = $('#nomorberkas').val();
        var namapemohon = $('#namapemohon').val();
        var SetoranPnbp = $('#SetoranPnbp').val();
        var JumlahBayar = $('#JumlahBayar').val();
        var NamaProsedur = $('#NamaProsedur').val();
        window.open(url + '?NomorSurat=' + nomorsurat + '&nomorberkas=' + nomorberkas + '&namapemohon=' + namapemohon + '&SetoranPnbp=' + SetoranPnbp + '&JumlahBayar=' + JumlahBayar + '&NamaProsedur=' + NamaProsedur, '_blank');
    }

    function generate_tidak_terlayani() {
        var url         = '@Url.Action("GenerateSuratTidakTerlayani", "Pengembalian")';
        var namapemohon = $('#namapemohon').val();
        var AlamatPemohon = $('#AlamatPemohon').val();
        var nomorberkas = $('#nomorberkas').val();
        var NamaProsedur = $('#NamaProsedur').val();
        window.open(url + '?namapemohon=' + namapemohon + '&AlamatPemohon=' + AlamatPemohon + '&nomorberkas=' + nomorberkas + '&NamaProsedur=' + NamaProsedur + '&satker=' + satker, '_blank');
    }
</script>